[2018-09-07 16:10] LeoNatan commented on #291
Well, I was wondering when iOS 12 will break my stuff 😂

Thanks! I am on vacation now, but will look into this when I am back.

[2018-09-07 16:13] iDevelopper commented on #291
No as I mentioned above, the issue is the same on iOS 11 as well.

[2018-09-07 16:15] LeoNatan commented on #291
Is this just from the storyboard or also in code? If you set up a custom view with constraints to the safe area in code, does it reproduce?

I don't see how it would be broken, unless Xcode 10 storyboard compiler breaks something.

[2018-09-07 16:16] LeoNatan commented on #291
I seem to be misunderstanding something. I will run the example project with your changes so I can see it when I am back.

[2018-09-08 05:41] iDevelopper commented on #291
Hi @LeoNatan , Good holidays!

I'm still not very comfortable with PR!

But after some investigations, setting preservesSuperviewLayoutMargins to YES to the customBarViewController's view solves the problem (In LNPopupBar.m):
[code]

[2018-09-08 11:33] LeoNatan commented on #291
If this is the solution, this is something that users should set for themselves, not the framework override for them.

[2018-09-08 11:35] LeoNatan commented on #291
Also, layout margins are something completely different from safe area. In the maps example, the text field should be constrained against the safe area, not layout margins.

[2018-09-08 14:07] iDevelopper commented on #291
If you don't want to set this property here, you could set it in LNPopupCustomViewController, the super class, at least with the default value, this could help users to think about it.

Also, constraining the field against the safe area does not solve the problem when you rotate the screen to landscape even with this property set to YES. And even with insetsLayoutMarginsFromSafeArea set to YES, bu

[2018-09-08 15:46] LeoNatan commented on #291
I think this is what should be looked at, but I agree about the default. Will look I to it once I’m back. Thanks!

[2018-09-12 17:01] iDevelopper commented on #7
Don't understand why this framework do not have Cocoapods support? I have read that is because of dynamic library, however Cocoapods support this, no?

[2018-09-24 07:49] iDevelopper opened #292 "Insets are not animated."
#### Description
While presenting the popup bar, why the insets are not animated when the container is a navigation controller or a view controller?

#### Steps to Reproduce
Your example.

#### Device, OS and Xcode Versions
Simulator, iOS < 11 (10), Xcode 10

[2018-09-24 08:31] LeoNatan commented on #292
Which insets?

[2018-09-24 08:40] iDevelopper commented on #292
When you present the popup bar, using navigation controller for example, the bottom inset of the child is not animated i.e. the label "Correct Bottom Layout Guide" move up without animation while the popup bar is showing with animation. The issue is not observed if you present the popup bar with tab bar controller or tab bar controller + navigation controller.

[2018-09-24 08:44] LeoNatan commented on #292
Right. I did the best I could there. It’s a big mess, especially in the pre-safe area era. I don’t have an answer.

If it works for iOS 11 and 12, I’m happy.

[2018-09-24 08:51] iDevelopper commented on #292
What do you mean by pre-safe area?

[2018-09-24 08:55] iDevelopper commented on #292
Before iOS 11, additional safe area did not exist and I would like to know how the container UITabBarController class does to add one for iOS < 11. Because I also try to use your framework with a custom container controller but with no success!

[2018-09-24 17:58] iDevelopper commented on #292
Yes I see.
Regarding a custom container view controller, I think that your framework can not work. As you developed the feature, I think you had to test that. Do you have an example?

[2018-09-24 20:12] LeoNatan commented on #292
Which custom container? Do you mean present a popup from a custom container or present a custom container inside as popup content?

For the former, you have built-in support already using `bottomDockingViewForPopupBar`. For the latter, you will have to explain what the issue is so we can think how to solve.

[2018-09-25 10:15] iDevelopper commented on #292
Present a popup bar from a custom container. I am trying using bottomDockingViewForPopupBar. When presenting the popup bar from it, the _LNPopupSupportFixInsetsForViewController function fix insets for the container and then the bottom bar move up too.

[2018-09-25 13:48] iDevelopper commented on #292
Added a demo for custom container in you example. Can I send you by WeTransfer?

[2018-09-25 16:27] LeoNatan commented on #292
Not familiar with WeTransfer. Perhaps a GitHub repo would be easier?

[2018-09-25 17:04] iDevelopper commented on #292
Done, https://github.com/iDevelopper/LNPopupControllerExample

[2018-09-25 17:41] LeoNatan commented on #292
I see the reproduction, but not sure what is going on. I see several issues, but lets focus on the most important one: the bottom bar goes up when presenting the popup bar. Not sure why. I see you are using auto layout, which may be what is causing the issue. Notice the API is frame-oriented, which is a no-no when dealing with autolayout.

My guess is that the bottom bar constraints against the bo

[2018-09-25 18:03] LeoNatan commented on #291
I see an issue here. Will investigate when I have some time.

[2018-09-28 08:51] iDevelopper commented on #292
@LeoNatan , Thanks!

I have updated the repo: https://github.com/iDevelopper/LNPopupControllerExample

If you can have a look when you have time?

**The bottom bar:**
That's it, the bottom bar must not be constrained against the safe area bottom guide but against the superview bottom anchor. I have modified the project to use frame, but we can also use constraints against the container view bottom

[2018-10-01 11:58] LeoNatan commented on #292
It doesn't make sense to use the current frame, as it may be a different frame every time. `defaultFrameForBottomDockingView` is queried a lot, and should be provided explicitly by the developer. Not implementing that method will result in an undefined behavior, as you are seeing.

`insetsForBottomDockingView` was a workaround for iPhone X. It would inset the bottom docking view and the popup bar

[2018-10-01 12:04] LeoNatan commented on #290
It is fired by the system when a setter of this property is used. In the map scene demo, I only set the size once:
[code]

However, if I wanted to change the size of the popup bar, after it has been presented, that observer would fire and the framework would resize the bar as requested.

[2018-10-01 12:04] #290 closed

[2018-10-01 16:49] iDevelopper commented on #292
If `defaultFrameForBottomDockingView ` is not not provided by the developer, I think you should use the original frame, the frame of `bottomDockingViewForPopupBar `. The case when the developer know that the frame never change.

[2018-10-03 03:58] qsdnino opened #293 "Custom close button works only first time"
As first thanks for this exclusive library. It helps me a lot and makes my new app amaizing.

I have one issue with custom close button on my content view controller.  It is simple button which execute this pece of code

`self.popupPresentationContainer?.closePopup(animated: true, completion: nil)`

Whenever I present presentPopupBar with new instance of content view controller custom close button

[2018-10-03 21:36] degello opened #294 "Custom Popup Bar with transparent background"
Hi and thanks for this amazing library,
I've ran into a problem of my own though. I'm wondering if it's possible to make the background color of the minimized view clear instead of just tinting it like in the example. I've tried changing the color in several places but it's only ending up with a completely black background. Look at the image provided to see what i'm trying to achieve. Thanks!

<im

[2018-10-03 21:53] LeoNatan commented on #294
Hello,

Sounds like you want to subclass `LNPopupCustomBarViewController` and implement the view of the custom popup yourself.

[2018-10-03 21:56] LeoNatan commented on #293
Hello,

Sounds like you may not be calling the correct `self.popupPresentationContainer`? Make sure it is the correct instance by setting a breakpoint and inspecting the properties. The `closePopup` method needs to be called for the correct presentation container.

[2018-10-03 22:00] degello commented on #294
I've already done that, I need to add constraints or some type of insets to present the _LNPopupCustomBarViewController_ in the "middle" like the youtube player or just make the _LNPopupCustomBarViewController_ itself transparent and pin a subview inside it to meet my requirements. Let me know if i'm not clear enough.

[2018-10-03 22:40] LeoNatan commented on #294
So I am not sure what the problem is. Add a view and constrain it to have some padding?

[2018-10-04 02:50] qsdnino commented on #294
I also have same scenario. Try almost everything and can't make my LNPopupCustomBarViewController subclass transparent.  I present presentPopupBar over UITabBarController which is root view controller for application

[2018-10-04 08:38] LeoNatan commented on #294
If you set the background color of the LNPopupCustomBarViewController view to transparent, what do you see?

[2018-10-04 12:02] qsdnino commented on #294
Yes, sure. I do that in viewDidLoad and set view background to UIColor.clear. Also I set any other subviews views transparent but without any effect.

[2018-10-04 12:28] qsdnino commented on #294
It is white

Please follow this [link](https://www.dropbox.com/s/advdtgxqcuo411k/Screen%20Shot%202018-10-04%20at%2014.24.56.png?dl=0)

[2018-10-04 12:33] qsdnino commented on #293
This is not an issue. I made bug myself and that was real issue :)
So I guarantee that this works fine and this is not issue.
Thanks...

[2018-10-04 12:39] LeoNatan commented on #294
I don't see how that could be. In my maps example, there is an effect view that blurs the content underneath the popup bar. Your view's background is also white. Could you change it to red just o see if the bar remains white?

[2018-10-04 12:46] iDevelopper commented on #294
@degello , @qsdnino , @LeoNatan

Could you have a look at https://github.com/iDevelopper/LNPopupControllerExample ?

I added a custom container controller.

I also added a custom popup bar the Custom Container Demo and replaced the custom popup bar in the Map Scene Demo by one that looks like Youtube bar.

@LeoNatan , I modified LNPopupBar.m too. You should hide the backgroundView view and the sha

[2018-10-04 13:16] qsdnino commented on #294
Can't build project. ContainerController.swift is missing

[2018-10-04 14:47] iDevelopper commented on #294
I don't understand. ContainerController.swift is in the repo and I just downloaded the zip to make a test without any problem!

[2018-10-05 03:07] qsdnino commented on #294
Please check this [link](https://www.dropbox.com/s/8xveufo6ctl331u/Screen-Shot-2018-10-05-at-04.58.10.png?dl=0)
There is explainer screenshot how I open XCode project. Can't run example

[2018-10-05 04:15] iDevelopper commented on #294
Strange! Is it in the "Demo - Custom Container" folder? If yes, Menu File -> Add Files to "LNPopupControllerExample" and select it.

[2018-10-05 16:58] degello commented on #294
@iDevelopper thanks a lot! I imported your version of LNPopupController and its now possible to have a transparent background

[2018-10-05 23:54] LeoNatan commented on #294
Pull requests are welcome.

[2018-10-06 03:16] qsdnino commented on #294
@iDevelopper I included ContainerController.swift and build project. It works now and the effect is what all of us  need 👍  . However  this is not real UITabBarController implementation. I would be great if we could use UITabBarController for presenting custom bar.

[2018-10-06 04:08] iDevelopper commented on #294
It works also with a tab bar controller! In MapScene.storyboard, embed the MapViewController in a tab bar controller and test the Map example.

[2018-10-06 11:57] LeoNatan commented on #294
I’ll take a look.

[2018-10-08 08:12] LeoNatan commented on #294
Using

[code]

I can already achieve full transparency of the popup bar. There is a small artifact of the hairline, which I am thinking of limiting to translucent bars only.

This is a better solution as it allows custom popup bars to still have the system background, if desired.

[2018-10-08 09:56] iDevelopper commented on #294
Yes, there remains the problem of the shadow view that we do not necessarily want to keep.

[2018-10-08 11:33] qsdnino commented on #294
@LeoNatan, @iDevelopper Is possible to hide hairline? I acheive to have transparen custom popup bar, but there is hairline at the top.

[2018-10-08 11:41] iDevelopper commented on #294
@qsdnino ,

@LeoNatan said:

Waiting for a commit...

[2018-10-08 14:02] MacMark opened #296 "iOS 12.1 beta 2 tab bar distorted"
#### Description
The tab bar is broken with iOS 12.1 beta 2.

#### Steps to Reproduce
Use iOS 12.1 beta 2 and run the LNPopupController demo project.

#### Device, OS and Xcode Versions
iPhone X, iOS 12.1 beta 2, Xcode 10.1 beta 2.

![screen shot 2018-10-08 at 15 58 02](https://user-images.githubusercontent.com/626963/46613313-37748380-cb13-11e8-9057-26b0348f8013.png)

![screen shot 2018-10-08 at

[2018-10-08 18:16] codemonza opened #297 "Semantic issue when compile on Xcode 10.0"
#### Description
On Xcode 10.0, errors when compiling.
Semantic Issue
../LNPopupController/LNPopupController/Private/MarqueeLabel.m:1311:1: Implementing deprecated method
../LNPopupController/LNPopupController/Private/MarqueeLabel.m:1344:1: Implementing deprecated method

@property(nonatomic) CGFloat minimumFontSize NS_DEPRECATED_IOS(2_0, 6_0) __TVOS_PROHIBITED; // deprecated - use minimumScaleFac

[2018-10-08 18:41] LeoNatan commented on #297
Don't update the project or take the latest commit.

[2018-10-08 18:41] #297 closed

[2018-10-08 18:42] LeoNatan commented on #296
Already fixed in master.

[2018-10-08 18:42] #296 closed

[2018-10-08 18:43] LeoNatan commented on #294
Already committed.

[2018-10-08 18:43] #294 closed

[2018-10-09 06:33] MacMark commented on #296
Thanks Leo :-)

[2018-10-09 08:46] LeoNatan commented on #296
Happy coding! I will release a new version soon.

[2018-10-09 15:19] MacMark commented on #296
Good to hear. Great tool by the way. Love it.

[2018-10-10 11:23] wiencheck opened #298 "How to change position of close button/chevron?"
Currently the close button is pinned to left side, but I would like to move it to the right side. Is there a way to do it without modifying private files?

[2018-10-10 13:47] iDevelopper commented on #298
Duplicate issue, #282

[2018-10-10 15:17] DrLuthor opened #299 "Popupbar only translucent if tabbar is."
First of all, thanks for the hard work!

Here's my problem. I'd like to have a solid opaque (alpha = 1) white tabbar and transluscent popupbar.

I tried playing with LNPopupBarStyle, tintColor, backgroundStyle and isTranslucent attributes but I only managed to get a translucent popupbar if my tabbar is translucent.
Did I miss something or is there currently no way to get this result?

If no, do yo

[2018-10-10 15:51] iDevelopper commented on #299
Did you try `popupBar.inheritsVisualStyleFromDockingView = false`?

[2018-10-10 20:16] LeoNatan commented on #298
You need to use a custom close button style and implement the close button yourself. The system styles are intended to be a close match to Apple.

[2018-10-10 20:16] #298 closed

[2018-10-10 20:17] LeoNatan commented on #282
@iDevelopper RTL should already be supported as expected.

[2018-10-10 20:49] iDevelopper commented on #282
Then this issue is not relative to RTL...

@yetdog did not provide the information.

[2018-10-10 20:55] LeoNatan commented on #282
🤷🏻‍♂️

[2018-10-11 09:02] macatingraoallan opened #300 "Pops Out Even When Tapping Outside The Popup Bar"
#### Description
After updating last day, the popup bar detail view controller shows even when tapping outside the Popup Bar, on the other hand, tapping on the Popup Bar itself does nothing.

#### Steps to Reproduce
1. Show a popup bar
2. Tap anywhere on the screen except the popupbar itself (shows the popup detail view controller)
3. Tap on th Popup bar (does nothing)

[2018-10-11 09:50] macatingraoallan commented on #300
Closing this issue as it was happening only in the simulator. Resetting all contents and settings solved the issue.

[2018-10-11 09:50] #300 closed

[2018-10-18 05:32] waelsaad opened #301 "LNPopupController is an amazing project. I wish there is a Swift version of it. Is there a quick way to convert it?"
Hi,

LNPopupController is an amazing project even that it is 3 years old, I am just wondering if anyone or there is any intentions of re-writing this completely in swift or if there is another project that is similar in Swift

I am specifically interested in the Music Player and the popup part of it.

Thank you,

Wael

[2018-10-18 15:05] LeoNatan commented on #301
Why would I rewrite it in Swift? What would be the benefit? What usecase are you seeing now that is not possible or less convenient to do in Swift?

[2018-10-19 09:03] LeoNatan commented on #301
Some of those points are unrelated to the framework itself (3, 5). Others have already been asked (see #143, #211, #285), but due to time constraints, I have not been able to attack.

However, the potential of contributions alone, is not a reason enough to ask for a complete rewrite in a different language. This framework makes extensive use of Objective C runtime, which would be a pain to do in S

[2018-10-19 09:03] #301 closed

[2018-10-19 09:04] LeoNatan commented on #301
But thank you for your willingness to help! I think you'll find that ObjC is not as bad as you think. 😄

[2018-10-30 20:43] funkenstrahlen opened #302 "UITabBar layout issues on iOS 12.1"
#### Description
I have UITabBar layout issues with iOS 12.1. This did not happen on iOS 12.0.1. Please take a look at the following little screen recording for demonstration:

[IMG_1466.TRIM.mov.zip](https://github.com/LeoNatan/LNPopupController/files/2531547/IMG_1466.TRIM.mov.zip)

![screen shot 2018-10-30 at 21 39 43](https://user-images.githubusercontent.com/144173/47748983-5b4b6500-dc8c-11e8-

[2018-10-30 21:17] LeoNatan commented on #302
Duplicate of #296
This has been already resolved.

[2018-10-30 21:18] LeoNatan commented on #302
Ohh, I see you are using the latest version. I will have to look. I solved it in the past.

[2018-10-30 21:30] funkenstrahlen commented on #302
You solved this already? Maybe it is an issue with my setup and the Carthage Version update did not work correctly? This could explain why it works in the example app?

[2018-10-30 21:31] funkenstrahlen commented on #302
I will investigate further tomorrow.

[2018-10-30 21:35] LeoNatan commented on #302
Yes, hopefully, this is it. I had exactly this problem, and I resolved it. I changed a fundamental part of how layout of the popup content controller was performed. I don't see any issue in your code that should trigger this. Let's keep the issue open, but let me know if it's just an issue of not using the latest version.

[2018-10-30 21:40] dylancopeland commented on #302
This is constantly reproducible on iOS 12.1 with LNPopUpController 2.5.25.

[2018-10-30 22:15] LeoNatan commented on #302
@dylancopeland If you run the example project, does the issue reproduce for you?

[2018-10-31 07:47] funkenstrahlen commented on #302
I can confirm your fix aac0256f does solve the problem. I ran the example project before the fix on my device and could reproduce the issue. Current release `2.2.25` does fix the issue in the example project running on 12.1.

Now I am trying to find out why this fix was not applied in my code after running `carthage update`. I will follow up on this here soon.

[2018-10-31 08:01] funkenstrahlen commented on #302
I just realised LNPopupController was not actually update to the latest version by Carthage.

[code]

The last line did not really look like an error to me. It does lead to a failed build though: https://github.com/Carthage/Carthage/issues/2602

Fortunately it is fixed in the latest Carthage release. After updating Carthage I could update successfully to `2.2.25`:

[code]

Does not look that diffe

[2018-10-31 08:01] #302 closed

[2018-10-31 08:32] LeoNatan commented on #302
Glad to hear it! Thanks for the kind words! Happy coding!

[2018-10-31 08:32] LeoNatan commented on #302
@dylancopeland Please try the solution above and let me know if you still see issues.

[2018-10-31 13:54] dylancopeland commented on #302
@LeoNatan That was indeed our issue, too. Thank you!

[2018-10-31 23:34] gulabry opened #303 "UITabBar Icons Attach to Animating LNPopupBar"
#### Description

The icons on a UITabBarController are animating up when you first show a LNPopupBar. This issue exists only on iOS 12.1

#### Steps to Reproduce
Have a UITabBarController with custom icons and then show a LNPopBar above it. When the bar animates into the view, the tab bar icons follow it.

#### iOS 12.1
<img width="443" alt="screen shot 2018-10-31 at 4 10 16 pm" src="https://user

[2018-11-01 00:35] LeoNatan commented on #303
Please use search.

[2018-11-01 00:35] #303 closed

[2018-11-01 05:20] iDevelopper commented on #303
@gulabry , see #302 !

[2018-11-01 07:51] ahmedraad opened #304 "iOS 12.1 CollectionView bottom inset"
I've notices when update xcode to 10.1, when LNPopupBar is presented the uicollectionview cells still behind the bar, which means bottom inset didn't changed

![screen shot 2018-11-01 at 10 50 57 am](https://user-images.githubusercontent.com/17860965/47839521-0dd21380-ddc4-11e8-91e7-1a6722bdbd5d.png)

iOS 12.1
Xcode 10.1
Swift 4.2

[2018-11-01 08:37] LeoNatan commented on #304
Can you attach a sample project?

[2018-11-01 21:42] LeoNatan commented on #304
Seems like you are using an old version. Please update to the latest version. If you think you are running the latest version, see #302 for more information on Carthage bug that prevented updating.

[2018-11-02 07:01] ahmedraad commented on #304
Yeah, it works now after updating, thanks

[2018-11-02 07:01] #304 closed

[2018-11-02 19:55] johnswifttt opened #305 "Crash on startup on iOS 11"
#### Description
I launch your example app `LNPopupControllerExample` from Xcode and the app crashes upon starting. This also happens to my own app. Please see other comment for images of the crash.

#### Steps to Reproduce
Launch your example app `LNPopupControllerExample` on iOS 11.

#### Device, OS and Xcode Versions
iPhone 8 (11.0.1) Simulator
iOS 11
Xcode 10.1
LNPopupController 2.5.26

[2018-11-02 19:55] johnswifttt commented on #305
Picture of crash:
![crash](https://user-images.githubusercontent.com/10701375/47937623-b1e8b700-deb7-11e8-814b-d6530beec742.png)

[2018-11-02 20:34] LeoNatan commented on #305
Oh no. I’ll fix this as soon as possible. Please use the previous version until then.

[2018-11-02 20:55] #305 closed

[2018-11-02 21:04] johnswifttt commented on #305
@LeoNatan Thank you for quick response!! What version would you suggest using? Also how do I revert back to an old version using Carthage?

[2018-11-02 21:06] LeoNatan commented on #305
Released a new version with a fix. Just update to the latest version.

[2018-11-02 21:16] johnswifttt commented on #305
It works!

Just want to thank you for this library and for your commitment to constantly updating it. Awesome work, truly!!!

[2018-11-02 21:20] LeoNatan commented on #305
Cheers, happy coding!

[2018-11-06 13:52] RazeeHJ commented on #228
I am using RTL, the UIBarButtonItem is positioned correctly however the Title and Subtitle is not, it's just next to the UIBarButtonItem on the right side of it while I want it to be pushed to right side corner of the tab UIBar. How can I solve this?

[2018-11-06 14:16] LeoNatan commented on #228
Please do not bump closed old issues. Open a new issue with your question. Thank you

[2018-11-07 07:09] DevZaid opened #306 "Crash on Startup ios 12.1"
im having a crash on start up , im using version 2.6.1

`-[Project.TabBarVC _ln_addChildViewController:]: unrecognized selector sent to instance 0x7fd8ff058000`

<img width="564" alt="screen shot 2018-11-07 at 10 08 05 am" src="https://user-images.githubusercontent.com/11668528/48115805-1c617480-e275-11e8-9d0b-2fba6a8fe0a4.png">

iOS 12.1
Xcode 10.1
Swift 4.2

[2018-11-07 10:48] LeoNatan commented on #306
I am unable to reproduce. Please upload a small demo project that reproduces the issue.

[2018-11-07 12:06] wiencheck commented on #306
I have the same exact issue, it was working fine on 2.5.27

[code]

[2018-11-07 14:31] LeoNatan commented on #306
For now, go back to the previous stable version (2.5.x).
But I will need a demo project, since I am unable to reproduce.

If you run the included example project, does it crash too?

[2018-11-07 15:43] 942v commented on #306
Hi @LeoNatan, I'm, seeing the same issue.

I've tracked it down to here: (UIViewController+LNPopupSupportPrivate.m: 532)

`static inline __attribute__((always_inline)) void _LNPopupSupportSetPopupInsetsForViewController_modern(UIViewController* controller, BOOL layout, UIEdgeInsets popupEdgeInsets)
{
	if([controller isKindOfClass:UITabBarController.class] || [controller isKindOfClass:UINavigationC

[2018-11-07 16:28] iDevelopper commented on #306
This is objective c language then you can try to replace:

`((UINavigationController*)controller).viewControllers` with

`[controller viewControllers]`

[2018-11-07 16:32] LeoNatan commented on #306
@iDevelopper That's not the issue. All the controllers mentioned there respond to `@selector(viewControllers)`.

@942v Unlike Swift, ObjC doesn't mind casting objects from one class to another. That's not the issue. Both `UINavigationController` and `UITabBarController` respond to `viewControllers`.

I need a demo project recreating the issue.

[2018-11-07 16:33] iDevelopper commented on #306
@LeoNatan , yes sorry you're right!

[2018-11-07 16:36] LeoNatan commented on #306
I think there may be two issues here, from the two different crashes provided (by @DevZaid and @wiencheck).

The first one is worrying me because it seems to try to call `_ln_addChildViewController:` directly, which isn't supposed to happen. It probably means swizzling failed somewhere. But I can't reproduce it to know where.

[2018-11-07 17:51] darkForestCat opened #307 "UISearchController keeps crashing UISearchController and UISearchBar after updating to the latest version"
I have updated to the latest version manually and after that when I click UISearchBar or UISearchController app keeps crashing.
Tested on iOS 12.1 and 12.0.
Latest and previous version of Xcode.

Here is the text of the error:

`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[UICompatibilityInputViewController viewControllers]: unrecognized selector sent to i

[2018-11-07 17:53] LeoNatan commented on #307
could you please provide a demo project?

[2018-11-07 17:55] darkForestCat commented on #306
I have the same error when I am trying to work with UISearchBar and UISearchController.
Also the problem with `addChildViewController `

[2018-11-07 18:01] iDevelopper commented on #306
@LeoNatan , testing your example (Map demo), you can reproduce a crash when you tap on the custom popup bar.

[2018-11-07 18:03] LeoNatan commented on #306
@iDevelopper Indeed, just reproduced. I will look at it soon.

I fear there are several crashes here, and this is one of them. I still need demo projects for the split view and tab bar crashes. Thanks

[2018-11-07 18:10] iDevelopper commented on #306
Looks like @DevZaid has a tab bar controller as a view controller of the split view controller, no?

[2018-11-07 18:14] LeoNatan commented on #306
Yes, but somehow the tab bar controller is adding a child view controller to the split view. The first crash trace doesn't make a whole lot of sense to me. The other ones are likely I just forgot to `if` some statements.

[2018-11-07 18:21] LeoNatan commented on #306
Uff, I think I found the source of all crashes. It's a bug in the swizzling.

[2018-11-07 18:34] DevZaid commented on #306
sorry for the late replay , i made a fast demo to show you the crash

[https://drive.google.com/file/d/1bXG1SsQBoaxLOjI3esCILSlMK8drHJ6F/view?usp=sharing](url)

basically all im doing is adding ViewControllers to the TabBarViewController

[code]

[2018-11-07 19:01] #306 closed

[2018-11-07 19:01] #307 closed

[2018-11-07 19:02] LeoNatan commented on #306
Please try with v2.6.2

[2018-11-07 19:02] LeoNatan commented on #307
v2.6.2

[2018-11-07 23:14] #291 closed

[2018-11-07 23:14] LeoNatan commented on #292
Looking at the iOS 10 layout code, I will not have to time to look at how to fix this. Going forward, only iOS 11 and above layout will be improved. Closing this issue for now.

[2018-11-07 23:14] #292 closed

[2018-11-07 23:21] LeoNatan commented on #293
Sorry, unable to reproduce. The system works as expected. I added the following two methods to `DemoPopupContentViewController` in my example project:

[code]

Closing the popup using the button works as expected.

[2018-11-07 23:21] #293 closed

[2018-11-07 23:29] #289 closed

[2018-11-07 23:57] LeoNatan commented on #286
Could you please check with the latest version of the framework? I made some changes to how custom bar controllers are laid out.

[2018-11-08 15:57] florianpreknya commented on #307
I have the same problem, also, the same stack trace. The crash happens when I call _UIViewController.addChild_ on a _UIViewController_ instance (__ln_addChildViewController_ is called for any instance of _UIViewController_, not only for _UISplitViewController_ instances).

You can reproduce the problem with the demo project, by adding the following lines

[code]

in _DemoAlbumTableViewController.v

[2018-11-08 16:06] LeoNatan commented on #307
This has been fixed.

[2018-11-08 16:52] florianpreknya commented on #307
True. Thanks! 👍

[2018-11-09 18:28] iDevelopper opened #308 "Apple close match"
Hi @LeoNatan ,

Do you intend to modify your framework so that the user interface resembles that of Apple's music application?

I would try to do this. What about to use some parts of your code?

Regards,

[2018-11-09 18:38] LeoNatan commented on #308
?

[2018-11-09 18:40] iDevelopper commented on #308
Sorry, updated.

[2018-11-09 18:41] LeoNatan commented on #308
What is missing currently?

[2018-11-09 18:47] iDevelopper commented on #308
The deck presentation for example.

[2018-11-09 18:50] iDevelopper commented on #308
The image animation from the popup bar to the final position.

[2018-11-09 18:50] LeoNatan commented on #308
That’s something that has been asked many times before. It’s not possible currently and would require a lot of changes.

Another one that I started work on but haven’t had time to finish is interactive transitions.

What else have you seen that so not matching?

[2018-11-09 18:54] LeoNatan commented on #196
Closing in favor of #211

[2018-11-09 18:54] #196 closed

[2018-11-09 18:56] LeoNatan commented on #308
#143 #211 #225

[2018-11-09 19:00] iDevelopper commented on #308
Just would like to do that (I have a advanced project) using some parts of your code for the safe area insets! Then the project is written in Swift and Obj C for your nice work!

[2018-11-10 05:46] #308 closed

[2018-11-10 07:34] wiencheck opened #309 "Crash on startup, iOS 10"
App works fine on iOS 12, but on iOS 10 I get crash at app launch, XCode shows this line:
<img width="1418" alt="zrzut ekranu 2018-11-10 o 08 32 18" src="https://user-images.githubusercontent.com/25985996/48298772-309ab100-e4c3-11e8-9339-d7db3236c629.png">

Error log:
[code]

I'm using the newest, 2.6.4 version

[2018-11-11 11:15] wiencheck commented on #309
I have just downgraded the framework to 2.5.27 and the crash is gone, so there is definitely some nasty bug in newest version.

[2018-11-11 11:38] LeoNatan commented on #309
Yes, that's a good idea. I will look at this today. Thanks

[2018-11-11 11:52] iDevelopper commented on #309
additionalSafeAreaInsets property does not exist for iOS < 11!

[2018-11-11 23:11] #309 closed

[2018-11-11 23:12] LeoNatan commented on #309
Fixed.

[2018-11-14 18:09] DrLuthor commented on #143
I'd also be VERY interrested in this design.

[2018-11-30 06:59] ghost opened #310 "Error about constraints is shown in the console"
#### Description

I am presenting a content view controller.
I have added a button to the popup bar.

In the console, the following message is shown.
[code]

#### Steps to Reproduce

I am presenting  a popupBar as follows -
[code]

In the content view controller, I am setting button for the popup as follows-
[code]

#### Device, OS and Xcode Versions

OS - macOS High Sierra ( 10.13.6 )
Xcode - 10.

[2018-12-20 07:40] RazeeHJ opened #311 "Title in popup item not aligned correctly when RTL"
The title and subtitle text is not aligned correctly when using RTL support. Are there any changes I need to do ?  I would like to see the title and subtitle starting from right side, the label starts there however the alignment is not correct.
![screen shot 2018-12-20 at 10 38 57 am 3](https://user-images.githubusercontent.com/6938201/50270703-8a3bb700-0443-11e9-94d1-0e566f8126b4.png)

[2018-12-20 08:32] LeoNatan commented on #311
Can you please edit the photo to show how you expect it to look?

Also, play around with `semanticContentAttribute` and `barItemsSemanticContentAttribute` if the pop up bar.

[2018-12-20 08:35] RazeeHJ commented on #311
I want to see this:
![screen shot 2018-12-20 at 10 38 57 am 3](https://user-images.githubusercontent.com/6938201/50273258-3e8d0b80-044b-11e9-8005-57e9523b88ab.png)

And this is my configuration:

tabBarController?.popupBar.semanticContentAttribute = .forceRightToLeft
tabBarController?.popupBar.barItemsSemanticContentAttribute = .forceRightToLeft

[2018-12-20 08:36] LeoNatan commented on #311
I will test later to see if something broke.

[2018-12-20 08:40] RazeeHJ commented on #311
In this image you can see that the title label position is correct but the alignment of the text is not setup correctly. It should start from right
![screen shot 2018-12-20 at 11 38 41 am 3](https://user-images.githubusercontent.com/6938201/50273489-e4d91100-044b-11e9-8584-6d9934932dfe.png)

[2018-12-20 16:59] iaaflaafc commented on #310
Instead of trying to set `title` for `UIBarButtonItem`, if `image` is set, then autolayout errors are not shown

[2018-12-21 03:58] LeoNatan commented on #311
OK, I made some changes. I'll release a new version.

[2018-12-21 04:04] #311 closed

[2018-12-21 04:04] LeoNatan commented on #311
Try with 2.7.1

[2018-12-21 04:09] LeoNatan commented on #310
Managed to reproduce, thanks.
Investigating.

[2018-12-21 07:24] JacobVinu opened #312 "How to add Slider in LNPopupController"

[2018-12-21 07:43] #312 closed

[2018-12-31 16:28] RazeeHJ opened #313 "Subtitle alignment issue on XS Max"
There is an issue with the alignment of the subtitle when pop up bar is open, this problem is only on iPhone XS Max
<img width="376" alt="screen shot 2018-12-31 at 7 26 09 pm" src="https://user-images.githubusercontent.com/6938201/50563957-375edb00-0d32-11e9-8d96-52166d69307d.png">

[2018-12-31 18:09] iDevelopper commented on #313
I think you will have to elaborate a bit!

[2018-12-31 18:12] RazeeHJ commented on #313
As you can see on the image the Subtitle is covered under the arrow when the view is popped up. But when I run on an iphone the alignment is correct as you can see on the attached view.
<img width="363" alt="screen shot 2018-12-31 at 9 11 58 pm" src="https://user-images.githubusercontent.com/6938201/50565524-cd99fd80-0d40-11e9-9aa6-6d8db2a9f848.png">

[2018-12-31 18:32] LeoNatan commented on #313
What is this "subtitle"? Is this a view that you have added to the content view controller? If so, how have you set up its constraints?

[2018-12-31 18:36] RazeeHJ commented on #313
It is from the library: popupItem.subtitle

[2018-12-31 18:37] LeoNatan commented on #313
I don't understand what you are saying. The subtitle appears in the popup bar, not under the close button in the content view.

[2018-12-31 18:40] RazeeHJ commented on #313
Problem solved, it was a mistake from my side

[2018-12-31 18:41] LeoNatan commented on #313
👍

[2018-12-31 18:41] #313 closed

[2019-01-01 22:57] patwhitehead1 commented on #40
I'm getting an issue when trying to change the progress color. The first time I update it, it works fine. But any time I try to change it, it still shows the old color.

My code:
UIProgressView.appearance(whenContainedInInstancesOf: [LNPopupBar.self]).tintColor = progressColor

Have you come across this issue before with UIAppearance?

[2019-01-02 11:41] tariqul000 opened #314 "uncaught exception error occur"
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[/LNPopupController.DemoMusicPlayerController popupItem]: unrecognized selector sent to instance 0x101f6b4c0'
 when i test in simulator no error found but when i run project in iphone it will make crash

[2019-01-02 12:31] LeoNatan commented on #314
I need more context. How are you running? How are you integrating into you project?

[2019-01-02 15:56] patwhitehead1 commented on #40
Currently I present the popup once, and just update it with new info as the user listens to new tracks. The progress color is based on the associated artwork with each track.

Side note, this framework has been a huge help as we develop our app, so thanks for making this available!

[2019-01-02 22:07] LeoNatan commented on #40
@patwhitehead1 Please open a new issue. I will expose the progress view as a property of the bar, so you can update it.

[2019-01-02 22:09] LeoNatan commented on #40
For now, you can use KVC to get to it: `[[self.popupBar valueForKey:@"progressView"] setTintColor:[UIColor redColor]]`

[2019-01-03 04:31] tariqul000 commented on #314
Thanks for your quick response, I can solve that this issue with your library  include in my project, fast time I only include LNPopupController.framework but it also need to drag and drop LNPopupController.xcodeproj file and then add LNPopupController.framework and it will work.

[2019-01-03 04:31] #314 closed

[2019-01-04 13:29] patwhitehead1 opened #315 "Expose progress view as a property on the popup bar"
#### Description

It would be great if we had access to the progress view in the popup bar. This would allow us to change the progress view color at any time.

Adding this as a new issue as requested in [this comment](https://github.com/LeoNatan/LNPopupController/issues/40#issuecomment-451000464).

[2019-01-04 13:31] patwhitehead1 commented on #40
Thanks!

[Added new issue here](https://github.com/LeoNatan/LNPopupController/issues/315)

Using KVC for now, and it's working as expected. Thanks for the workaround.

[2019-01-04 13:33] LeoNatan commented on #315
Thanks, I will implement this soon.

[2019-01-08 17:14] KristofColpaert opened #316 "Dynamically changing the height doesn't change the height of the docking view"
Hi! Thanks for the great work you're doing with this library.

I've seen you've added a way to change the height of the popupBar dynamically in code ([issue 161](https://github.com/LeoNatan/LNPopupController/issues/161)). This indeed changes the height of the popupBar, but it doesn't change the height of the docking view that pushes up the actual ViewController.

Any ideas how to resize the popupB

[2019-01-08 17:41] LeoNatan commented on #316
Hello
Could you please elaborate what you mean by "doesn't change the height of the docking view"

Could you please provide a screenshot with an explanation what you are seeing vs. what you expect to see?

Thanks

[2019-01-08 18:21] RazeeHJ opened #317 "How to set an image on albumArt from API call a url"
I wonder how I can set my albumArt with an image from an api call a url string basically?

[2019-01-08 18:30] LeoNatan commented on #317
Something like SDWebImage provides a block-based callback API, where your callback is called several times, depending on image cache and placeholder.

[2019-01-08 18:31] RazeeHJ commented on #317
I am using sdwebImage for other purposes but wasn't sure if it would work with this albumartwork

[2019-01-08 18:32] LeoNatan commented on #317
It would, but don't use the UIImageView extension. Instead, use their URL-based API and update the popup item.

[2019-01-08 18:32] #317 closed

[2019-01-08 19:53] RazeeHJ commented on #317
Works perfectly good, thank you

[2019-01-09 21:47] LeoNatan commented on #316
Ping

[2019-01-10 11:32] iDevelopper opened #318 "Tab bar animation issue when pop to view controller interactively"
#### Description
The tab bar is not animated properly when come back from next interactively and when the popup bar is not presented.

#### Steps to Reproduce
In FirstViewController.m, do not present the popup bar,
Launch app, touch Tab Bar Controller + Navigation Controller, then Next.
Swipe Left to Right to come back.

![simulator screen shot - iphone x - 2019-01-10 at 12 16 34](https://user-ima

[2019-01-10 12:34] iDevelopper commented on #318
Seems this is an Apple bug. When I comment the swizzle methods, get the same issue:
[code]
And testing a sample project give me also the same issue:
[TestHidesTabBarWhenPushed.zip](https://github.com/LeoNatan/LNPopupController/files/2745282/TestHidesTabBarWhenPushed.zip)

[2019-01-10 14:52] KristofColpaert commented on #316
We've solved the issue by dismissing the popup controller instead of hiding it trough a different preferredContentSize.

[2019-01-10 14:52] #316 closed

[2019-01-10 15:17] iDevelopper commented on #316
I did not quite understand the question but I can notice that when we change the height of the custom popup bar (while the rotation for example in viewWillTransitionToSize), the safe area is not updated. Also, viewWillTransition is not called in LNPopupCustomBarViewController subclass itself.

[2019-01-10 18:17] LeoNatan commented on #316
@iDevelopper Could you please open an issue and attach a demo project that demonstrates this?

[2019-01-10 20:50] iDevelopper opened #319 "Dynamically changing the custom popup bar height safe area issue"
#### Description
When we change the height of the custom popup bar (while the rotation for example in viewWillTransitionToSize), the safe area is not updated.

Also, viewWillTransition is not called in LNPopupCustomBarViewController subclass itself.

#### Steps to Reproduce
https://github.com/iDevelopper/LNPopupControllerExample

In Maps example. I added a bottom label and change the height on rot

[2019-01-10 20:50] iDevelopper commented on #316
Done. #319

[2019-01-10 21:13] LeoNatan commented on #319
Thanks

[2019-01-10 21:14] LeoNatan commented on #318
This is an Apple bug that was fixed in 12.1.x but because the simulator runtime has not been updated, it still shows it. Try running on a real device.

This bug happened to WhatsApp, for example, because they have the same gesture.

[2019-01-10 21:14] #318 closed

[2019-01-10 21:38] iDevelopper commented on #318
Yes, I have already test it on a 12.1.3 device. Solved.

[2019-01-24 16:59] markotl88 opened #320 "State restoration in LNPopupController"
Hello Leo,
Is it somehow possible to preserve popBar's **_contentViewController_ state,** when _contentViewController_ is presented with method
`- (void)presentPopupBarWithContentViewController:(UIViewController*)controller openPopup:(BOOL)openPopup animated:(BOOL)animated completion:(nullable void(^)(void))completion;
`
##### Description
[code]
tabBarController and playerViewController have their

[2019-02-02 14:10] LeoNatan commented on #201
Add a UIVisualEffectView and set it as the bottom docking view using the `bottomDockingViewForPopup` property.

[2019-02-04 21:55] patthehuman commented on #143
hello. is this open?

[2019-02-19 12:19] carloskekwa commented on #233
![img_1510](https://user-images.githubusercontent.com/5887468/53014297-c219a780-3450-11e9-9a56-5ecc684a3a11.JPG)
![img_1511](https://user-images.githubusercontent.com/5887468/53014298-c219a780-3450-11e9-9f99-9beb63b7e08f.JPG)
![img_1512](https://user-images.githubusercontent.com/5887468/53014299-c2b23e00-3450-11e9-8fe8-1098b70546ff.JPG)
Hello,

I am having the same issue and i don't think it is re

[2019-02-26 11:54] qsdnino opened #322 "viewwillappear close"
#### Description

#### Steps to Reproduce

#### Device, OS and Xcode Versions

[2019-02-26 11:54] #322 closed

[2019-03-01 08:40] yarodevuci opened #323 "How to Dismiss popup View Controller?"
I have tried:

 self.closePopup(animated: true, completion: nil)
self.dismissPopupBar(animated: true, completion: nil)

navigationController?.closePopup(animated: true, completion: nil)

Nothing works.. Any idea?

[2019-03-01 08:45] yarodevuci commented on #323
Worked for me
popupPresentationContainer?.dismissPopupBar(animated: true, completion: nil)

[2019-03-01 20:27] LeoNatan commented on #323
You call `dismissPopupBar` on the presenting controller.

[2019-03-01 20:27] #323 closed

[2019-03-02 18:40] piesoftdev opened #324 "PopupPresentationState"
[code]

I am checking the presentation state like this but it's not working, it's always entering the if statement even if it's already open.

[2019-03-02 18:53] iDevelopper commented on #324
What about tabBarController?.popupPresentationState?

[2019-03-02 19:03] piesoftdev commented on #324
Thank you

`tabBarController?.popupPresentationState == .hidden `

is what I needed

[2019-03-02 21:36] #324 closed

[2019-03-08 22:04] dohait opened #325 "Darken background while opening popup view"
#### Description
Hi! First of all thanks for your great framework.

I am new to Objective C. Is there a way to darken the background while opening the popup view and make it clear again when it closes to the popup bar?

#### Device, OS and Xcode Versions
Does not matter.

[2019-03-09 03:06] LeoNatan commented on #325
Hello,

This is not possible right now. I think this is a future PR by @coolstar

(I will be reviewing the other PR soon, I promise!)

[2019-03-10 10:07] dohait commented on #325
Is there a workaround?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 11:07] iDevelopper commented on #325
There is my fork.

[2019-03-12 05:25] iosnivida opened #326 "How to hide bottom music bar in swift 4 in LNPopupController"
#### Description

#### Steps to Reproduce

#### Device, OS and Xcode Versions

[2019-03-12 06:16] #326 closed

[2019-03-14 15:05] johnswifttt opened #327 "How to Turn Off Automatic Bottom Adjustment"
#### Description
How do I turn off the automatic bottom adjustment (bottom layout)? I have a collectionView that is full screen and when I present the popupBar, the collectionView animates up to make space for the popupBar automatically. I don't want the collectionView to move up. In this case, I want the popupBar to simply go over my collectionView.

I look at your documentation but I could find

[2019-03-14 15:35] LeoNatan commented on #327
Can't you change the `contentInsetAdjustmentBehavior` property of the scrollview to be `UIScrollViewContentInsetAdjustmentNever`?

[2019-03-14 16:01] johnswifttt commented on #327
Thanks for reply! @LeoNatan

I just tried `collectionView.contentInsetAdjustmentBehavior = .never` like you suggested but it doesn't work. The entire view still shifts when the popupBar is presented/dismissed. Please see below for what exactly I'm doing.

This is how I set `contentInsetAdjustmentBehavior`:
[code]

This is how I size the collectionView cell. I have two different options. Depending

[2019-03-14 16:03] LeoNatan commented on #327
Ah I see, you are layout out the collection view against the safe area. There is no way to disable that. You should lay your collection view out against the super view, and then the `contentInsetAdjustmentBehavior` should work.

[2019-03-14 16:32] johnswifttt commented on #327
Interesting, that works. It seems that anything that is pinned to the bottom safe area is animated/moved with the popupBar.

I just ran a new test with your suggestion:
1. I pinned the `collectionView` to the super view.
2. I pinned the `image` to the super view
3. **I pinned `MY BUTTON` to the bottom safe area.**

The only one that now animates.moves when the popupBar is presented/dismissed is 3.

[2019-03-14 16:32] johnswifttt commented on #327
Thank you for helping. Last question, is there a way to shut off this behavior? @LeoNatan

[2019-03-14 16:42] LeoNatan commented on #327
No such setting. The whole point of the safe area guide/margin is that it tells the layout system where it is safe to put important elements. Your "My Button" is laid against the safe area, meaning you want it to be placed where it is safe to put content. When the popup bar appears, that safe area is extended to include the bar's height.

BTW, if you are making changes following my recommendation,

[2019-03-14 16:45] LeoNatan commented on #327
Closing the issue as it seems to have been resolved. But we can keep the discussion.

[2019-03-14 16:45] #327 closed

[2019-03-24 13:20] wiencheck opened #328 "Closing popup Programmatically causes layout of popupBar to break"
I attached a video of this issue, the first time I'm closing the view by dragging it down, second time is done programmatically by calling
`containerController?.closePopup(animated: animated, completion: nil)`

Container controller is the one with popupBar, but it's taking full screen so I don't think it's the issue

https://gfycat.com/LongNeighboringFlyingsquirrel

[2019-03-25 09:13] LeoNatan commented on #328
Hello

How are you presenting the popup bar? What is the bottom docking view? I would like to reproduce this.

[2019-03-25 09:16] LeoNatan commented on #328
Not able to reproduce this in the demo project. I've seen issues related to layout when some constraints are used, but I don't remember the specific configuration. If you are able, please provide a demo project, or a detailed description on how to reproduce the issue.

[2019-03-25 09:23] LeoNatan commented on #283
This seems like an Apple bug. The navigation controller seems to misbehave under the particular condition that the demo project displays. It still reproduces under Xcode 10.2/iOS 12.2 beta, so I suggest opening a bug report with Apple.

[2019-03-25 09:23] #283 closed

[2019-03-25 10:09] LeoNatan commented on #319
Fixed:

![gif](https://user-images.githubusercontent.com/2270433/54911149-8150fa80-4ef6-11e9-92ea-7d402e46f17a.gif)

`-willTransitionToTraitCollection:withTransitionCoordinator:` and `-viewWillTransitionToSize:withTransitionCoordinator:` are both called correctly. Setting the size there like so works correctly:

[code]

[2019-03-25 10:18] LeoNatan commented on #319
Also fixed an issue where safe area insets were not maintained correctly.

[2019-03-25 10:20] #319 closed

[2019-03-25 19:02] ggirotto opened #329 "iPhone XS bottom spacing"
#### Description
Extra bottom spacing at iPhone XS when not using with TabBar

#### Steps to Reproduce
Just present a VC using the LNPopupController framework in iPhone XS
A project reproducing the bug is attached
[LNPopupBug.zip](https://github.com/LeoNatan/LNPopupController/files/3005034/LNPopupBug.zip)
Such as a image showing the bug

![IMG_1327](https://user-images.githubusercontent.com/117457

[2019-03-25 19:12] LeoNatan commented on #329
Hello,

This is not a bug, the system is behaving as expected. If you wish to cover this, you should either define a bottom docking view (with the appropriate frame), or add a view and constraint its height to the safe area  layout guide's bottom.

You can see an example of the above in the maps example in the example project.

[2019-03-25 19:12] #329 closed

[2019-03-26 08:35] iDevelopper commented on #283
This is not an iOS bug and this behaviour is completely normal. The last view controller is pushed by the navigation controller (show uses push in this case as the controller who show the last one is a navigation controller).

[2019-03-26 08:38] LeoNatan commented on #283
The problem isn't that the controller is pushed, but that the navigation items remain as they are. I am not sure it's the intended behavior.

[2019-03-26 08:48] iDevelopper commented on #283
@property(nonatomic, strong) UIBarButtonItem *rightBarButtonItem;
Discussion
The contents of this property always refer to the first bar button item in the rightBarButtonItems array. Assigning a new value to this property replaces the first item in the rightBarButtonItems array with the new value. Setting this property to nil removes the first item in the array. If the bar button item is already i

[2019-03-26 11:12] retrokid opened #330 "cocoapods pod"
#### Description

there is a cocoapod at this link:

https://cocoapods.org/pods/LNPopupController

i installed via that link and it always crashed whenever i call .popupItem.title
or self.tabBarController?.presentPopupBar(withContentViewController

after that i remove pod and i use manual installation as described in readme.md and now it works.

I just want you to know that pod is not working. At

[2019-03-26 11:16] LeoNatan commented on #330
Hello,

As [explained in the readme](https://github.com/LeoNatan/LNPopupController#cocoapods), CocoaPods is not supported. It has never been supported, so that pod is not official.

Please use the official methods described in the readme.

Thanks

[2019-03-26 11:16] #330 closed

[2019-03-26 15:14] LeoNatan opened #331 "CocoaPods is not supported!"
As stated in the readme, CocoaPods is not supported by this framework. You are welcome to create your own pods, but they are unsupported. There seems to be https://cocoapods.org/pods/LNPopupController (#330) which is not an official pod and seems broken.

It is important to state that you can mix CocoaPods with the methods outlined in the readme (such as Carthage).

[2019-03-26 15:14] #331 closed

[2019-03-27 16:41] LeoNatan commented on #328
Ping

[2019-03-31 21:38] #328 closed

[2019-04-08 20:34] JayceBryce opened #332 "Dismissing popupController is causing cellForItemAt to be called?"
#### Description
This is a very weird issue and might be something I'm doing wrong. When I have the popUp bar present in its lowered state I have a close button which I can tap and it dismisses. The issue is when I tap the close button while present in a view controller with a collection view for some reason cellForItemAt gets called and my cells load again? It's almost like I'm calling reloadData

[2019-04-08 22:15] LeoNatan commented on #332
Can you upload an example project? I think this is by design by Apple, but want to make sure. Thanks

[2019-04-08 22:17] LeoNatan commented on #332
Thinking about it, it is by design. When you hide the bar, the collection view gets notified of additional space available at the bottom, and it asks it’s delegate for more cells. Try printing the indices of the cells it asks for.

[2019-04-09 02:39] JayceBryce commented on #332
Thanks for the response. Is there a way we can stop this from happening? Basically when I close the popupBar my collection view "scrolls" to a random cell which is really weird and not suppose to happen.

[2019-04-10 00:47] Enatalicio commented on #332
@LeoNatan Just following up on this issue. Thanks

[2019-04-10 00:48] JayceBryce commented on #332
@LeoNatan Just checking in to see if you had a chance to take a look?

[2019-04-10 01:19] LeoNatan commented on #332
I'm not sure if there is something to look. I suspect you have some logic that invalidates the entire collection layout when the safe area changes. While I don't have collection views in my example project, there is a table view, which should behave similarly. You can see that no scrolling happens when the bar appears and disappears.

[2019-04-10 19:53] JayceBryce commented on #332
@LeoNatan Thanks for explanation, however the issue still persists. When I open the popupBar or dismiss the popupBar, my collectionView's `cellForItem` is called at times. I set some breakpoints to see why. Please see this screenshot with the call stack below:

<img width="1677" alt="cellForItem" src="https://user-images.githubusercontent.com/37093552/55908738-37c80700-5ba8-11e9-88a8-a4f8ee1227c6.

[2019-04-12 02:32] JayceBryce commented on #332
@LeoNatan ^^^ Please see above, Thanks!

[2019-04-12 09:57] LeoNatan commented on #332
I am not sure what you want me to look at. In the "reason" screenshot above, I am laying out the view. The system has decided to fill its cache with more cells. I explained why this is happening above. I asked you to log which index paths are requested in `cellForItemAtIndexPath:`.

[2019-04-12 19:49] JayceBryce commented on #332
Thanks for the response. We have a total of 4 collection view cells. When we close the bar the issue occurs when the cells seem to scroll and the index paths that always print is this:

`[0, 0]
  [0, 1]`

@LeoNatan

[2019-04-12 22:09] LeoNatan commented on #332
What do you mean scroll? You mean jump around?
Can you create a sample project with the behavior showing and upload here?

[2019-04-15 18:55] JayceBryce commented on #332
### Sample Project
@LeoNatan Great suggestion! I decided to use your sample project. It seems I have replicated what is occurring in my app. Basically, `cellForRowAt` is called after closing the popup bar in the Music Player sample.

### Overview:
Below, please see the following:
1. A picture of `cellForRowAt` being called after dismissing the popup bar
2. How to replicate this behavior

#### 1. A

[2019-04-16 20:38] JayceBryce commented on #332
@LeoNatan Looking forward to hearing your thoughts on above ^ --- thank you!

[2019-04-16 21:42] LeoNatan commented on #332
There is no need for these bumps. I will look at it when I have time. Please.

[2019-04-20 17:39] JayceBryce commented on #332
![Screen_Shot_2019-04-20_at_1_33_50_PM-2](https://user-images.githubusercontent.com/37093552/56460474-41542a80-6371-11e9-94e1-ad3a814580cc.png)

I tried looking into this more, to see why in my app, my collection view scrolls when I either open/close the popup bar. It seems that my `scrollViewDidScroll` is called which means that the collection view scrolled after I open the popup bar. Interesting

[2019-04-21 01:13] LeoNatan commented on #332
I looked at the demo project and it behaves exactly as intended by the system.

When the bar hides, it reduces the controller's safe area, which in turn updates the [adjustedContentInset](https://developer.apple.com/documentation/uikit/uiscrollview/2902259-adjustedcontentinset?language=objc), which causes the table view to scroll down, which in turn asks for a cell. This is what you are seeing in

[2019-04-21 01:13] #332 closed

[2019-04-21 01:35] LeoNatan commented on #332
If you must, you can set the scroll view's `contentInsetAdjustmentBehavior` to `.never`, which will stop safe area adjustment from influencing the scroll view, but that will most likely break your UI, so I absolutely discourage you from doing it.

[2019-05-27 10:21] djmixroman opened #333 "Presenting view controller above opened popup controller breaks the constraints and pan gesture recognizer"
I'm trying to present view controller above opened popup controller, but when I close my view controller opened popup controller breaks layout and breaks pan gesture recognizer.

Attach a video
https://vimeo.com/338658102

Any iPhone, iOS 12.2, Xcode 10.2.1

[2019-05-27 10:58] #333 closed

[2019-05-27 11:00] djmixroman commented on #333
Sorry. I just called presentPopupBar(withContentViewController:animated:completion:) in tabBar controller viewWillAppear(_:) method many times.

[2019-06-04 19:21] JacobSyndeo opened #334 "iOS 13 Support"
#### Description
When presenting a popupController on iOS 13, the application crashes. The device log says:

An exception breakpoint reveals the issue to be caused in `LNPopupController.m:924`:
[code]
So apparently we can't set that property anymore.

#### Steps to Reproduce
Present a popupBar on iOS 13

#### Device, OS and Xcode Versions
iPhone Xs
iOS 13 beta 1
Xcode 11 beta 1

[2019-06-04 21:12] JacobSyndeo commented on #143
![Simulator Screen Shot - iPhone Xs - 2019-06-04 at 14 45 39](https://user-images.githubusercontent.com/1004637/58912568-98bb1980-86d7-11e9-8a3a-53d8e80ed7d0.png)
It appears that this is now the default presentation style for modal views as of iOS 13 beta 1! This screen isn't using LNPopupController, but iOS 13 is definitely giving it the same effect as Apple Music.

[2019-06-05 13:01] LeoNatan commented on #334
Thanks
I will sherlock your thread for the entire initial iOS 13 support tracking.

I will start looking at this soon, once the iOS beta and Xcode are a bit more stable.

[2019-06-05 13:03] LeoNatan commented on #143
@JacobSyndeo 👍

It's interesting to see if this can be adapted into LNPopupController. I currently do not use the presentation APIs, but maybe there is a presentation controller that can be used to achieve this for the background view.

[2019-06-07 08:21] MacMark commented on #334
I have this issue too:

[General] CRASH: Access to _UIBarBackground's _shadowView ivar is prohibited. This is an application bug

	8   LNPopupController                   0x00000001032d6d20 -[LNPopupController _configurePopupBarFromBottomBar] + 1396
	9   LNPopupController                   0x00000001032d9a18 -[LNPopupController presentPopupBarAnimated:openPopup:completion:] + 1168
	10  LNPopupCont

[2019-06-07 08:27] LeoNatan commented on #334
There is always `object_getIvar()`. 😂

[2019-06-07 08:27] LeoNatan commented on #334
I will look into this soon.

[2019-06-07 08:35] MacMark commented on #334
iOS 13 has the **card** appearance style as a default for modal presentations. Maybe an option to configure the appearance style of the popup would be useful to enforce the "old" look of the popup?

[2019-06-07 08:41] LeoNatan commented on #334
The popup does not currently use the normal presentation methods of iOS (e.g., `UIPresentationController`), so it shouldn't trigger that card presentation. Since I haven't looked at the iOS 13 runtime at all to see how this card presentation is achieved, I cannot say whether it is possible to use for the popup in a way that does not require rewriting everything.

In any way, SwiftUI support seems

[2019-06-07 08:41] iDevelopper commented on #334
@MacMark , Actually the framework does not use presentViewController:animated method for presenting the popup content view controller.

[2019-06-07 08:45] MacMark commented on #334
Yes, you're right, the popup is not affected by the card stuff and looks the same like before. My mistake.

[2019-06-07 08:47] iDevelopper commented on #334
@LeoNatan , they just added a new value for the modalPresentationStyle property (UIModalPresentationAutomatic).

A presentation style chosen by the system. And this is the default value.

[2019-06-07 08:48] LeoNatan commented on #334
@iDevelopper So there is no way to reproduce this manually using some UIPresentationController subclass? It's all private?

[2019-06-07 09:39] iDevelopper commented on #334
@LeoNatan , no way. It is like it was before except this new value for modalPresentationStyle property.

[2019-06-07 11:15] LeoNatan commented on #334
Thanks

[2019-06-07 16:28] iDevelopper commented on #334
iOS 13 beta: Also, It seems that Apple has removed the swipe gesture to present the maxi player in Music App. But she was not very good in fact ... A lot of glitch effects...

[2019-06-07 16:28] LeoNatan commented on #334
You mean drag?

[2019-06-07 16:30] iDevelopper commented on #334
Yes from the popup bar to open the popup content view controller by dragging up.

[2019-06-07 16:37] iDevelopper commented on #334
But it is the first beta and in my implementation, the drag does not work when modalPresentationStyle is set to the default value. They will surely correct...

[2019-06-08 18:35] LeoNatan opened #335 "iOS 9, 10 support has been dropped in 2.9.0+"
Hi guys,

I am planning to clean up the code and drop support for 9, 10. I will create a stabilized version with iOS 13 support, and that will be the last to support legacy OSes.

After that, I plan to clean the code from legacy and maybe rewrite some of the presentation stuff as time permits.

[2019-06-08 18:37] LeoNatan commented on #334
I've found the issue and will push a fix soon.
I've also noticed another issue, where trying to dismiss the popup actually dismisses the container controller itself, due to the new presentation stuff by Apple.

[2019-06-08 20:23] LeoNatan commented on #334
iOS 13 is presenting … challenges. 🙃

[2019-06-09 12:03] coolstar commented on #335
Don't forget we should merge #321 first :P

[2019-06-09 12:05] LeoNatan commented on #335
I haven’t forgotten. I am thinking how to make it more generalized to any docking view.

[2019-06-09 13:57] LeoNatan commented on #334
Dark mode support will be coming later, as there are currently bugs in the system: https://twitter.com/smileyborg/status/1137511042949365761

[2019-06-09 17:20] LeoNatan commented on #334
Pushed a fix on master with support for iOS 13.

[2019-06-10 12:07] djmixroman commented on #335
Maybe it makes sense to merge the changes of the @coolstar before drop down the support of iOS 9 and 10?

[2019-06-10 12:10] LeoNatan commented on #335
Actually, I’m not sure about that. Adding such a big feature would require a long stabilization period, which I have neither the capacity for not the interest. iOS 9 and 10 are very outdated in their API.

[2019-06-17 12:11] piesoftdev opened #336 "Label frames in RTL - barStyle compact"
The label frames(title and subtitle) are misplaced on the BarStyle compact when the application is set to RTL
![Simulator Screen Shot - iPhone 8 - 2019-06-17 at 15 08 08](https://user-images.githubusercontent.com/47597599/59603492-3966fb80-9112-11e9-9976-91ac30ac7a03.png)

[2019-06-17 14:46] LeoNatan commented on #336
Thanks, I will try to reproduce and fix.
Is this issue only for compact bars?

[2019-06-17 15:25] LeoNatan commented on #336
Works in prominent bar as well:

![Simulator Screen Shot - iPhone Xs Max - 2019-06-17 at 18 25 12](https://user-images.githubusercontent.com/2270433/59616556-58bf5200-912d-11e9-8652-242d4054244a.png)

[2019-06-17 15:32] LeoNatan commented on #336
Ah, I managed to reproduce. It only occurs when there is one button on the bar.

[2019-06-17 21:50] LeoNatan commented on #335
Seems like the dev tools are broken for iOS 10 anyway:
https://twitter.com/LeoNatan/status/1140695880015777792
and Apple is abandoning the iOS 8/9 simulator runtime after Xcode 11:
https://twitter.com/xenadu02/status/1140093901438689280

More nails in the ⚰️.

[2019-06-17 22:41] #336 closed

[2019-06-18 00:24] LeoNatan commented on #334
Added support for iOS 13 dark mode.
There is one issue that I know of that I need to fix, and that's UITabBarController+UINavigationController pop animation.

[2019-06-18 00:29] LeoNatan commented on #334
![5DA55869-A29B-4725-9CBE-D4C4264176F8](https://user-images.githubusercontent.com/2270433/59645169-39e6ad00-9179-11e9-8679-54f8ad884698.gif)

Quick GIF from the phone running beta 2.

[2019-06-18 07:15] piesoftdev opened #337 "Transparent popup"
I am trying to have a transparent popup view, is there anything I am missing?

[code]

[2019-06-18 09:36] LeoNatan commented on #337
If you want a fully transparent popup, you should disable translucency.

[2019-06-20 08:01] djmixroman opened #338 "UITabBar layout issues"
#### Description
Hi. I have UITabBar layout issues with iOS 12.3.1. This did happen also on iOS 12.0.1. Please take a look at the following little screen recording for demonstration:

[IMG_0008.TRIM.MOV.zip](https://github.com/LeoNatan/LNPopupController/files/3309348/IMG_0008.TRIM.MOV.zip)

#### Steps to Reproduce
I found this bug in my application and I thought that I messed up something, but the

[2019-06-20 15:59] iDevelopper opened #339 "Xcode 10.2"
Hi @LeoNatan ,
#### Description
We can not run your example with Xcode 10.2 because of new values for colors in storyboards. Is that intentional?
#### Steps to Reproduce
Open example project with Xcode 10.2 and select Main.storyboard.

[2019-06-20 16:07] LeoNatan commented on #339
Yes, this was intentional. The demo project now requires Xcode 11 to build. The framework itself can be built on Xcode 10. I just couldn't find a convenient way to start supporting all the iOS 13 features without upgrading the demo project, and I didn't want to duplicate into two projects or branches. The demo project has become, over the years, my testing tool for the framework.

[2019-06-20 16:07] #339 closed

[2019-06-20 16:07] LeoNatan commented on #338
Thanks, I will take a look

[2019-06-20 16:07] #337 closed

[2019-07-11 10:43] djmixroman commented on #338
@LeoNatan Any news?

[2019-07-11 11:09] djmixroman commented on #338
I found this bug on https://forums.developer.apple.com/thread/113072

[2019-07-11 11:58] LeoNatan commented on #338
Sorry, have been unable to look yet. I've seen an issue on iOS 13 where popping back to a tab bar controller causes some tab bar issues. I intend to look at this soon.

[2019-07-11 14:43] LeoNatan commented on #338
I am unable to reproduce on a clean project with LNPopupController embedded, but I was able to reproduce on the Music demo.

[2019-07-11 15:06] LeoNatan commented on #338
What's even more odd, pushing and pop reproduces the issue, but not using `self.performSegue(withIdentifier: "test", sender: nil)` (which also pushes a view controller.

[2019-07-11 15:08] LeoNatan commented on #338
I can't reproduce this at all on iOS 13. This is most likely an iOS bug. The tab bar on iOS 12.1 and above is very buggy.

[2019-07-11 22:54] LeoNatan commented on #338
Found a way to fix it, even if Apple bug. Maybe I should add another bullet as a feature of the framework; "Link this framework even if you don't need a popup, it will fix UIKit for you" 😂

[2019-07-11 22:57] #338 closed

[2019-07-11 23:01] LeoNatan commented on #338
v2.7.2 out with this fix.

[2019-07-11 23:01] LeoNatan commented on #336
v2.7.2 is out with a fix for this.

[2019-07-11 23:02] LeoNatan commented on #319
v2.7.2 is out with a fix for this.

[2019-07-11 23:03] LeoNatan commented on #334
v2.7.2 is out with initial support for iOS 13 (up to and including beta 3)
Please test and report back how it works for you. Thanks

[2019-07-31 12:06] piesoftdev opened #340 "TabBar height issue in version 2.7.2"
In my app I've a TabBar and when the LNPopup is not open then the tab bar is not positioned correctly, would you please able to look into this? Thank you

![Screen Shot 2019-07-31 at 3 04 27 PM](https://user-images.githubusercontent.com/47597599/62210339-96f29700-b3a4-11e9-85fc-112ed3fe3110.png)

[2019-07-31 12:10] LeoNatan commented on #340
Hello,

Can you please provide a demo project that reproduces this?

[2019-08-09 13:39] #340 closed

[2019-08-16 13:17] mikhaelmina opened #341 "Runtime crash when using the framework from Swift"
Hi, I have included the framework in a swift project the manual way but I have a crash when accessing the `popupitem` method from the content view controller

the crash has also some notes:
`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[AsanaRebel.AudioPlayerViewController popupItem]: unrecognized selector sent to instance`

sometimes I also get this after the

[2019-08-17 00:24] LeoNatan commented on #341
That error tells me you have not linked the framework properly in your project.

[2019-08-17 00:36] LeoNatan commented on #341
The example project already has a Swift example, which works as expected.

[2019-08-18 21:22] Kedar-27 opened #342 "Get Interactive Transition Progress value"

[2019-08-19 04:47] LeoNatan commented on #342
There is a template of a reason. Don't ignore it.

Also, use search before opening a new issue.

https://github.com/LeoNatan/LNPopupController/issues/211

[2019-08-19 04:47] #342 closed

[2019-08-19 06:20] Kedar-27 commented on #342
can you please provide me more detail...dont know how to use transition coordinator..please help

[2019-08-19 06:37] LeoNatan commented on #342
Not possible at the moment. The issues are open.

[2019-08-19 07:03] Kedar-27 commented on #342
ok..if you find any, please provide me with one....badly stuck in the middle of a project. @LeoNatan

[2019-08-19 07:04] LeoNatan commented on #342
Why not check out the demo project and how I have the blur there? That’s the best I can offer in the near future.

[2019-08-19 07:48] iDevelopper commented on #342
@Kedar-27 , What about adding your own target:action to the popupInteractionGestureRecognizer?

[code]
[code]

[2019-08-19 09:19] Kedar-27 commented on #342
thank you @iDevelopper ..achieved this in swift by`

    @objc func handlePanGesture(gesture: UIPanGestureRecognizer?){

        guard let _: CGPoint? = gesture?.translation(in: view) else { return }

            if gesture?.state == .changed || gesture?.state == .ended {

            let percent = ((UIScreen.main.bounds.size.height - popupContentView.frame.height) / UIScreen.main.bounds.size.heig

[2019-08-19 10:58] LeoNatan commented on #342
Nice. Do you mind posting a video to show how it looks?

[2019-08-19 11:36] iDevelopper commented on #342
Great! Thank You!

[2019-08-20 10:57] Kedar-27 commented on #294
@LeoNatan @iDevelopper....how can we acheive full transparent background of popup content view of custombar controller....because, currently it is showing blur view on background...is there any solution

[2019-08-20 11:27] Kedar-27 opened #343 "Presenting Custom Bar inside Popup Content View"
can we achieve transition similar to this
[https://imnotyourson.com/draggable-view-controller-interactive-view-controller/](url)

currently, popup bar is attached to the top of popup content view which causes unpleasant transition

[2019-08-20 11:30] LeoNatan commented on #343
Read docs.

[2019-08-20 11:30] #343 closed

[2019-08-20 11:33] LeoNatan commented on #343
You mean the fade out or the smooth pull of the pop up? The first is not possible. The purpose of this framework is to emulate the look and feel of the Apple Music app implement ration.

[2019-08-20 11:45] Kedar-27 commented on #343
not exactly concerned with animation.....just technically wanted the top constraint of popup content view to be aligned with top of of popup bar....is this possible

[2019-08-20 11:57] iDevelopper commented on #343
@LeoNatan ,

This is not really the case now!

[2019-08-20 11:59] LeoNatan commented on #343
It is the case, as much as I have time to work on it. The fork button is always available for anyone to press and do things differently.

[2019-08-20 12:43] Kedar-27 commented on #343
can you help me with this issue

[2019-08-20 14:10] LeoNatan commented on #343
It's not possible. The content starts beneath the popup bar.

[2019-08-21 05:25] Kedar-27 commented on #294
can somebody please help

[2019-08-21 05:40] LeoNatan commented on #294
@Kedar-27 Please don't spam threads. This is not your personal support forum and nobody owes you basic usage help.

As I said, read the documentation.

[code]

[2019-08-21 06:00] Kedar-27 commented on #294
I read your documentation.....but my problem is with popupcontentview not with popup bar

[2019-08-21 06:10] LeoNatan commented on #294
I don't think it's possible. If there is transparency in the content controller's view (alpha < 1.0), a blur effect is applied.

[2019-08-21 06:14] Kedar-27 commented on #294
can we remove that blur effect

[2019-08-21 06:37] LeoNatan commented on #294
Not at the moment.

[2019-08-21 06:39] LeoNatan commented on #294
Open a new feature request issue. @Kedar-27

[2019-08-21 06:39] LeoNatan commented on #341
Ping. Did you get it to work?

[2019-08-21 06:41] Kedar-27 opened #344 "Ability to remove blur effect of PopupContentView"

[2019-08-21 06:42] LeoNatan commented on #344
I will take a look.

[2019-08-21 07:00] #344 closed

[2019-08-21 07:01] LeoNatan commented on #344
v2.7.4

[2019-08-21 07:14] Kedar-27 commented on #344
Thanks for your support @LeoNatan

[2019-08-21 07:14] LeoNatan commented on #344
Cheers, happy coding!

[2019-08-21 07:23] funkenstrahlen commented on #334
I am running 2.7.3 for some time now in my app and it runs perfectly fine without any issues. Thanks and thumbs up from my side! 😊

[2019-08-21 08:03] LeoNatan commented on #334
Thank you!

[2019-08-21 08:32] mikhaelmina commented on #341
@LeoNatan Thanks for your answers, yes now it works fine the issue was the order of adding the framework and the xcodeproject, so I removed both and added them in the correct order:
1- Xcodeproject
2- Framework
otherwise xcode get confused i guess

Thanks,
Mina

[2019-08-21 08:32] #341 closed

[2019-08-21 08:38] LeoNatan commented on #341
Great. Happy coding!

[2019-08-21 10:15] mikhaelmina opened #345 "Bitcode verification error while exporting .ipa after archive"
Hi,
I get this error while trying to export the .ipa after an archive:
Failed to verify bitcode in LNPopupController.framework/LNPopupController:
error: Cannot extract bundle from `/var/folders/71/8v5dzsfx36s03g5h4mgn2t7r0000gn/T/XcodeDistPipeline.~~~0UjP5u/Root/Payload/myapp.app/Frameworks/LNPopupController.framework/LNPopupController (i386)`

see screenshot:
![Screenshot 2019-08-21 12 12 55](htt

[2019-08-21 10:17] LeoNatan commented on #345
Hi,

Not sure what is happening. Bitcode support is enabled in the project settings. People have been submitting apps with LNPopupController for years. I fear it might be something on your end.

[2019-08-21 14:25] mikhaelmina commented on #345
@LeoNatan for some reason the framework contains some simulator architecture: `i386 x86_64`
I added a run script to remove them, and then it worked and I can now export the .ipa file

https://stackoverflow.com/questions/46404236/failed-to-verify-bitcode-while-exporting-archive-for-ad-hoc-distribution-tried

[2019-08-21 14:29] LeoNatan commented on #345
Yes, this is a known issue with closed-source frameworks. Did you add the framework in a precompiled form? Xcode usually cleans frameworks correctly when a project is added as a subproject with source available.

[2019-08-21 14:39] mikhaelmina commented on #345
@LeoNatan I added the framework to the **"Embedded Binaries"** in the General tab of the target as you mentioned in the readme

[2019-08-21 14:45] LeoNatan commented on #345
Maybe it's needed there too... 🤷‍♂️

When integrating with Carthage, they run their own script to do this. It's really stupid that Xcode doesn't just lipo out the unneeded architectures...

Anyway, closing the issue as it has been resolved. Thanks

[2019-08-21 14:45] #345 closed

[2019-08-21 17:44] LeoNatan commented on #334
Heh

<img width="704" alt="Screen Shot 2019-08-21 at 20 43 29" src="https://user-images.githubusercontent.com/2270433/63454916-660dfb00-c454-11e9-9579-e57e0df25194.png">

[2019-08-24 10:26] iDevelopper commented on #334
About this screenshot. What is it for?

[2019-08-24 10:32] LeoNatan commented on #334
https://www.apple.com/macos/catalina-preview/

[2019-08-24 10:36] iDevelopper commented on #334
Do not understand, missing something?

[2019-08-24 11:57] funkenstrahlen commented on #334
He is happy this code works on Catalina via Catalyst.

[2019-08-24 12:23] LeoNatan commented on #334
I worked on it further. It works great now on macOS. I don't believe it's a good ux for a Mac app, but if someone wants to use it, they can.

[2019-08-24 13:07] Kedar-27 commented on #343
@LeoNatan @iDevelopper  will this issue be fixed in future release?

[2019-08-24 13:20] LeoNatan commented on #343
Not planned. Big changes are coming, we’ll see.

[2019-08-24 16:36] iDevelopper commented on #334
Sorry, I have not looked enough. I did not notice the three buttons on the Mac interface. But this this thread concerns iOS 13 however. So, bravo! I'll have a look with a Mac updated with the Catalina beta. It will be better with a splitViewController, yes.

What are the things to modify so that the interfarce user also appears on Mac OS X while the framework was developed for iOS?

[2019-08-24 17:03] LeoNatan commented on #334
You enable macOS as a platform in the project. Then your iOS app runs on the Mac like it’s an iPad app. It doesn’t look like a Mac app but runs.

[2019-08-24 17:03] LeoNatan commented on #334
I suggest you look at WWDC videos on the subject.

[2019-08-25 09:38] iDevelopper commented on #334
Ah ok, thanks!

It is like an iPhone application can be run on a iPad in a emulate mode?

[2019-08-25 09:42] iDevelopper commented on #334
Hi @LeoNatan , I don't understand what is for these delegate methods (never called):

[code]

[2019-08-25 10:50] LeoNatan commented on #334
Again, please watch the WWDC videos describing new iOS 13 features. `UIContextMenuConfiguration` is used in the demo project as an example for users, and is most definitely called on iOS 13.

[2019-08-25 11:52] funkenstrahlen opened #346 "Long press on popup bar crash on iOS 13"
#### Steps to Reproduce
Long press on minified popup bar.

#### Device, OS and Xcode Versions
OS Version:          iPhone OS 13.0 (17A5572a)
Release Type:        Beta
LNPopupcontroller: Version 2.8

#### Crashlog

[code]

[2019-08-25 11:54] LeoNatan commented on #346
What is the exception?
The preview context API is deprecated and will be removed in a future build.

[2019-08-25 11:58] LeoNatan commented on #346
Ah, I see, I managed to reproduce. Will fix.

[2019-08-25 12:27] funkenstrahlen opened #347 "presentPopupBar does not release existing popup ViewController reference"
#### Description
I noticed the ViewController in the popupBar is not released from memory when another VC is presented via `presentPopupBar`. This causes a memory leak.

#### Steps to Reproduce
* Open the demo application
* Choose Apple Music demo
* Tap on a song. Then on another one. Repeat.
* Check memory debugger: `DemoMusicPlayerController` is in memory many times and not being cleared.

<img

[2019-08-25 12:51] LeoNatan commented on #347
Uff, good catch! Will investigate!

[2019-08-25 12:52] #346 closed

[2019-08-25 13:01] LeoNatan commented on #347
🙃

This only happens in the music demo, because there is a timer.

[code]

[2019-08-25 13:01] #347 closed

[2019-08-25 13:05] LeoNatan commented on #347
If you want to test for your self, open FirstViewController.m, in `- (IBAction)_presentBar:(id)sender`, add `dispatch_after` at the end and present another view controller. You will see that the `DemoPopupContentViewController` instances are released.

[2019-08-25 15:19] funkenstrahlen commented on #346
Thanks!

[2019-08-25 15:19] funkenstrahlen commented on #347
Oh I see. Sorry I didn’t catch that.

[2019-08-25 15:26] iDevelopper commented on #334
I wanted to say that in your sample, these two UITableView delegate methods are never called (of course I test with iOS 13).

The delegate methods of UIContextMenuInteractionDelegate are called.

[2019-08-25 15:27] LeoNatan commented on #334
Try long pressing a cell, then tap the preview.

[2019-08-25 15:38] iDevelopper commented on #334
Ok, my apologies! I was expecting after a long pressing on a music cell...

[2019-08-25 15:39] LeoNatan commented on #334
But it's not in the same class. :) The music app sits in Swift land.

[2019-08-25 15:41] iDevelopper commented on #334
Yes sorry, and? We can't do it in the Music app in Swift?

[2019-08-25 15:43] LeoNatan commented on #334
What? Why not?
You pointed to code in an Objective C class unrelated to Music, and claimed it was never called.

[2019-08-25 15:45] iDevelopper commented on #334
Yes you are right but I think the best place for this demo should be in the music demo, no?

[2019-08-25 16:00] LeoNatan commented on #334
The whole point why I added that was because in the storyboard, I have the old peek/pop API (3D touch), but there is no such API currently for context menus. So I wanted to have the same functionality as before.

I also added the context menu in the normal stuff.

In iOS music app, 3D touching a song displays an activity view controller, not a preview.

[2019-08-25 16:04] iDevelopper commented on #335
In Music demo, it crash when selecting a music cell on iOS 10.3.1, not verified with iOS 11 & 12 yet:

<img width="1512" alt="Capture d’écran 2019-08-25 à 17 55 55" src="https://user-images.githubusercontent.com/1782450/63652568-3582d580-c762-11e9-815d-e05fdea96a49.png">

[2019-08-25 16:06] LeoNatan commented on #335
The Music storyboard no longer compiles for iOS 10. That's the demo app, it is unrelated to the framework itself.

[2019-08-25 16:52] LeoNatan commented on #211
This will be implemented in v3.0. I've started work on it, no hard dates.

[2019-08-25 16:55] LeoNatan commented on #310
This was fixed in master.

[2019-08-25 16:55] #310 closed

[2019-08-25 16:56] LeoNatan commented on #320
Out of scope and will probably not implement this.
If you want to restore state, I suggest you track this manually in your app and perform the steps to restore (such as presenting the popup bar and/or opening the popup).

[2019-08-25 16:56] #320 closed

[2019-08-25 16:57] LeoNatan commented on #325
This will be implemented in 3.0.

[2019-08-25 17:13] LeoNatan opened #348 "LNPopupController 3.0 tracking"
I've started work on 3.0.

It is intended as a general rewrite of the entire presentation model. The idea is to use `UIPresentationController` subclasses with custom animation and interaction controllers. (#225)
This will greatly simplify the presentation system and allow many more features, such as "free" card presentation on iOS 13.

Planned features that will also make the cut for 3.0:
- Animat

[2019-08-25 17:13] LeoNatan commented on #325
Closing in favor of #348.

[2019-08-25 17:13] #325 closed

[2019-08-25 17:14] LeoNatan commented on #143
Closing in favor of #348.

@JacobSyndeo Will indeed use this feature of iOS 13 as the card presentation for the popup.

[2019-08-25 17:14] #143 closed

[2019-08-25 17:15] LeoNatan commented on #211
Closing in favor of #348.

[2019-08-25 17:15] #211 closed

[2019-08-25 17:15] LeoNatan commented on #225
Closing in favor of #348.

[2019-08-25 17:15] #225 closed

[2019-08-25 17:24] #315 closed

[2019-08-26 06:36] funkenstrahlen opened #349 "Memory reference circle starting with 2.8.0 release"
After updating `LNPopupController` to `2.8.0` I noticed a memory cycle issue in my app. The ViewController I present in the popup bar does no longer get freed after presenting a new ViewController with `presentPopupBar`. (This is why I initially opened #347 but learned this is a different issue.)

Because I was sure my app did not have this problem before I tracked down the issue to this commit in

[2019-08-26 06:38] funkenstrahlen commented on #349
Both attributes causing the memory cycle are starting with an underline `_`. I do not use this pattern in my code so I assume this no reference cycle I explicitly cause in my code.

[2019-08-26 06:40] LeoNatan commented on #349
_UIPageSheetPresentationController is the iOS 13 presentation controller for the card presentation.

Can I please ask you to reproduce this in a clean project? I am unable to reproduce in any of my demo app scenes. After you opened the previous one, I tried several scenarios and all worked as expected. Then I wondered why the music doesn't and noticed the timer.

[2019-08-26 06:57] funkenstrahlen commented on #349
I understand this is difficult to fix without a way to reproduce. I will try to reproduce in a clean project and upload it here.

[2019-08-26 08:16] funkenstrahlen commented on #349
I finally managed to reproduce the issue. The reference cycle is created when `popupBar` is used from within the content view controller `viewDidLoad` like this for example: `popupBar.imageView.layer.cornerRadius = 5`

Probably this is a non-issue because `popupBar` should never be called like this. I am happy to hear your thoughts. I think it is still a problem though because this works fine in 2

[2019-08-26 08:19] funkenstrahlen commented on #349
I now moved this line of code `popupBar.imageView.layer.cornerRadius = 5` out of `viewDidLoad()` in my code to another place and this fixes the reference cycle in my app.

[2019-08-26 08:20] LeoNatan commented on #349
Nope, that's a bug. Will investigate soon (a little sick at the moment).

[2019-08-26 08:21] funkenstrahlen commented on #349
Thanks! Take your time and get well soon :)

[2019-08-26 08:22] LeoNatan commented on #349
Wait, accessing the content view controller's popup bar is incorrect here, you know that, right? (Regardless of bug)

[2019-08-26 08:22] LeoNatan commented on #349
The "interesting" popup bar is the container's.

[2019-08-26 08:27] funkenstrahlen commented on #349
Yes I realized that I was doing this wrong now:

However I might not be the only one who has done it wrong (just because it did not cause any issues before). Therefore a fix for this reference cycle could help many others.

[2019-08-26 08:35] LeoNatan commented on #349
There shouldn't be a reference cycle. I will investigate that.
I was just mentioning that you were doing it wrong. Actually a lot of people confuse the right targets. I wonder if it's a documentation fault.

[2019-08-26 10:44] Kedar-27 commented on #343
can you please consider this in  v3.0

[2019-08-26 16:37] LeoNatan commented on #349
Seems like an Apple bug. It seems accessing the presentationController causes a memory leak somewhere.

https://github.com/LeoNatan/LNPopupController/blob/8b25fab18bfa74ee9c4d2c24c4ac8f79373790d4/LNPopupController/LNPopupController/Private/UIViewController%2BLNPopupSupport.m#L241

[2019-08-26 16:38] LeoNatan commented on #349
I'll make a change to fix this for most cases.

[2019-08-26 16:39] #349 closed

[2019-08-30 08:11] funkenstrahlen opened #350 "Regression: PopupItem BarButtonItems do not trigger target actions"
PopupItem BarButtonItems do not trigger target actions. This is a regression as it did work in older versions.

#### Steps to Reproduce
* Use the example project.
* Modify `DemoMusicPlayerController` and actually assign target actions to the UIBarButtonItems:

[code]

* Open the Demo app
* Select Apple Music demo
* Tap on demo song to reveal popup bar
* Press pause button in minified popup bar

**

[2019-08-30 08:41] LeoNatan commented on #350
Thanks, will look into this today.

[2019-08-30 08:56] #350 closed

[2019-08-30 08:58] LeoNatan commented on #350
Out in v2.8.3

[2019-08-30 08:59] LeoNatan commented on #349
So I found an internal method that can retrieve an existing presentation controller without causing this memory leak. I will use that in v3.

[2019-08-30 09:40] funkenstrahlen commented on #350
Awesome, thank you :)

[2019-08-30 11:02] Kedar-27 opened #351 "ScrollView Contentsize issue on iphone X"
I am having problem when my view contains tableView embeded in scrollView. When the popup bar is presented scrollview content size changes and it disturbs the content offset of scrollView
Any solution for this @LeoNatan

[2019-08-30 11:05] LeoNatan commented on #351
You have a table view inside a scroll view? That's terrible and you should not do that.
You should be using a UITableViewController.

[2019-08-30 11:06] LeoNatan commented on #351
UITableView itself is a scroll view, so putting that inside another scroll view is just not right.

[2019-08-30 11:07] LeoNatan commented on #351
Check out the Music demo. That one has a table view, and is correctly maintained. For iOS < 11, there was something that was needed to be done in `viewDidLayoutSubviews`, but since 11 everything works.

[2019-08-30 11:07] #351 closed

[2019-08-30 11:08] Kedar-27 commented on #351
i am trying to create parallax header animation so integrated tableview in scrollView
[https://github.com/maxep/MXParallaxHeader](url)

[2019-08-30 11:10] LeoNatan commented on #351
What?

https://github.com/maxep/MXParallaxHeader/blob/335616c87ba20c5af5f5bc572a761364950d3646/MXParallaxHeader/MXParallaxHeader.h#L135

The framework is implemented as a category over UIScrollView. That means that you should set `tableView.parallaxHeader.view = headerView`.

[2019-08-30 11:49] LeoNatan commented on #351
Did it work?

[2019-08-30 11:49] Kedar-27 commented on #351
ohh... i did the other way.... i solved this issue by little trick on viewDidAppear
`self.navigationController?.presentPopupBar(withContentViewController: self.musicPlayerVC, animated: false)`
`self.navigationController?.dismissPopupBar(animated: false)`

and presented again manually

[2019-08-30 11:52] LeoNatan commented on #351
I am sorry, I don't understand what you are doing. 😂

[2019-08-30 11:57] Kedar-27 commented on #351
`override func viewDidAppear(_ animated: Bool) {
        super.viewDidAppear(animated)
        self.presentBottomBar()
}`

    `func presentBottomBar(){

        let customBottomBarstoryBoard = UIStoryboard(name: WRMusicBottomBar.storyboardName, bundle: nil)
        let customBottomBarVC = customBottomBarstoryBoard.instantiateViewController(withIdentifier: WRMusicBottomBar.storyboardIdentifier ) a

[2019-08-30 11:58] Kedar-27 commented on #351
i have created this inside base class and all my view controller will extend this class to inherit this properties

[2019-08-30 11:59] LeoNatan commented on #351
But why present and dismiss in `viewDidAppear`? Only present when you need to.

[2019-08-30 12:07] Kedar-27 commented on #351
was initially doing the same... but presenting popup bar was decreasing the contentsize of mxScrollView...so was facing problem of content offset ...but rescrolling was correcting the content offset of scrollview..... so decided to try this

[2019-09-03 14:21] tanvirhannan opened #352 "Module "LNPopupController" not found"
#### Description

Every time I clone down my project from Github and build it, I receive a "Module LNPopupController is not found" error. I have to manually drag it into my project and add it was an embedded binary (this was how I integrated the module into my project in the first place). How can I get the module to permanently be in my project, so every time I clone down a version I do not have t

[2019-09-03 14:28] LeoNatan commented on #352
Did you add it as a sub module (recommended)? If so, you need to recursively clone, or recursively update submodules after cloning.

If you just want to drag the framework to your own repo (not recommended), make sure you copy it to the repo first and then add it in Xcode. Also make sure to track the new files in git and commit them.

[2019-09-03 14:28] #352 closed

[2019-09-03 14:50] tanvirhannan commented on #352
@LeoNatan Do I add the "LNPopupController.xcodeproj" into the submodule or the entire "LNPopupController" directory into the submodule?

[2019-09-03 14:53] LeoNatan commented on #352
I suggest you read up on what submodules are and how they work.

[2019-09-03 14:54] LeoNatan commented on #352
You can also use Carthage, which is supported.

[2019-09-03 14:59] tanvirhannan commented on #352
@LeoNatan I understand how submodules work. However, when I tried adding just the .xcodeproj to my submodule my project couldn't find other files needed such as the Lnpopcontroller.h. Adding the whole directory, however, is more concerning because you can't specify which directory to go into within a submodule

[2019-09-03 15:15] LeoNatan commented on #352
If you are trying to add the .xcodeproj to a submodule, you do not understand how submodules work, sorry.

[2019-09-03 15:24] tanvirhannan commented on #352
@LeoNatan So you recommend adding the whole directory into it then?

[2019-09-03 15:26] LeoNatan commented on #352
If you are adding anything manually to a submodule, you are doing it wrong. I recommend you read on how to add git submodules to your project.

[2019-09-03 15:28] tanvirhannan commented on #352
@LeoNatan You have to manually add the files you want to into a submodule when you are first creating it, so every time you git submodule init/update the files within that submodule are loaded in

https://git-scm.com/book/en/v2/Git-Tools-Submodules

[2019-09-03 19:55] tanvirhannan commented on #352
@LeoNatan I see what you mean about adding LNPopupController as a submoduole. I was under the impression of creating a submodule and adding the LNPopupcontroller to it.

Anyways, I have added it as a submodule to my project, which in turn adds the Repo to my project upon initializing/updating it, however, I still need to drag the LNpopupcontroller.xcodeproject into my project for it to find the mo

[2019-09-04 11:09] LeoNatan commented on #352
Once you add the framework to your project once, commit the changes. It should now work every time you clone.

[2019-09-04 11:14] LeoNatan commented on #352
For example of how to integrate, you can check the demo project. That one doesn't use a submodule (of course), but it shows how to integrate the framework project with the customer project.

[2019-09-05 02:33] Frankenstein666 opened #353 "multiple instance of popUpContentViewController created when presenting popupContent"
I have a setup where i am receiving an array of videoURL from REST api which are displayed in a collection view. When a cell is tapped i play the video in AVPlayer contained in the popUpContentViewController. My Problem is whenever i present a popUpContentViewController a new instance is created and viewDidLoad is called in the popUpContentViewController even if the popupPresentationState is other

[2019-09-05 05:13] LeoNatan commented on #353
Hello,

The demo app is not an actual application. There are many ways you can achieve what you want. You could reuse the same controller, and just pass your playback information to the existing one that is presented, and update the popup item. You could notify the existing one to stop playing and then present a new one. And so on. Expected behavior is what you implement in your application.

[2019-09-05 05:13] #353 closed

[2019-09-07 15:15] ghimireprashant opened #354 "custom popup and dynamic height"
hello,
Thanks for your wonderful help in maintaining this library you are a real life saver.
Here is my problem.
I am trying to present a custom docking view in tab bar but it still shows a default docking view while presenting in the tab bar. the code I have used is below.
I am trying to change the height of the docking view in real-time but it still shows space when the height is changed.
and al

[2019-09-07 22:54] LeoNatan commented on #354
Hello,

I am not sure I understand. Could you please post screenshots of the problem and perhaps mock ups of what you want to happen?

Also, please format your code.

Thanks

[2019-09-08 05:03] iDevelopper commented on #334
Hi @LeoNatan ,

Nothing major, but I wanted to show it to you (Mac OS Dark Mode):

<img width="850" alt="Capture d’écran 2019-09-08 à 06 58 20" src="https://user-images.githubusercontent.com/1782450/64483656-a3b9a480-d206-11e9-88df-fceaaabdb100.png">

[2019-09-08 05:22] iDevelopper commented on #334
Also your navigation controllers are gone:

<img width="512" alt="Capture d’écran 2019-09-08 à 07 21 30" src="https://user-images.githubusercontent.com/1782450/64483809-6571b480-d209-11e9-985a-febd030446e2.png">

[2019-09-08 06:08] ghimireprashant commented on #354
i will upload demo project shortly.

[2019-09-08 13:45] LeoNatan commented on #334
I don't know why it looks like that on your end on macOS. It's not how it looks for me. Make sure you are running on the latest version of macOS Catalina and compiling with the latest version of Xcode.

The navigation bar is not gone, it's the new navigation appearance stuff they introduced. Please read the docs:
https://developer.apple.com/documentation/uikit/uinavigationitem?changes=latest_minor

[2019-09-08 13:45] LeoNatan commented on #354
I prefer we start with a description for your problem. I may not have time to look at the demo project. Thanks

[2019-09-08 13:50] LeoNatan commented on #334
Hmm just reproduced the color issue on Catalina. Will fix @iDevelopper. Thanks!

[2019-09-08 13:53] LeoNatan commented on #334
This seems like a bug in either Xcode or macOS. Wasn't there when I was working on v3 two weeks ago...

[2019-09-08 14:12] LeoNatan commented on #334
I won't fight the system bugs. Apple's software quality is ridiculous at this point. Once they fix Xcode, it will look as it is intended to on Catalyst.

The problem is that Xcode produces hardcoded RGB colors on Mac, rather than dynamic colors. This is why you see white backgrounds and dark text color.

[2019-09-08 14:20] ghimireprashant commented on #354
something wrong with tabbar when i import library there is while inset in controller.
i have uploaded some screen short.
i want to present custom popup view in tabbar but it default when i use this code
`  self.tabBarController?.presentPopupBar(withContentViewController: popupContentController, animated: false, completion: nil)`
but when i change this code to this
`    self.presentPopupBar(withCon

[2019-09-08 15:15] LeoNatan commented on #354
So, if I understand correctly, you are seeing two different issues:

1. The tab bar is incorrectly laid out when the tab bar controller is presenting the popup bar
2. Changing the height of a custom popup bar controller doesn't correctly set the safe area insets of the presenting controllers

Are you able to reproduce these issues in the sample project?

[2019-09-08 15:26] LeoNatan commented on #354
I just tested on the demo project. I displayed the map scene custom popup bar controller in the music app, which is presented on a tab bar controller. I then changed the height 2 seconds after presentation. Everything worked as expected:

![Simulator Screen Shot - iPhone Xs Max - 2019-09-08 at 18 23 56](https://user-images.githubusercontent.com/2270433/64490507-26be1780-d266-11e9-84bc-1cb81596d287

[2019-09-08 15:26] ghimireprashant commented on #354
yap it in the demo sample project.
the tab bar laid out before presenting the popup bar.
my problem is when i custom pop up bar in the tab bar it shows default popup bar not the custom bar that I have created.
and also when I change the height of the custom popup bar in run time these the insect remains in controler

[2019-09-08 15:29] LeoNatan commented on #354
Here is my project with the changes:

[Archive.zip](https://github.com/LeoNatan/LNPopupController/files/3587728/Archive.zip)

Open the "Music" scene.

[2019-09-08 15:39] ghimireprashant commented on #354
i missed this part
`tabBarController?.popupBar.customBarViewController = customMapBar`
how can get access to custom view propert from other controller ? like title image and progress bar.
thanks.

[2019-09-08 16:09] LeoNatan commented on #354
Custom bar controllers do not have images, progress bars or any other of the standard views. It's up to you to implement it.

[2019-09-08 16:09] #354 closed

[2019-09-08 17:21] ghimireprashant commented on #354
is it there any way to cast popup bar controller? ie
`      if let popUpItem = self.popupBar.customBarViewController as? CustomPopupBarViewController {
        popUpItem.imageView.image = albumArt
      }`
thanks

[2019-09-08 17:21] LeoNatan commented on #354
Yes, of course.

[2019-09-08 17:39] funkenstrahlen commented on #334
+1 for not fighting system bugs especially for such a new technology like catalyst.

[2019-09-08 18:19] LeoNatan commented on #334
Yes, but Apple state of tooling and software is embarrassing. iOS 13 and tvOS 13 are full of bugs. Xcode is a crashfest and bugfest. And that's not even discussing SwiftUI and Combine, which are comedies of errors. Apple has obviously bitten way, way more than they can chew.

[2019-09-09 05:10] iDevelopper commented on #334
I'am using the last bata version of Catalina and the last beta version of Xcode (beta 7) but in About it is beta 6! Your table view background color is not set to systemBackgroundColor.

[2019-09-09 05:16] LeoNatan commented on #334
Duplicate feedback to Apple:

FB7233302 (Xcode / Interface Builder produces broken results on macOS Catalyst)

[2019-09-11 04:22] wimbledon commented on #335
It would be nice to extend the iOS 9 and 10 support until next year. My apps still have a deployment target of iOS 9.0+.

[2019-09-11 04:52] wimbledon opened #355 "CALayer position contains NaN Crash"
iOS Version: 11, 12 and 13
Device: iPhone 5s, 6, 7, 8 / Plus, X, XR, MS, iPad
Device state: Foreground
LNPopupController version: 2.8.3

The crash is caused due to self.window is nil.
self.window can be nil if the user backgrounds the app when another modal view controller presented on top of LNpopupController/Bar and come back to the foreground.

![image](https://user-images.githubusercontent.com

[2019-09-11 05:13] wimbledon commented on #355
The issue is caused by commit [Visual Tweak](https://github.com/LeoNatan/LNPopupController/commit/949914d81fa787ee68c7e71b31061aba6af6d51d).

[2019-09-11 05:42] LeoNatan commented on #355
Thank you for the fix!

[2019-09-11 05:42] #355 closed

[2019-09-11 06:04] wimbledon commented on #355
@LeoNatan
Will you be releasing a new version 2.8.4?
Also, will v3 still support iOS 9 / 10?

[2019-09-11 09:23] MacMark opened #357 "Xcode 11: Crash for [UIImage alloc] without also sending -init"
#57 ## Description
The app crashes when i use the LNPopupController with Xcode 11.

CRASH: This UIImage instance unexpectedly has nil content. Did calling code create an image with [UIImage alloc] without also sending -init? That's unsupported. 0x600001098900
2019-09-11 11:15:11.926574+0200 radio.de[25391:526435] [General] Stack Trace: (
    0   CoreFoundation                      0x00007fff23b98b

[2019-09-11 09:40] MacMark commented on #357
I guess
_progressView.trackImage = [[UIImage alloc] init];
in line 225 of LNPopupBar.m
would fix it.

[2019-09-11 10:28] LeoNatan commented on #355
Will release soon.

V3 is 11.0 and above.

[2019-09-11 10:30] LeoNatan commented on #357
Use latest version of LNPopupController.

[2019-09-11 10:30] #357 closed

[2019-09-11 10:44] MacMark commented on #357
I have
 pod 'LNPopupController'
in my Podfile
and did
pod update LNPopupController
and
pod install

It looks like i do not get the latest version which uses new]; instead of alloc];

Is is already on CocoaPods udpated?

[2019-09-11 10:45] LeoNatan commented on #357
LNPopupController doesn’t support cocoapods. You are using a custom release. Follow the readme for supported integration options.

[2019-09-11 10:47] MacMark commented on #357
Ok, thx, i forgot. Sorry.

[2019-09-19 14:17] ilijapuaca opened #360 "Issue with popup safe area insets"
#### Description
I'm trying to implement a custom popup view controller that looks like so:

<img width="373" alt="Screen Shot 2019-09-19 at 16 07 08" src="https://user-images.githubusercontent.com/3406718/65251604-e8431b00-daf7-11e9-9bc0-435190f4c227.png">

It does indeed look like that when it's presented initially, but once I tap it, `viewSafeAreaInsetsDidChange` gets called in my custom view c

[2019-09-19 14:25] LeoNatan commented on #360
While I would like this to be supported, I think there is a conflict between the popup bar and the insets. Since the popup bar is added to the container controller's view, and the container controller's safe area is adjusted, my guess is there is a conflict.

Since your popup bar is white, as a workaround, I would suggest creating a custom bottom docking view at the height of the window's bottom s

[2019-09-19 14:34] ilijapuaca commented on #360
As you can notice in the screenshot, there's a subtle gray border that's supposed to be in place (which I'll try to round for iPhone X, it's still WIP), I also want to make the background translucent, so I'd like to keep the popup view in one piece, if possible.

The workaround that I have in place right now, which sets `additionalSafeAreaInsets` whenever `viewSafeAreaInsetsDidChange` notifies me

[2019-09-19 14:37] LeoNatan commented on #360
What about using the window's safe area, rather than the view's, for height?

[2019-09-19 14:38] ilijapuaca commented on #360
While that would address the issue with height, the layout would be messed up in that case (unless I'm missing something), as the content portion of my view is anchored to the safe area at the bottom.

[2019-09-19 14:43] LeoNatan commented on #360
Yes, that's a problem. I would suggest trying to find a way not to anchor to the safe area. For example, you can keep a reference to your bottom constraint (anchored to the bottom of the view), and update its value according to the window bottom safe area inset.

It wouldn't be advisable to anchor to the safe area in either case, even if everything worked correctly, because as the popup would open

[2019-09-19 14:48] ilijapuaca commented on #360
That should work, I'll give it a try.

Thanks for the quick replies!

[2019-09-19 15:02] LeoNatan commented on #360
BTW, any reason why you are using a custom popup bar controller? For the button shadow and border?

[2019-09-19 15:04] ilijapuaca commented on #360
I'll also be adding a progress bar up top that looks way different compared to what's there by default, and several other things are just "a little different", so it made sense quickly getting a custom view up and running.

[2019-09-19 18:59] LeoNatan commented on #360
Adding the project as a subproject should not be any different than adding the project if it was locally found. If it works on a clean project, then something in your current project is broken. Normally, when you link a framework with your project (be it a subproject or a precompiled framework), Xcode is able to automatically figure out the header search path, without you setting the search paths

[2019-09-24 06:19] Kedar-27 opened #361 "Display PopupContentView underneath Status bar"
Can we display popup content view underneath status bar... currently al the contents are displayed on top of it @LeoNatan

[2019-09-24 08:53] LeoNatan commented on #361
Uhm what? The popup content displays under the status bar.

[2019-09-24 09:32] Kedar-27 opened #362 "Unbalanced calls to begin/end appearance transitions"
When I simultaneously click on table view cell and bottom bar , bottom bar disappears and get this statement in debug description @LeoNatan
Unbalanced calls to begin/end appearance transitions for <popupVC: 0x12de746c0>.

[2019-09-24 09:33] LeoNatan commented on #362
What do you do when tapping a cell?

[2019-09-24 09:34] Kedar-27 commented on #361
yes

[2019-09-24 09:36] LeoNatan commented on #361
I don't know what that is. This is not how LNPopupController displays popup content view controllers by default.

[2019-09-24 09:39] Kedar-27 commented on #361
![Screenshot 2019-09-24 at 3 09 10 PM](https://user-images.githubusercontent.com/30876876/65500702-506d7480-dedd-11e9-9a23-5a6e705d5fb7.png)

[2019-09-24 09:42] Kedar-27 commented on #362
i am presenting popup bar

`self.navigationController?.presentPopupBar(withContentViewController: self.musicPlayerVC, animated: false, completion: {
         })`

[2019-09-24 09:47] Kedar-27 commented on #361
can u tell what might be the possible reasons

[2019-09-24 09:48] LeoNatan commented on #361
No sorry, I don’t know your code.

[2019-09-26 07:42] Kedar-27 opened #363 "Unable To Upload to App Store"
![Screenshot 2019-09-26 at 1 07 15 PM](https://user-images.githubusercontent.com/30876876/65668427-53906e00-e05f-11e9-983e-a5eda6cb9ad9.png)

i am using carthage

[2019-09-26 07:43] LeoNatan commented on #363
?

[2019-09-26 07:43] LeoNatan commented on #363
Enough. This is not your support forum. Use google and stack overflow.

[2019-09-26 07:43] #363 closed

[2019-09-26 15:18] #362 closed

[2019-09-27 18:11] patwhitehead1 commented on #207
I seem to have lost this again after updating too 2.8.4
![image](https://user-images.githubusercontent.com/5133878/65791704-41cacb80-e130-11e9-85d4-2547427706e4.png)

Is there any way for me to add this back? I can't find it when I search through the library.

[2019-09-27 19:07] LeoNatan commented on #207
It shouldn't be gone.

![Screenshot 2019-09-27 at 22 06 45](https://user-images.githubusercontent.com/2270433/65795549-2fbe4c80-e173-11e9-8156-177b6bd1afe5.png)

What OS are you seeing this on?

[2019-09-27 19:12] patwhitehead1 commented on #207
I'm running iOS 13 (targeting iOS 11) using Xcode 11. But I was also seeing this on iOS 12 built with Xcode 10.3.

[2019-09-27 19:13] LeoNatan commented on #207
Can you please run the included example project and see if you see the hairline there? I wonder if it's some configuration issue.

[2019-09-27 19:17] patwhitehead1 commented on #207
It actually appears to be fine on the sample project:
![image](https://user-images.githubusercontent.com/5133878/65796165-ec93b780-e139-11e9-8822-e19f0f685901.png)

It must be something I'm doing on my end.

[2019-09-27 19:18] LeoNatan commented on #207
Please put a breakpoint in `-[LNPopupBar setSystemShadowColor:]` and see what color is passed. If you see a color with 0 alpha, please post the backtrace.

[2019-09-27 19:32] patwhitehead1 commented on #207
![image](https://user-images.githubusercontent.com/5133878/65796946-f74f4c00-e13b-11e9-97b3-fe6eeedec721.png)

[code]

[2019-09-27 19:34] LeoNatan commented on #207
Black color and 0.3 alpha is correct. Is this the only value set?

[2019-09-27 19:35] patwhitehead1 commented on #207
Yes

[2019-09-27 19:36] LeoNatan commented on #207
Can you please take a screenshot of the visual debugger in Xcode? See if the hairline is visible or hidden. Thanks

[2019-09-27 19:40] patwhitehead1 commented on #207
Not sure if this is it or not?
![image](https://user-images.githubusercontent.com/5133878/65797407-2dd99680-e13d-11e9-8166-3dd3967efb8b.png)

[2019-09-27 20:24] LeoNatan commented on #207
It should be, yes. Is it hidden?

[2019-09-27 20:52] patwhitehead1 commented on #207
No, not hidden

[2019-09-27 22:43] LeoNatan commented on #207
Then where is it? 😉

Can you pls dump a `recursiveDescription` of your window?

[2019-09-28 11:30] tarunbhutani opened #364 "Including using package manager"
#### Description
I'm trying to including the project using `package manager` but getting the below error

<img width="727" alt="Screenshot 2019-09-28 at 7 24 02 PM" src="https://user-images.githubusercontent.com/10242725/65815733-f98dd500-e225-11e9-9702-eea657df84d4.png">

#### Device, OS and Xcode Versions
Xcode 11

[2019-09-28 11:36] LeoNatan commented on #364
SPM is not supported right now, as I am not really familiar with SPM. There was a PR adding support, but was closed. https://github.com/LeoNatan/LNPopupController/pull/359

Feel free to add support.

[2019-09-28 11:36] #364 closed

[2019-09-29 21:15] patwhitehead1 commented on #207
Looks like this works once I set tabBarController.popupBar.inheritsVisualStyleFromDockingView = false.

Thanks for looking into this though, I appreciate it.

[2019-09-29 21:16] LeoNatan commented on #207
Hm, that's odd.

[2019-10-02 23:32] SeanFromTheMatrix commented on #360
I am having a similar issue. However, the top cell in the tableView is getting pushed up underneath the navbar when I present the popUp bar. It only happens on one viewController. Any ideas, this issue did not occur until I updated to iOS 13.

[2019-10-03 14:33] LeoNatan commented on #334
The dark mode issue has been resolved in Xcode 11.2 beta and macOS 15.0 beta 10.

[2019-10-03 14:42] LeoNatan commented on #334
I think I will close this issue. I am not aware of any outstanding iOS 13 issues. Please open a new issue if you find new issues.

[2019-10-03 14:45] #334 closed

[2019-10-08 07:51] LeoNatan commented on #360
@SeanFromTheMatrix Can you please reproduce in a small project?

[2019-10-09 18:50] SeanFromTheMatrix commented on #360
@LeoNatan sorry i did not post an update. I fixed this by changing the **bottom** constraint. Originally it was constrained to safe area, then I switched it to the super view and it worked fine.

[2019-10-10 01:25] LeoNatan commented on #360
Thanks for the update!

I think this issue can be closed. There is not much that can be done with regards to the original issue.

[2019-10-10 01:25] #360 closed

[2019-10-12 05:03] tarunbhutani opened #365 "App crashes in iOS 13.1.2"
App is working fine when running from local system but it got rejected from App Store as the app is crashing.
I've debug though the crashlog and found this issue.

[code]

#### Breaking code
`tabBarController.popupBar.customBarViewController = miniPlayerViewController`

#### Device, OS and Xcode Versions
Xcode: 11.0, OS: 13.1.2

[2019-10-12 08:31] LeoNatan commented on #365
Looks like you are using an old version of the framework?

[2019-10-12 08:38] LeoNatan commented on #365
Do you have the exception details?

[2019-10-12 08:50] tarunbhutani commented on #365
Thanks for your response.
I've only this exception log from crash log file.

[code]

[code]

[2019-10-12 08:53] LeoNatan commented on #365
What version are you using?

[2019-10-12 08:55] tarunbhutani commented on #365
V`2.8.4`

[2019-10-12 08:59] LeoNatan commented on #365
I'm looking in the code, and it doesn't seem related to `LNPopupController`. The framework initializes a new toolbar, and some UIAppearance methods are called.

Do you perhaps have somewhere in your code appearance code to set a background image for toolbars? That's what it looks like.

[2019-10-12 09:00] LeoNatan commented on #365
https://developer.apple.com/documentation/uikit/uiappearance

[2019-10-12 09:01] LeoNatan commented on #365
Put a breakpoint in some of those methods and investigate who and where it is done in your code.

[2019-10-12 09:01] #365 closed

[2019-10-12 14:31] iDevelopper commented on #348
Hi @LeoNatan , what about the progress of this WIP? Interactive presentations?

Do you have a little bit of time for that?

[2019-10-12 14:38] LeoNatan commented on #348
Hello

I have not worked on this in some time. I have ideas, but haven't had the time. I hope to sit again on this branch soon.

[2019-10-21 02:29] wstyres opened #366 "Stack overflow crash when presenting popup bar"
#### Description
Application will crash when presenting a popup bar due to a stack overflow when attempting to decide whether it needs to hide the status bar or not.

#### Steps to Reproduce
Here is the code we use to present the popup controller:
[code]
Calling this function will result in the stack overflow with a trace as shown:
<img width="676" alt="Screen Shot 2019-10-20 at 10 14 32 PM" src="

[2019-10-21 11:00] LeoNatan commented on #366
Hello

Hm this is odd. Can you reproduce this on the example project?
If not, can you please attach a demo project?

[2019-10-21 12:27] wstyres commented on #366
I am not able to reproduce in the sample project unfortunately, the project I am using is located at wstyres/Zebra and LNPopupController is within a submodule in the project if you'd like to take a look.

[2019-10-21 14:27] wstyres commented on #366
Created a small sample project that I'm able to reproduce the issue on https://github.com/wstyres/PopupBug-Example

[2019-10-21 16:48] LeoNatan commented on #366
Great, please keep it alive. I will take a look soon.

[2019-10-23 03:17] PoomSmart commented on #366
I figured out the workaround by not calling `self.view` for status bar height calculation inside this method:

[code]

[2019-10-23 13:44] Razikhan111 opened #367 "IOS 13 Support."
Hello Leo,
I am facing problem for ios 13 for present a controller  with pop up.
I am using method this method:-
self.tabBarController?.presentPopupBar....
It work in ios 12 and previous but didn't  work in ios 13.
My application crash due to apple UIPresentation style and your code doesn't support this.
Please help me to solve this.
I am attaching a debuging video link where a got crash.
Video Li

[2019-10-23 16:14] LeoNatan commented on #367
Hello

Looking at the video, I don't understand why you think the size of the popup bar has anything to do with the crash? The popup bar has 0 height because it's closed. On the other hand, the crash is about `UIImage`. It looks like you are using an old version of the framework. Make sure to use the latest code.

[2019-10-23 16:14] #367 closed

[2019-10-24 09:26] mamady83 opened #368 "How can i remove the botton scroll inset that is added to all my view controllers?"
I have managed to move the dockview to the right of tabbar but the bottom inset which is added to the root VC in order to prevent the content from going behind the popupbar is now causing me trouble.
please tell me how i can remove this space from my scrolling views.
thanks in advance

Current View:
![Screen Shot 2019-10-24 at 12 54 32 PM](https://user-images.githubusercontent.com/17244791/6747209

[2019-10-26 21:06] wstyres commented on #366
@LeoNatan will this fix be implemented?

[2019-10-26 22:05] #366 closed

[2019-10-26 22:06] LeoNatan commented on #366
Fixed. Please try and let me know.

[2019-10-26 22:11] LeoNatan commented on #368
Hello,

Have you modified the framework to achieve this?

[2019-10-26 22:16] wstyres commented on #366
Looks like that fixed it! Thank you!

[2019-10-27 02:09] F-W-D opened #369 "Pop Up Close Button Creating Dead Pixels."
#### Description
The Pop Up Close Button is creating dead pixels on the iPhone 11 Pro, possibly others as well. Trying to remove the chevron does nothing and does not seem to render in iOS 13. Here is a picture:

![Chevron Dead Pixels - LNPopUpController](https://user-images.githubusercontent.com/16774936/67628491-0ce38e80-f82c-11e9-82df-c25f565a4ee0.png)

#### Steps to Reproduce
Try to use
'popup

[2019-10-27 16:58] wstyres opened #370 "Incorrect safeAreaInsets on tab bar within UITabBarController"
#### Description
On notched devices on 12.x and when using a UITabBarController, the tab is initially drawn without safeAreaInsets and appears shrunk. After presenting the popup bar, the tab bar is drawn correctly and even after the popup bar is dismissed. Rotation will also cause the tab bar to be drawn correctly.

Un-linking the LNPopupController framework from the project will not cause the bug

[2019-10-29 00:12] wstyres commented on #370
Also happens on Xcode 11.1

[2019-10-31 06:59] mamady83 commented on #368
No i have used it via carthage
editted the dock view and moved it to right on ipad and changed tabbar width to achieve this

[2019-11-05 05:46] mamady83 commented on #370
in my case this happens only in ios 13. I too would like to know how to solve it

[2019-11-05 05:58] mohamadyeganeh76 opened #371 "Popupbar goes behind UITabbar in first launch"
#### Description
I am using the latest version of the library installed via carthage

I am facing this issue only in ios 13 runnig iphone x and 11 (i.e iphone 8 and prior devices running ios13 are fine)

![Screen Shot 2019-11-05 at 9 22 34 AM](https://user-images.githubusercontent.com/17244791/68181973-23b57e00-ffae-11e9-8114-07143f2d64d3.png)

as you can see popupbar starts from the page inset an

[2019-11-05 09:11] LeoNatan commented on #371
Hello,

Can you reproduce this issue in the example project?
How are you presenting the popup bar and where?

Thanks

[2019-11-05 09:13] LeoNatan commented on #370
Thanks for reporting.

Unfortunately, I will not have time to look at an external project. Would appreciate if you could reproduce in the built-in example project. Perhaps try to present the par in the same place as you present it in your own project.

Thanks

[2019-11-05 09:14] LeoNatan commented on #368
Unfortunately, this isn't a supported scenario. You will have to fork the framework and change how the inset logic works.

[2019-11-05 09:16] LeoNatan commented on #368
If you do this, look for the `_LNPopupSupportSetPopupInsetsForViewController` function calls and set those to `UIEdgeInsetsZero` instead of the popup bar height.

[2019-11-05 09:16] #368 closed

[2019-11-05 09:17] LeoNatan commented on #369
Hello,

This is odd. Can you please post the view hierarchy you are seeing? (Using `recursiveDescription` or Xcode's 3D view)
Can you reproduce this issue in the example project?

Thanks

[2019-11-05 09:26] mamady83 commented on #371
Thanks for the hint,

I was presenting popup bar from `viewDidLoad` and after calling the present method from `viewDidLayoutSubviews` everything worked fine

[2019-11-05 09:27] LeoNatan commented on #371
Hm, not sure that’s the best place to call it. Can you reproduce this in the example project? I will try to look and resolve this.

[2019-11-05 09:29] mamady83 commented on #368
Thanks, if you could provide this inset via a public method it would be useful i guess.

[2019-11-05 09:33] iDevelopper commented on #369
@F-W-D , what is popupController?

[2019-11-05 09:36] LeoNatan commented on #368
It’s not really possible. The inset is not constant but the height of the bar, which is dynamic according to bar style and custom bar controller size.

[2019-11-05 09:37] LeoNatan commented on #369
Agree with @iDevelopper
Most likely, the incorrect `popupContentView` was used.

[2019-11-05 09:58] mamady83 commented on #368
i guess as a quick workaround i can add a negative inset for each one of my lists since i have zero experience with objective-c

[2019-11-05 09:59] LeoNatan commented on #368
That's not a good approach. Remember that insets can change depending on system layout.

You shouldn't be scared of Objective C.

[2019-11-05 10:25] iDevelopper commented on #368
What about using a custom container view controller subclass and implementing these three properties?
[code]

[2019-11-05 10:46] iDevelopper commented on #368
@mamady83 , this is a tabBar added to your view? Not a tabBarController?

[2019-11-05 14:00] wstyres commented on #370
@mamady83 I temporarily resolved it by adding these lines of code to my TabBarController's viewDidAppear to simply force the tab bar to re-layout:
[code]

[2019-11-09 08:36] iDevelopper commented on #368
@LeoNatan ,

What about creating a new property available (for example wantsAdditionalSafeAreaInsets of type BOOL)? If it is set to NO, you do not call the _LNPopupSupportSetPopupInsetsForViewController function.

[2019-11-09 15:53] LeoNatan commented on #368
I guess that's possible but it sounds like a very limited use-case.

[2019-11-10 23:09] pyropresents opened #372 "Text not staying central"
#### Description

When launching podcast track the text/title is central, then shoots to the left and is barely visible, no idea why or how to fix.
![Issue](https://user-images.githubusercontent.com/8068715/68552441-039f1800-040f-11ea-8e44-473efd6643d7.png)

#### Device, OS and Xcode Versions
All devices in simulator, Catalina, Xcode 11.2

[2019-11-10 23:13] LeoNatan commented on #372
Hello,

Are you able to reproduce this issue on the example app? Also, make sure you are running the latest version, not some old CocoaPods fork.

[2019-11-10 23:21] pyropresents commented on #372
cocoa is 1.8.4, I'm not sure what you mean when you say reproduce it on an example app?  speedy reply by the way!

[2019-11-10 23:22] LeoNatan commented on #372
The framework is at 2.8.5. Not sure what you expect me to do. Use the framework as described in the readme.

[2019-11-10 23:22] #372 closed

[2019-11-10 23:24] LeoNatan commented on #372
I see v1 ended at 1.4.6. So no idea what 1.8.4 is.

[2019-11-10 23:27] pyropresents commented on #372
sorry, maybe i grabbed the wrong info, im new to alot of this. i tried to install it via terminal but that didnt work so run there mac app instead, im confused because you have just said i should be running a newer version, but in read me file it says i shouldnt even use cocoa pods with LnPopup

[2019-11-10 23:29] LeoNatan commented on #372
That’s right, CocoaPods is not supported and never has been. Use Carthage or a sub module. You can use together with your existing CocoaPods stuff.

[2019-11-10 23:29] LeoNatan commented on #372
You probably found an old fork that people have made.

[2019-11-10 23:30] pyropresents commented on #372
so that would be why im running into this problem? if i use carthage this shouldnt happen?

[2019-11-10 23:30] LeoNatan commented on #372
I haven’t seen this issue in very long time. Try and let me know.

[2019-11-10 23:31] pyropresents commented on #372
ok, thanks for your time, i'll give it a go :-)

[2019-11-10 23:32] LeoNatan commented on #372
Cheers

[2019-11-11 08:16] iDevelopper commented on #368
This would allow users of the framework to develop applications that look like Apple Music app on iPad, like @mamady83 trying to do!

[2019-11-11 11:19] pyropresents commented on #372
Although other dependencies are added via cocoa pods , this was added manually by dragging and dropping and then adding the framework to the embedded binaries (I’ve just been told as was done by someone else)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-11 11:21] LeoNatan commented on #372
Can you please reproduce in the example project?

[2019-11-11 11:24] pyropresents commented on #372
@LeoNatan no problem, will be on comp in about hAlf hour, what’s best way to share it? Can I upload it to post? Or do I share a upload link to you? I’m a newbie on here

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-11 11:26] LeoNatan commented on #372
Once you reproduce, you can compress the folder and drag/drop the zip file here.

[2019-11-11 11:27] pyropresents commented on #372
@LeoNatan ok thanks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-11 11:59] pyropresents commented on #372
[DJ Pyro.zip](https://github.com/LeoNatan/LNPopupController/files/3831196/DJ.Pyro.zip)
Here ya go mate

[2019-11-11 12:13] LeoNatan commented on #372
This is not the example project. I will not have time to dive in your own project. Please reproduce in the example project included in this repo: https://github.com/LeoNatan/LNPopupController/tree/master/LNPopupControllerExample

[2019-11-12 16:27] #369 closed

[2019-11-14 03:48] JayceBryce opened #373 "How to prevent/allow player from turning landscape when turning phone?"
#### Description

My current app allows only portrait/lanscape mode. Essentially when I present the player and it is open I would like to allow the users to turn their phone landscape.

This following code is inside my view controllers:

[code]

Inside my player view controller ( which I use this library ) I have this code:

[code]

How would I go about achieving this goal of not allowing my VCs (

[2019-11-21 23:47] dancarasco opened #374 "Popup drag animation causes controller to get stuck under status bar"
Popup is presented on a TabBarController which is parent of several child navigation controllers. The popup's content view controller is a regular UIViewController.

The UIViewController has prefersStatusBarHidden set to YES. Drag style is set to default (iOS 10.0+)

When **clicking** the arrow or popup bar to hide and show the VC, the status bar animation _works_ as expected:

![expected](https:/

[2019-11-22 00:00] LeoNatan commented on #374
Thanks
Will look into it when I have time.

[2019-11-22 00:00] LeoNatan commented on #374
Is it reproducible in the example project?

[2019-11-22 00:15] dancarasco commented on #374
Thanks for the fast response @LeoNatan

Yes - have set **prefersStatusBarHidden** to **YES** in the example project, and you can see the same behaviour occurs:

On **click**:

![expected_example](https://user-images.githubusercontent.com/49026110/69387180-5c02cf00-0cc5-11ea-9d0d-94471ffef161.gif)

The "Gallery" button re-appears in the _correct_ place.

On **drag**:

![unexpected_example](https://

[2019-11-22 00:18] LeoNatan commented on #374
Thanks for checking. I will take a look.

[2019-11-22 00:26] LeoNatan commented on #373
Hm, I don't think this is supported, at least not currently. This should work eventually if/when v3 is implemented, where I use custom presentation. It would require a major effort to implement this in the current version.

What I would suggest is, in your presenting controller, implement `supportedInterfaceOrientations` to return `.portrait` if the popup is closed or not presented, and `.allButUp

[2019-11-22 00:26] #373 closed

[2019-12-05 16:03] cpvbruno commented on #287
Any update?

[2019-12-06 05:18] bvsairam49 opened #375 "Hide Popup bar for some view controllers in swift"
#### Description

First i want to thank you for the great framework.
I'm using Tabbar controller and I want to hide popup bar in some viewcontrollers/screens like settings screen or user profile screen. Whenever come out of those screens popup bar should visible automatically. is this possible currently? if yes please let me know how to achieve.
#### Device, OS and Xcode Versions

Xcode 10.2 and t

[2019-12-06 10:19] iDevelopper commented on #375
- (void)dismissPopupBarAnimated:completion:

Not the trick?

[2019-12-06 14:42] LeoNatan commented on #375
@bvsairam49 There is no automatic way to do this, but as @iDevelopper has suggested, you can dismiss and present the popup bar without animation to achieve this. You need to set a delegate to your tab bar, and listen to changes in selected view controllers, and dismiss or present the bar accordingly.

[2019-12-06 14:42] #375 closed

[2019-12-26 09:56] dangtaikhtn opened #376 "Can not find the class MarqueeLabel"
Hi @LeoNatan , I have installed your library by manually but in my project can not find the MarqueeLabel, the logs as below:
"Unknown class MarqueeLabel in Interface Builder file."

Can you help me how to resolve it?
Thanks

[2019-12-27 03:15] LeoNatan commented on #376
Hello,

I'm not sure I understand. Are you using MarqueeLabel in your storyboard? (LNPopupController does not use storyboards/nibs by itself.)
How exactly did you integrate?

[2019-12-27 16:11] dangtaikhtn commented on #376
Hi,
- Yes, I am using MarqueeLabel in storyboard. In the example project that you already to use it.
<img width="630" alt="storyboard" src="https://user-images.githubusercontent.com/3297638/71523907-9cc1b980-28fd-11ea-9850-98943c7bb016.png">

- And I have another question: the label in mini player did auto scrolling with a long text. Can you help me to fix it?
![Simulator Screen Shot - iPhone 7 -

[2019-12-27 22:45] LeoNatan commented on #376
I see the problem. LNPopupController uses internally MarqueeLabel, but it goes out of its way to hide that, so that there is no collision if you want to use MarqueeLabel in your app. If you do want to use that, you should bring your own version of MarqueeLabel (however you wish), and use that, just like the demo project does.

Regarding scrolling, read the header file documentation.

[2019-12-27 22:45] #376 closed

[2020-01-08 20:55] jaredcowoCS opened #377 "How can I show the progressView in Swift?"

[2020-01-09 16:13] #377 closed

[2020-01-09 16:13] jaredcowoCS commented on #377
.

[2020-01-11 22:01] muhasturk opened #378 "Is is possible to use in SwiftUI?"

[2020-01-11 23:32] LeoNatan commented on #378
I’m sure it is, but I haven’t actively played around with it.

Since the concept of controllers is foreign in SwiftUI, you’d have to create a hosting controller (`UIHostingController`), and present the popup controller on that. The popup content content controller can also be a Swift UI hosting controller.

[2020-01-17 06:39] muhasturk commented on #378
The problem that I could not imagine is `NavigatienView` generates UINavigationController implicitly and don't know how can we subclass it and implement LNPopupController.

[2020-01-29 03:06] tianzhaotong2012 commented on #371
hello i meet the same problem, can u help me . my code is here https://github.com/tianzhaotong2012/ZTMusic

[2020-01-29 08:10] tianzhaotong2012 opened #379 "how to show a progress in popupbar?"

[2020-01-29 08:10] tianzhaotong2012 commented on #379
i can't find a example in https://github.com/LeoNatan/LNPopupController/tree/master/LNPopupControllerExample

[2020-01-29 08:41] LeoNatan commented on #379
You set the `progressViewStyle` to either `.bottom` or `.top`, then set the `progress` of your popup item.

[2020-01-29 08:41] #379 closed

[2020-01-29 08:44] tianzhaotong2012 commented on #379
thanks for your answer.
but i use this code
self.popupItem.title = LOCSTR(@"未在播放");
    self.popupItem.image = [UIImage imageNamed:@"AppIcon60x60@3x"];
    self.popupBar.progressViewStyle = LNPopupBarProgressViewStyleTop;
    self.popupItem.progress = 0.4;

not work.Unfortunate

[2020-01-29 08:45] LeoNatan commented on #379
`self.popupBar` is probably incorrect.
The correct `popupBar` is on the view controller which you present `self` on.

[2020-01-29 08:48] tianzhaotong2012 commented on #379
thanks
code ‘self.popupItem.image = [UIImage imageNamed:@"AppIcon60x60@3x"];’ is useful.
so self.popupBar is also ok.
but still have problem.

[2020-01-29 09:10] tianzhaotong2012 commented on #379
https://github.com/LeoNatan/LNPopupController/blob/master/Supplements/rtl_english.png

excuse me . if i use the correct code, the progress bar will show on the popupItem.title just like this screenshot?

[2020-01-29 09:41] LeoNatan commented on #379
The screenshot does not display the progress view.

[2020-01-29 09:44] tianzhaotong2012 commented on #379
yes， but i can't find an example . https://github.com/LeoNatan/LNPopupController/tree/master/LNPopupControllerExample
can u provide one in your example project by object C?
thanks.

[2020-01-29 09:50] LeoNatan commented on #379
In FirstViewController.m, change the following line:

[code]
to
[code]

It will look like this:
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-01-29 at 11 49 35](https://user-images.githubusercontent.com/2270433/73345862-82c51f00-428d-11ea-91a0-52b2b9121a29.png)

[2020-01-29 09:55] tianzhaotong2012 commented on #379
yes i see
thanks

[2020-01-30 14:02] tianzhaotong2012 commented on #379
hello, excuse me.
how to set popupbar like the apple music.
i try this code but not satisfied. default background is white in my app.
vc.popupBar.backgroundColor = [UIColor colorWithWhite:230.0 / 255.0 alpha:0.9];
thanks

[2020-01-30 14:10] LeoNatan commented on #379
Read the headers please.

[2020-02-10 19:15] Arasthel commented on #365
I'm seeing the same stacktrace when I try to present the popupbar using `presentPopupBarWithContentViewController`, when LNPopupBar is instantiated. I can confirm that I don't use any UIAppearance methods anywhere. I already tried updating to 2.8.5.

The app I'm working on is getting rejected because of this issue but I can't reproduce it myself neither on a real device nor on a simulator... I wis

[2020-02-11 22:43] Arasthel commented on #365
Actually, I wasn't using the most recent version. I inherited this project with almost 0 documentation and I just realised that they are using Carthage for a single dependency... this lib. When building for simulator / devices it used the right version (2.8.5), but when I archived the app, the old sources were downloaded through Carthage and they replaced the local version.

[2020-02-11 22:50] LeoNatan commented on #365
That makes sense. It was a problem in older versions on iOS 13.

I would suggest using git submodule as dependency for this. It is the easiest way to maintain.

[2020-02-11 22:54] LeoNatan commented on #378
You can pause an app and dump the controller hierarchy to see if it is implemented using a `UINavigationController` or not (I'm sure it is because why would they write the same code twice?).

I don't know what to advice you. I don't use SwiftUI and have little interest in it. To me, it's not a good architecture and not something I'd enjoy. The framework is heavily implemented on top of `UIViewCont

[2020-02-23 18:19] joshuaseltzer opened #381 "UIBarButtonSystemItemFixedSpace breaks the popupItem Buttons (iOS 13)"
#### Description
Adding a UIBarButtonItem defined as a system item with the type UIBarButtonSystemItemFixedSpace breaks the popup bar buttons completely.

#### Steps to Reproduce
In the Objective-C demo app, simply add the following code to create a fixed item Bar Button Item and add it to the left or right bar button items array on the PopupItem object:
[code]

Notice afterward that the buttons n

[2020-02-24 17:08] mkeshnoda opened #382 "PopupBar title color issue"
Hi, i am using the version 2.8.5 and I can't change PopupBar's title color with the `titleTextAttributes`. Inside my ViewController, i am trying to change color like this
`self.popupBar.titleTextAttributes = [NSAttributedString.Key.foregroundColor: UIColor.red]`
**AND ALSO**
`LNPopupBar.appearance().titleTextAttributes` doesn't appear.

**Swift 5
ios13 - ios12**

[2020-02-24 17:10] LeoNatan commented on #382
Please looks at the example project. This functionality works.

[2020-02-24 17:10] #382 closed

[2020-02-24 17:18] mkeshnoda commented on #382
I don't understand isn't this enough? `self.popupBar.titleTextAttributes = [NSAttributedString.Key.foregroundColor: UIColor.red]`

[2020-02-24 17:46] mkeshnoda commented on #382
in the console i am having

[code]

[2020-02-24 17:48] LeoNatan commented on #382
It should be enough. You are most likely applying it to the incorrect popup bar object. Please see the example project.

[2020-02-25 07:48] iDevelopper commented on #382
@mkeshnoda , With which container controller do you present the popup bar? Is it self (your view controller) or a tab bar controller or a navigation controller? You have to access to the popup bar properties with the same controller. Example:
[code]

[2020-04-01 07:20] aidev1065 commented on #348
Any updates on this?

[2020-04-01 20:43] LeoNatan commented on #348
Sorry, unfortunately I have not worked on this branch (or the framework) in a long while.

[2020-04-06 13:24] StackHelp commented on #354
@LeoNatan I am trying to set `customBarViewController` like below.

        let customPlayerBar = PlayerPopUpBarVC.instantiate()
        self.tabBarController?.popupBar.customBarViewController = customPlayerBar
        self.tabBarController?.presentPopupBar(withContentViewController: vc, openPopup: true, animated: true, completion: nil)

This does work however the problem is when I'm trying to get

[2020-04-06 13:29] LeoNatan commented on #354
I think you are trying to change the incorrect controller’s popup item.

[2020-04-06 14:39] StackHelp commented on #354
@LeoNatan I have given `PlayerPopUpBarVC` as  `customBarViewController`

[2020-04-06 15:06] iDevelopper commented on #354
You have to retrieve the popupBar in his container:

[code]

[2020-04-06 15:10] StackHelp commented on #354
@iDevelopper ahhh .. Let me check. I totally forgot to refer tabbar here.

[2020-04-06 15:49] StackHelp commented on #354
@iDevelopper Still got `nil`

[2020-04-06 16:03] LeoNatan commented on #354
Try the item of the tab bar controller.

[2020-04-07 04:22] StackHelp commented on #354
@LeoNatan Any solution for this pls? `self.tabBarController?.popupBar.customBarViewController` also gives `nil`

[2020-04-07 14:43] StackHelp opened #383 "Refer to customBarViewController always gives `nil`"
I am trying to use the custom controller as a `popupBar` and for that, I set up code like

        let customPlayerBar = PlayerPopUpBarVC.instantiate()
        self.tabBarController?.popupBar.customBarViewController = customPlayerBar
        self.tabBarController?.presentPopupBar(withContentViewController: vc, openPopup: true, animated: true, completion: nil)

Now, the problem is when I'm trying t

[2020-04-07 15:50] iDevelopper commented on #383
1. Is customPlayerBar inherit from LNPopupCustomBarViewController?

2. To update popupItem: popupItem is accessible from your vc (the popupContentViewController)

[2020-04-07 16:42] StackHelp commented on #383
@iDevelopper

1. Yes `class PlayerPopUpBarVC: LNPopupCustomBarViewController`

     class PlayerPopUpBarVC: LNPopupCustomBarViewController {
     @IBOutlet weak var songImageView: UIImageView!
     @IBOutlet weak var songTitleLabel: UILabel!

2. I don't understand this

[2020-04-08 06:37] iDevelopper commented on #383
And what about po self.tabBarController.popupBar

[2020-04-08 10:57] StackHelp commented on #383
@iDevelopper It's `nil` as well

[2020-04-08 13:56] iDevelopper commented on #383
From which controller?

[2020-04-08 14:36] StackHelp commented on #383
@iDevelopper playerViewController

        let vc = PlayerViewController.instantiate()

        let customPlayerBar = PlayerPopUpBarVC.instantiate()
        self.tabBarController?.popupBar.customBarViewController = customPlayerBar
        self.tabBarController?.presentPopupBar(withContentViewController: vc, openPopup: true, animated: true, completion: nil)

I am calling `if let customItem = self.t

[2020-04-09 05:22] iDevelopper commented on #383
In your playerViewController, which is the contentViewController, you simply access the popuItem like this:

self.popupItem

[2020-04-09 06:06] StackHelp commented on #383
Here is the log in `playerViewController`

    (lldb) po self.popupPresentationContainer?.popupBar.customBarViewController
    nil

    (lldb) po self.popupPresentationContainer?.popupBar
    nil

    (lldb) po self.popupPresentationContainer
    nil

[2020-04-09 06:56] iDevelopper commented on #383
I think you are in the viewDidLoad function, try in viewWillAppear.

[2020-04-09 07:54] StackHelp commented on #383
@iDevelopper  But why?  If it's there in `popupPresentationContainer`, then whenever we call we should have to get it.

[2020-04-09 08:35] iDevelopper commented on #383
popupPresentationContainer is set during the popup bar presentation. You probably load your playerViewController before the presentation...

[2020-04-09 10:03] iDevelopper commented on #383
Do you need to access to popupPresentationContainer in viewDidLoad? Why?

[2020-04-09 10:55] StackHelp commented on #383
I am loading it as it described in doc `    self.tabBarController?.presentPopupBar(withContentViewController: vc, openPopup: true, animated: true, completion: nil)`

[2020-04-09 12:33] iDevelopper commented on #383
Yes, this is how you present the popup bar. But your vc (the player view controller) is already allocated and his view loaded. Then in viewDidLoad you can't have access to popupPresentationContainer. Search why his view is already loaded. Look at your instantiate() function... And put a breakpoint in viewDidLoad() function, you will see that the view is loaded before the popup bar presentation.

[2020-04-09 15:42] StackHelp commented on #383
@iDevelopper I don't understand this scenario. can you help me If I am sharing my screen?

[2020-04-09 15:49] iDevelopper commented on #383
You can share your screen but your code is welcome to understand. I ask the question again:

Do you need to access to popupPresentationContainer in viewDidLoad?

[2020-04-09 16:31] StackHelp commented on #383
@iDevelopper I want it on a runtime, like when song loads or song change

[2020-04-10 06:39] iDevelopper commented on #383
Can you present the popup bar and set currentMedia in the completion block? A least for the first song...

[2020-04-10 07:57] StackHelp commented on #383
@iDevelopper  ok. Let me try

[2020-04-10 08:22] StackHelp commented on #383
@iDevelopper Yes SIr, It worked. Now I understood that the thing is PlayerView Loads even before completing presentation of popupBar and that's why it's not even in hierarchy of controllers and that's why it produces `nil`. Thanks a lot for your help and giving this issue too much time.

[2020-04-10 10:01] iDevelopper commented on #383
@StackHelp , glad to hear it works!

This framework support custom bars. But a little outdated, I will update with a new version soon. If you want to test?... The main difference with LN is that this framework uses fewer private APIs and animates views (such as image or controls), as the Apple Music application does.

[2020-04-10 10:36] StackHelp commented on #383
@iDevelopper Yes, I will surely test it once you updated it. I like to do that.

[2020-04-10 11:14] #383 closed

[2020-04-12 15:38] iDevelopper opened #384 "Question"
@LeoNatan , I hope you are well despite these circumstances.
This is just a question please?
Do you know why snapshotViewAfterScreenUpdates: method does not capture a toolbar view correctly ?
The capture view show only items and everything else is clear.
I saw that your framework version 3, you use the private UIView _UIPortalView.
Is it for a workaround?
Thanks,

[2020-04-12 16:28] LeoNatan commented on #384
Sadly, it seems like a limitation of Apple. Snapshotting visual effect views is not recommended. It used to look better in the past, but in recent years, it looks bad.

Portal views are different (and private!). The allow rendering parts of the hierarchy in different places, without ripping them from their actual position in hierarchy. But it’s very limited. For example, not possible to render the

[2020-04-12 16:28] LeoNatan commented on #384
Hope you are well too.

[2020-04-12 16:28] #384 closed

[2020-04-13 10:08] iDevelopper commented on #384
Thanks a lot for your answer.
Can _UIPortalView support a sourceRect?? instead of sourceView?
Be well!

[2020-04-13 10:12] LeoNatan commented on #384
No possible unfortunately:

https://github.com/LeoNatan/Apple-Runtime-Headers/blob/master/iOS/PrivateFrameworks/UIKitCore.framework/_UIPortalView.h

[2020-04-13 14:22] iDevelopper commented on #384
Thanks,

And unfortunately, Apple cannot provide a reliable API for these screenshots, then! Even more strange, if I capture a toolbar from a navigation controller with snapshotViewAfterScreenUpdates, it works, but if I capture a toolbar that I added myself on a view, it does not work, it is completely transparent, except if I set a background color to the toolbar I added. However, looking in debu

[2020-04-13 14:26] iDevelopper commented on #384
They do not say everything to us ! They are not transparent, them! :-)

[2020-04-13 14:28] LeoNatan commented on #384
You can fake it by adding a visual effect view under your snapshot.

[2020-04-13 14:35] iDevelopper commented on #384
Yes but with what effect? In the debug view hierarchy, if I look at the visualEffectView of the toolbar, effect = none.

[2020-04-13 14:38] LeoNatan commented on #384
On iOS 13, it’s easy. Set the effect to `UIBlurEffectStyleSystemChromeMaterial`. On previous systems, it’s harder to find a match, and may even be impossible.

[2020-04-13 14:53] iDevelopper commented on #384
I will test, fortunately, the snapshot is bugged only on iOS 13 and I need it because of the new modal presentation style...

[2020-04-15 15:36] iDevelopper commented on #384
Thanks, it works, I don't understand why (did you work at Apple?). But no for tabBar of UITabBarController. So, this is what I did:
[code]

[2020-04-20 03:08] aidev1065 opened #385 "Changing Docking View on Catalyst Removes Whole View"
#### Description
Hi!
So I have a Podcast Player app on iOS and I've ported it over to macOS using UIKitForMac. Your library works well when connected to my tab bar. However, to make the Mac app feel more Mac-like, I've changed the tab bar to a toolbar.

Now without the following code, the popups still appear but there's a gap in between the bottom of the popup and the bottom of the screen. To remo

[2020-04-20 08:12] LeoNatan commented on #385
Hello,

I don't think returning the view itself is a good idea. Instead, on Mac add a transparent UIView to the bottom of your tab bar controller's view, and use that as your docking view. Wrap the addition of that view with `#if targetEnvironment(macCatalyst)` as you have done in your code too.

Let me know how it goes.

[2020-04-20 08:42] aidev1065 commented on #385
Hey! Thanks for the suggestion! It worked out if I set it to another small view. Thanks!!

[2020-04-20 08:42] #385 closed

[2020-04-20 08:45] LeoNatan commented on #385
Great! Cool app!

[2020-04-21 10:37] iDevelopper commented on #378
I have the same interest as that of @LeoNatan . There is indeed an instance of UITabBarController or UINavigationController when we observe the hierarchy in the Debug View Hierarchy, but we do not have access to it. Did SwiftUI want to imitate HTML coding? I do not see the interest !

[2020-04-27 15:28] ibespaljkocs opened #386 "iOS 13 tabbar layout delay when using setHidesBottomBarWhenPushed"
#### Description
UITabbar has a layout delay if setHidesBottomBarWhenPushed is set to YES when opening another screen (e.g: details screen with no bottom tabbar). Layout delay happens on back action, when user returns to previous screen.
This is present only on iOS 13 when **not** using storyboards!

iOS 13 + storyboard -> OK.
iOS < 13 + storyboards -> OK.
iOS < 13 w/o storyboards -> OK (e.g: usin

[2020-04-27 15:32] LeoNatan commented on #386
Heh, what an odd issue. I don't see why a storyboard presence would influence the layout timing, unless Apple is doing something fishy.

I don't have much time these days, but I will take a look when I can. Thanks

[2020-04-27 16:01] ibespaljkocs commented on #386
Yes, sounds strange, I agree.
I've just created a simple storyboard with only UITabBarController in it..then subclassed UITabBarController with custom class, assigned it to UITabBarController class in storyboard. Now it works like a charm!

[2020-05-15 15:53] muhasturk opened #387 "SPM Support?"
Quite simple to add Package.swift and point source files.
Could you please add swift package manager support?

[2020-05-15 15:56] LeoNatan commented on #387
Hello,
I don't have much experience with it. Would you be interested in submitting a PR and updating the docs with an explanation how to install?

Thanks

[2020-05-15 15:57] muhasturk commented on #387
Ok, let me develop, will send PR.

[2020-05-15 16:00] LeoNatan commented on #387
Just to be sure, does SPM guarantee a framework output with a module, so things like `@import LNPopupController;` are handled correctly?

Also, the framework currently has an asset catalog. SPM doesn't currently support assets. I read that Swift 5.3 will finally add that in SPM, so maybe best to wait until then.

[2020-05-15 16:10] muhasturk commented on #387
You are right, 5.3 will add support for Binary Dependencies, we can wait until released.

https://github.com/apple/swift-evolution/blob/master/proposals/0272-swiftpm-binary-dependencies.md

[2020-05-15 16:12] LeoNatan commented on #387
It’s mind boggling that it took so long to develop this. 🤦‍♂️

[2020-06-30 09:56] fruitcoder commented on #387
Binary dependencies and resources are now supported in SPM :)

[2020-07-09 00:19] johnswifttt opened #388 "Change height of Compact bar"
#### Description

Hello! This is simply a question. Is it possible to change the height of the `Compact` mini player bar? I really like the design of this bar style versus the `Prominent`. I just wish I could adjust the height of the `Compact` bar. If this is not possible, could you suggest how I could do this in a fork or maybe a PR to help you?

This is a picture of the `Compact` mini player. It

[2020-07-09 04:18] iDevelopper commented on #388
You can use LNPopupBarContentViewController to customise your own popup bar. See the map scene in the example.

[2020-07-09 14:05] johnswifttt commented on #388
@iDevelopper Oh so it looks like I can make the popup completely custom. It could look anyway I want. It looks like I need to use this API right?

[code]

The call site is:
[code]

[2020-07-09 15:26] LeoNatan commented on #388
Yeah, if you use the custom bar view controller, you will need to recreate the layout on your own.

Internally, I use https://github.com/cbpowell/MarqueeLabel for the labels.

If you still want to fork, you can look into changing `LNPopupBarHeightCompact` in Private/LNPopupBar.m and how that is used to determine the height. You might need to modify the layout method to make it look better with a h

[2020-07-09 15:26] #388 closed

[2020-07-09 22:03] johnswifttt commented on #388
@iDevelopper Thank you for pointing me in the right direction!

@LeoNatan Thank you for answering! This is awesome! I think I may talk with designer and who knows, come up with something completely custom and have fun with it. Awesome library and hope you continue to maintain it!

[2020-07-09 23:24] LeoNatan commented on #388
Thank you for the kind words!

[2020-07-10 07:48] iDevelopper commented on #287
A workaround could be to add your own targets and selectors to handle the gesture recognizers messages:
[code]
And a custom button to close the popup content.

[2020-07-10 16:23] johnswifttt opened #389 "Swipe to Dismiss Mini Popup Bar"
#### Description
Hi there! This is a simple question. I was wondering if we could swipe to dismiss the mini popup bar.

I read the documentation and it states:

However, this seems to refer only to the full screen popup right?

I was thinking maybe in the mini player like this one, if a user swipes down on it, it dismisses the mini popup completely. I could add a button that when the user taps, I

[2020-07-10 16:28] LeoNatan commented on #389
Hello,

It's not possible within the framework itself, but you can implement this on your own. Add a gesture recognizer on the popup bar. Set it up so it requires the failure of the popup bar's pan gesture recognizer and when your gesture recognizer fires, dismiss the popup bar.

[2020-07-10 16:45] johnswifttt commented on #389
Thank you for quick reply and explanation. I could try that, but I wonder if I can control the swipe down so it looks good as user swipes away. For example, if you swipe down only a little, the mini player will swipe down only that much but not dismiss, etc. This is similar to how you did the swipe up in a really nice way.

Maybe this is more complicated than simple swipe gesture. If it is, I migh

[2020-07-10 17:06] LeoNatan commented on #389
That would require touching the bar frame, and I wouldn’t recommend it.

[2020-07-10 17:24] johnswifttt commented on #389
lol gotcha, I'll follow your recommendation 🙂I personally don't like forking libraries and customizing too much due to future releases not being compatible.

In this case, it seems the best way to do it is to create a custom bar with `LNPopupCustomBarViewController` and implement a gesture on it.

Thank you again for explanation! That answers my question very clearly!

[2020-07-10 18:45] LeoNatan commented on #389
Please note that even with a custom bar, the positioning of the bar is handled by the system.

[2020-07-10 19:03] johnswifttt commented on #389
Ok understood, thanks for pointing that out 💯🙂

[2020-07-21 04:06] ivanrein commented on #386
@ibespaljkocs do you have a workaround for this?

[2020-07-25 18:58] LeoNatan commented on #389
Closing the issue as I think it's solved. Thanks

[2020-07-25 18:58] #389 closed

[2020-07-31 08:47] iDevelopper opened #390 "Split view controller issue"
## Description
In your example, when I run it on iPad, iOS 14 with Xcode 12.0 beta 3, split view controller demo is broken. First, I think (for the detail view controller):
[code]

And secondly, and I think it may be an Apple bug, the x origin of the container view frame is -100.

What do you think ?

Thanks.

#### Steps to Reproduce
Run your example

#### Device, OS and Xcode Versions
iOS 14, Xco

[2020-07-31 11:06] LeoNatan commented on #390
The origin is like that apparently on purpose.

https://twitter.com/geoffhackworth/status/1284082382467932163?s=21

What is broken with LNPopupController? The bar starts offscreen?

[2020-07-31 11:24] iDevelopper commented on #390
Yes it is like Adaptivity app.

In LNPopupController, it is weird! When dragging, the frame of the popuBar is OK. The frame of the navigation controller toolbar is OK. The frame of the rest of popupContentView is x = -100.

Also, there are two popupBars.

<img width="581" alt="screenshot" src="https://user-images.githubusercontent.com/1782450/89030542-faedc980-d330-11ea-9a10-355362b5355a.png">

[2020-07-31 15:51] LeoNatan commented on #390
I see. The popup bar takes into account the layout margins and safe areas into account. This is a bug in the demo project, not the framework itself. If I layout the internal views to be centered in the safe area, they will be correctly centered.

[2020-07-31 16:24] LeoNatan commented on #390
Hmm, I do see a problem. Somehow the popup content controller's view doesn't get the correct safe area insets. Will investigate.

[2020-07-31 16:28] iDevelopper commented on #390
And what about the safe area insets of the primary view controller?

[2020-07-31 16:36] iDevelopper commented on #390
So, adding the safeAreaInsets.left of the primary view controller to the popup content view origin.x may do the trick, no?

[2020-07-31 16:37] LeoNatan commented on #390
For the demo project, just enable safe areas in the storyboard. That will fix the "Correct bottom layout guide" label not being centered.

[2020-07-31 16:38] iDevelopper commented on #390
And reduce the width too.

[2020-07-31 16:40] LeoNatan commented on #390
Width is controlled by iOS.

[2020-07-31 18:30] LeoNatan commented on #390
I think it's a bug in iOS 14. I just reproduced the same behavior in an empty project, where adding a sub view doesn't correctly receive the left safe area inset.

[2020-07-31 19:30] LeoNatan commented on #390
So, if I add a view controller's view without adding it as a child view controller, the safe area is not calculated correctly:

[code]

If I do add it as a child view controller, it works as expected. Also, if I add a view that is not attached to a controller, it also correctly sets the safe area insets.

I cannot add the content view controller as a child controller because of bugs in Apple's own

[2020-07-31 19:36] LeoNatan commented on #390
I've pushed the workaround to Master. I'm not releasing yet, because I want to see if I can make the system work as expected with the safe area layout.

[2020-07-31 19:37] LeoNatan commented on #387
Hmm, so it requires that all sources be in `Sources/`? :(

I might implement this using soft links, I don't like losing history on the files just for SPM.

[2020-07-31 19:38] LeoNatan commented on #335
It's happening. With the planned 2.9.x release (iOS 14 support), iOS 9-11 support is removed. Only iOS 12 and above will be supported.

[2020-07-31 19:38] iDevelopper commented on #390
I will have a look tomorrow. Did you test with the version 3.0 in WIP?

[2020-07-31 19:40] LeoNatan commented on #390
No, I really don't have time for 3.0; it has not been worked on in a very long time.
I will create 2.9.x with iOS 14 support. I don't know about 3.0.

[2020-07-31 19:42] LeoNatan commented on #386
I'll look at this tomorrow. I haven't seen this reproduce, but will try to.

[2020-07-31 19:45] LeoNatan commented on #374
Will look into this tomorrow.

[2020-07-31 19:49] coolstar commented on #335
@LeoNatan just wondering, are there any APIs we need that are only on iOS 12+?

I’d like to keep iOS 11 support, but I’m fine with dropping 10.x and lower

[2020-07-31 19:54] LeoNatan commented on #335
I want to minimize the swizzled API usage to a minimum. I'll look at the stuff I removed (and still need to remove) and I'll see if iOS 11 complicates stuff. iOS 11 has support for safe areas, which is a big plus, but it's pretty broken. No promises, but I'll look favorably if it doesn't need extra swizzles over iOS 12.

[2020-07-31 23:57] LeoNatan commented on #370
I can't reproduce unfortunately. Taking into account that iOS 14 is around the corner, iOS 13 is already very popular, and you have a workaround, I will leave this issue be and close it.

[2020-07-31 23:57] #370 closed

[2020-08-01 01:07] #371 closed

[2020-08-01 01:08] LeoNatan commented on #374
Fixed in master, will release a new version soon.

[2020-08-01 01:08] #374 closed

[2020-08-01 01:43] LeoNatan commented on #387
I've created the SPM branch with my attempt:

https://github.com/LeoNatan/LNPopupController/tree/SPM
https://github.com/LeoNatan/LNPopupController/blob/SPM/Package.swift

Can't get the build system to find my public headers. I am using `#import <LNPopupController/Header.h>` syntax for publicly exposed headers, but Xcode complains that it cannot find the header. I will not change the import syntax

[2020-08-01 01:45] LeoNatan commented on #390
Fixed in master.

[2020-08-01 01:45] #390 closed

[2020-08-01 06:39] iDevelopper commented on #390
I had modified like this:
[code]

[2020-08-01 16:53] LeoNatan commented on #378
I've been looking a little into the internals of SwiftUI, and perhaps an approach similar to the [SwiftUI-Introspect](https://github.com/siteline/SwiftUI-Introspect) project can be adopted, where in runtime, the view controller is discovered and then presentation can be performed on it. I don't know how stable this approach is (e.g. when SwiftUI rerenders, how often is the controller instance thro

[2020-08-01 18:32] LeoNatan commented on #386
Reproduced, investigating.

[2020-08-01 19:37] LeoNatan commented on #386
Fixed. For some reason, when the tab bar is not created from a storyboard, the frame was being overridden. Should work well now.

[2020-08-01 19:37] #386 closed

[2020-08-01 19:50] #381 closed

[2020-08-01 19:52] LeoNatan commented on #381
Fixed. Space bar button items do not generate views, which was causing a layout bug. Should look good now.

![Spacing](https://user-images.githubusercontent.com/2270433/89109428-bb66d080-d449-11ea-884a-fa2b8e0ecaf1.png)

[2020-08-02 01:09] LeoNatan commented on #287
I might add a delegate for the popup controller soon, where these events will be notified. We'll see.

[2020-08-02 01:22] LeoNatan commented on #390
That will produce strange results in iPhone on landscape, because the safe area insets are not 0 in that case.

[2020-08-02 05:53] iDevelopper commented on #390
Exact ! But your implementation is not good either, the labels are not centered:

<img width="879" alt="Capture d’écran 2020-08-02 à 07 52 41" src="https://user-images.githubusercontent.com/1782450/89116520-3903fe00-d495-11ea-88a3-8df47c124ce7.png">

[2020-08-02 07:03] iDevelopper commented on #390
[code]

And we need to center the chevron too.

<img width="879" alt="Capture d’écran 2020-08-02 à 08 58 24" src="https://user-images.githubusercontent.com/1782450/89117486-791bae80-d49e-11ea-9728-026a80a0f5b5.png">

[2020-08-02 12:14] LeoNatan commented on #390
I’m still not finished with the implementation. I’ll look to improve it before release. The second screenshot is what I had in mind when I said “won’t look good”.

[2020-08-02 18:20] LeoNatan commented on #390
Now it's perfect, I think, or at least I couldn't find problems.

[2020-08-03 01:39] LeoNatan commented on #378
So, in my investigation, I created a `LNPopupView` wrapper view, where you can put your `TabView` or `NavigationView`, and it can automagically discover the `UITabBarController` or `UINavigationController` (or none, for a simple view controller presentation).

So I was thinking about a syntax of this sort:

[code]

I still have no idea how `ModifiedContent` (view modifiers) works in SwiftUI, and n

[2020-08-03 16:28] iDevelopper commented on #390
It looks like it's perfect! Using private APIs. Can you explain?

[2020-08-03 18:24] LeoNatan commented on #390
It’s not new. This API decides what the safe area insets of each controller should be. Due to a bug, if a controller is not added as a child controller, the safe area insets are calculated to be 0,0,0,0. So in the function I copy the insets of the superview.

[2020-08-04 15:18] iDevelopper commented on #390
Thanks,

Now I understand how the function decides for the safe area insets of the popup content view controller. However, I don't understand how the popup content view (the one that contains the close button) has the same safe area insets.

[2020-08-04 16:34] LeoNatan commented on #390
The popup content view is a view with no view controller, so Apple maintains its safe area correctly. But if a view belongs to a controller, it's broken unless the controller is added as a child controller. 😂 What a mess, but what can we do?

[2020-08-04 16:35] #287 closed

[2020-08-04 16:36] LeoNatan commented on #287
Implemented. There is now a delegate, as well as the `popupPresentationState` property is now KVO compliant, so you can listen to popup state changes as you prefer.

[2020-08-04 18:02] LeoNatan commented on #387
Got it working.

[2020-08-04 18:02] #387 closed

[2020-08-04 19:22] LeoNatan commented on #335
iOS 11 and above.

[2020-08-04 19:22] #335 closed

[2020-08-04 23:17] fruitcoder commented on #387
Oh wow @LeoNatan that's amazing 🥳

[2020-08-04 23:36] LeoNatan commented on #387
Cheers!

[2020-08-05 08:07] funkenstrahlen commented on #387
Thank you for supporting this :)

[2020-08-05 16:52] iDevelopper commented on #390
Yes I have the problem when I present (with UIPresentationController, custom) and adding a view to the container view.

[2020-08-05 16:58] iDevelopper commented on #390
Otherwise with:
[code]

<img width="661" alt="Capture d’écran 2020-08-05 à 18 56 33" src="https://user-images.githubusercontent.com/1782450/89441434-6ed30c00-d74d-11ea-93f3-704f39bdc451.png">

[2020-08-05 17:06] iDevelopper commented on #390
Why do you have two popupBar in the Split View Controller (Master) example?

<img width="788" alt="Capture d’écran 2020-08-05 à 19 05 00" src="https://user-images.githubusercontent.com/1782450/89442187-ab533780-d74e-11ea-97c0-247ed7fc3f86.png">

What about creating a example for Split View Controller (Detail)?

[2020-08-07 02:25] LeoNatan commented on #390
The two popup bars are probably a bug somewhere in the demo project. It doesn't really matter, as the example project is just that. I liked the effect of how it looks, so I didn't look into making it work,

[2020-08-08 22:09] nfiacco opened #392 "Extend popup bar past safe insets"
I can't figure out how to extend the popup bar past the safe insets. I tried looking through other issues but didn't understand your proposed solution of adding a new view to dock to. Any help would be awesome!

[2020-08-09 00:36] LeoNatan commented on #392
Hello,

Could please describe in more detail what you are trying to accomplish?
As a general rule, one should always present the bar on the deepest view controller in the hierarchy, usually a tab bar controller or a navigation controller.

[2020-08-09 01:07] LeoNatan commented on #392
If you have a mere view controller, and would like to have the bar extend below the safe area, you can accomplish this by adding a visual effect view under the safe area, use the provided API to return that visual effect view as the bottom docking view, and return the correct frame.

https://github.com/LeoNatan/LNPopupController/blob/c9469027e7e09a9e3cd7f219ea698bef7a3c3501/LNPopupController/LNPop

[2020-08-09 01:55] nfiacco commented on #392
Thanks for the quick response! I've been trying to figure out how to add a visual effect view under the safe area like you said. But being rusty with iOS development, I'm not exactly sure how to do that. Am I supposed to add it programmatically to the view controller passed to `presentPopupBar`?

I vaguely understand I want a `UIVisualEffectsView`, but not sure where to create it and how to place

[2020-08-09 02:02] LeoNatan commented on #392
You need to add the visual effect view as a sub view of your controller’s view, and position it under the bottom safe area. I think there is an issue with using autolayout (constraints), so I recommend positioning this view in your controller’s `viewDidLayoutSubviews`. This might be enough for you, or you can go an extra step to make it even better. Implement the two property getters linked above,

[2020-08-09 02:04] LeoNatan commented on #392
If you are not familiar with Objective C when reading the header files, you can look at the generated Swift interface.

[2020-08-09 02:15] nfiacco commented on #392
Does this seem correct for setting up the visual effect:

[code]

And thanks so much for your help with this-- I def needed a lot of help with this one :)

[2020-08-09 02:19] LeoNatan commented on #392
As I said, you shouldn’t use constraints. Just set the frame of the view directly.

Also, creating constraints in this method is a bad idea, as it is called multiple times.

[2020-08-09 02:20] LeoNatan commented on #392
To match the visual effect blur style to that of the popup, use the chrome material.

[2020-08-09 02:28] nfiacco commented on #392
Ok I'm trying to set the view position using `frame.origin.y` but it's still not displaying. I'm adding this in the popupContentView, which may not be correct since that view is only visible when the popup bar is clicked?

[2020-08-09 02:30] LeoNatan commented on #392
You should be adding this to the view of the controller which presents the popup bar, not the content view.

[2020-08-09 04:01] nfiacco commented on #392
Oh so one weird thing about my implementation is that I'm presenting the popup bar via a navigation view controller that isn't directly tied to any child views or have any view of its own. Will adding a subview still work?

[2020-08-09 11:48] LeoNatan commented on #392
Are you able to subclass the navigation controller? If so, there shouldn’t be a problem adding a view.

[2020-08-09 14:52] iDevelopper commented on #392
Sorry, I think it can't work because the visual effect view will stay at the bottom when opening the popup content view, and its behavior will be like a bottom bar, as it is not attached to the popup bar.

[2020-08-09 14:57] LeoNatan commented on #392
@iDevelopper That's not true. If you implement `bottomDockingViewForPopupBar` and return the visual effect view, that will become the bottom bar of the popup bar.

[2020-08-09 15:05] iDevelopper commented on #392
I did implement it in your demo project. the visual effect view become the bottom bar as I said and behave like a bottom bar.

[2020-08-09 15:39] iDevelopper commented on #392
If I do not implement bottomDockingViewForPopupBar, the visual effect view acte like a bottom bar too.

[2020-08-09 16:03] LeoNatan commented on #392
Here is a quick implementation that works well:

[code]

[2020-08-09 16:05] #392 closed

[2020-08-09 16:05] LeoNatan commented on #392
@nfiacco See above. This behaves exactly as you expect.

[2020-08-09 17:45] nfiacco commented on #392
Yes that did it for me, thank you so much!!!

[2020-08-09 21:27] LeoNatan commented on #378
https://github.com/LeoNatan/LNPopupUI 🎉

Enjoy!

[2020-08-09 21:27] #378 closed

[2020-08-09 21:28] LeoNatan opened #393 "SwiftUI support"
I've created a SwiftUI wrapper library to provide SwiftUI-native API.

Check it out!

https://github.com/LeoNatan/LNPopupUI

[2020-08-09 21:28] #393 closed

[2020-08-10 09:37] iDevelopper commented on #392
Behave like a bottom bar, and not working on UIViewController (without navigation controller).

[2020-08-10 11:50] LeoNatan commented on #392
Why not? It should be the same.

[2020-08-10 14:19] iDevelopper commented on #392
Yes! Got it. Sorry.

Need to set the defaultFrameForBottomDockingView with the bottom inset of the superview in this case, if not the visualEffectView height becomes equal to 98 when the popup bar is presented (34 + 64).
[code]

[2020-08-10 14:27] LeoNatan commented on #392
That's odd.

[2020-08-10 15:45] iDevelopper commented on #392
I've found another issue. Do not use the visual effect view at all, neither the bottom docking view.

Just set the navigation controller toolbar hidden.
[code]
The toolbar is not completely hidden.

And test with the drag option to open the popup content view.

[2020-08-10 15:51] LeoNatan commented on #392
If you find a bug, open a new issue please.

[2020-08-10 15:58] iDevelopper commented on #392
Ok, I will open and another issue but this bug has a lot to do with this one.

[2020-08-10 16:05] iDevelopper opened #394 "setToolBarHidden to YES issue."
#### Description
In your demo project, just set the navigation controller toolbar hidden.
[code]

The toolbar is not completely hidden.

And test with the drag option to open the popup content view.

#### Device, OS and Xcode Versions
Xcode 12.4 iOS 13 & 14 Simulator

[2020-08-10 18:22] LeoNatan commented on #394
I'm not seeing an issue.

![gif](https://user-images.githubusercontent.com/2270433/89816631-92cc8e00-db4f-11ea-8739-cb996e7c44e7.gif)

[2020-08-11 04:41] iDevelopper commented on #394
![RPReplay_Final1597119410](https://user-images.githubusercontent.com/1782450/89857881-8b33d600-db9d-11ea-9be4-8d2b771ed5d0.gif)

[2020-08-11 05:44] iDevelopper opened #395 "v. 2.9.5: Missing LNPreviewToContextMenu.xcodeproj"
#### Description
The submodule download does not seem to work.

[2020-08-11 14:22] LeoNatan commented on #395
You need to update your submodules.

[2020-08-11 14:22] #395 closed

[2020-08-11 15:21] iDevelopper commented on #395
How to do that? When I download the repo to test your example, I expect it to work in Xcode when I open it.

[2020-08-11 15:38] LeoNatan commented on #395
No. When you clone, you need to use `--recurse-submodules`, or if you cloned without, use `git submodule update --init --recursive`. Download won't work because GitHub are too dumb to include submodule content 🤷‍♂️

[2020-08-12 06:54] iDevelopper commented on #394
Same issue using the last version: 2.9.5

[2020-08-12 14:34] LeoNatan commented on #394
Maybe it's again a difference between a controller created in code vs storyboard. I'll look again soon.

[2020-08-14 17:47] SalarDastan opened #396 "Getting constraint error after upgrade to version 2.9.5 with SPM"
#### Description

after upgraded this to version 2.9.5 all trailing constraint getting error and for fix i have to set priority to lower then required to fix but my view need some of them

what does it change in these version to related?
one of constraint error:
[code]
#### Steps to Reproduce

just after presenting popup controller with command below
[code]

#### Device, OS and Xcode Versions

xCo

[2020-08-14 19:34] LeoNatan commented on #396
Hello,

I need more context, I cannot guess what you are doing in your app. Did it work correctly before?
I don't see anything in the unsatisfied constraint warning that is related to the popup management.

Thanks

[2020-08-14 19:37] LeoNatan commented on #390
@iDevelopper I made changes to the demo app with regards to split views. Check it out

[2020-08-14 19:39] LeoNatan commented on #396
Put a breakpoint in UIViewAlertForUnsatisfiableConstraints, and post a screenshot of the stack trace you are seeing. This may shed some light on what is going on.

[2020-08-14 20:45] SalarDastan commented on #396
yes it was working perfectly fine with earlier version for LNPopupController.

[2020-08-14 20:48] SalarDastan commented on #396
[code]

[2020-08-14 21:27] LeoNatan commented on #396
Stacktrace, please. `bt` in debugger or screenshot from Xcode. Thanks

I still need to understand what the problem is exactly and what you are trying to do. If you can, please provide a sample project, reproducing the problem. Thanks

[2020-08-14 21:29] SalarDastan commented on #396
i'll send u a sample project with the problem soon as possible
Thanks for ur time.

[2020-08-14 21:44] LeoNatan commented on #396
Thank you!

[2020-08-15 10:29] SalarDastan commented on #396
i created a new project and copied my storyboard with the issue into it.
to see the issue open project with xCode 11.6 and run the target with iPhone 11 Simulator and tap button "Present Popup" in first tabbar.

Repo:
[code]

[2020-08-15 12:22] LeoNatan commented on #396
OK, thanks. Please keep the repo alive. I will look soon.

[2020-08-15 22:07] LeoNatan commented on #392
I'm working on implementing this natively. Already have it working for `UIViewController` and `UINavigationController`. Will have support for `UITabBarController` soon, as well as final polishing. It will be on by default, with the ability of the user to disable.

[2020-08-16 22:20] LeoNatan commented on #394
Please try with v2.10.0.

[2020-08-18 13:32] MacMark opened #397 "UIButton action in bar controller is ignored in 2.10.0"
#### Description
UIButton action not triggered anymore in CustomBarViewController. It worked in 2.8.5 but not in 2.10.0 anymore.
#### Steps to Reproduce
Use an UIButton in the UIViewController that you use for setCustomBarViewController. Touch the button. The action of that button is not triggered. Instead the full screen controller is presented.

#### Device, OS and Xcode Versions
iPhone X, iOS 1

[2020-08-18 15:51] LeoNatan commented on #397
Hmm

Thanks, will have a look soon!

[2020-08-18 15:51] #394 closed

[2020-08-18 18:37] LeoNatan commented on #397
Sorry, I can't reproduce.

In the demo app, I added the following code to the custom bar controller's `viewDidLoad()` method:

[code]

The button can be tapped.

[2020-08-18 18:47] #396 closed

[2020-08-18 18:48] LeoNatan commented on #396
Fixed in 2.10.1

[2020-08-19 01:36] DantePuglisi opened #398 "Constraint warnings on `contentViewController`"
#### Description
Lots of constraints warnings on the `contentViewController` when doing `presentPopupBar(withContentViewController:animated:completion:)`. As soon as the `popupBar` appears the console gets filled with warnings. If I present this same `UIViewController` in any other way there are no constraint issues. I built the UI of my `contentViewController` in a `.xib`

#### Log
[code]

#### D

[2020-08-19 01:46] LeoNatan commented on #398
Hello,

Are you seeing this with the latest 2.10.1? I just fixed this today.

[2020-08-19 09:56] MacMark commented on #397
When visually debugging the view hierarchy i see an additional empty UIView in front of the custom bar controller with 2.10.x. Could this be an issue?

[2020-08-19 12:59] DantePuglisi commented on #398
I was on `2.10.0`, just updated and still getting errors but only on vertical (and height) constraints 🤔

[2020-08-19 16:05] LeoNatan commented on #398
Hmm
Can you please provide a small demo project, reproducing this?

[2020-08-19 16:35] iDevelopper commented on #398
@LeoNatan ,

@DantePuglisi removed the small demo project he uploaded a few days ago. I still have it and I have tested it with version 2.10.1. I did not see any issues.

[2020-08-19 16:38] iDevelopper commented on #390
Split view controller works pretty well on iPad but many bugs on iPhone...

[2020-08-19 18:02] LeoNatan commented on #390
I think the bugs are on Apple's side. Even without the popup controller linked, the entire thing is very buggy.

[2020-08-19 18:03] LeoNatan commented on #397
Could you post a view hierarchy dump from Xcode 12? File -> Export View Hierarchy, and post the pointer of the offending view.

But I am not seeing this behavior in the demo app, so I'm not sure if it's something in the framework.

[2020-08-19 18:11] LeoNatan commented on #398
@iDevelopper What demo project? You mean the one provided here: https://github.com/LeoNatan/LNPopupController/issues/396#issuecomment-674380206 ? If so, I already fixed an issue there. But here it must be something else.

[2020-08-19 18:35] iDevelopper commented on #398
Oups! I confused the two issues, sorry!

[2020-08-19 18:36] DantePuglisi commented on #398
I will try to create a small demo project to reproduce this in the following days, sorry for the delay!

[2020-08-19 18:49] LeoNatan commented on #398
Thank you!

[2020-08-19 19:43] DantePuglisi commented on #398
I could put together a small project to reproduce. I think it might have something to do with the horizontal `UIScrollView`. At the same time I couldn't find any way to let the user swipe-down-to-dismiss while allowing horizontal scrolling for the `UIScrollView`, swipe down only works while scrolling the `UIScrollView` (which is something I'd like to prevent as well).

Thanks for taking the time a

[2020-08-20 01:07] LeoNatan commented on #398
I might have found the cause. In one place, the frame of the view is set to (0,0,0,0), which can confuse the layout system. I'll test on your demo project to see during the weekend.

[2020-08-21 13:42] iDevelopper opened #399 "Popup Content View Controller View Background."
#### Description
Hi @LeoNatan ,
This a question:
Do you know how Apple configures the background view/color of the maxi player in its Music application?
Thanks,
#### Device, OS and Xcode Versions

[2020-08-21 16:07] #399 closed, assigned to nobody

[2020-08-22 08:51] funkenstrahlen opened #400 "Crash when I start to scroll in a SwiftUI List"
#### Description
App crashes when I start to scroll in a SwiftUI List.

I see you have worked on a very similar looking issue here: https://github.com/LeoNatan/LNPopupController/commit/7a1925ba2b504d5df65158d74f3a6066cc974da0

However I still see the crash with this change. Maybe because `_applySwiftUILayoutFixes` is false in my case? I could not find a public accessible way to change its value th

[2020-08-22 19:00] #400 closed, assigned to nobody

[2020-08-23 16:29] iDevelopper opened #401 "PopupCloseButton - Proposal for a new feature."
Hi @LeoNatan ,
Add a vibrancy effect to popupCloseButton chevron button.

#### Device, OS and Xcode Versions
Like the chevron button in Apple Music App.

[2020-08-23 17:05] LeoNatan commented on #401
I don't think I can add vibrancy in a general-purpose way.
Vibrancy assumes that the vibrant visual effect view is embedded in another visual effect view. This cannot be guaranteed.

Instead, users should set the close button style to `LNPopupCloseButtonStyleNone` and implement the vibrant variant themselves, using https://github.com/LeoNatan/LNChevronView or their own assets.

[2020-08-23 17:05] #401 closed

[2020-08-24 08:27] iDevelopper commented on #401
I tried but anyway the expected result is not possible with LNChevronView because the two sub-views (left and right) overlap in the center of the chevron view.

[2020-08-24 14:17] LeoNatan commented on #401
If you have a fix, please submit a PR to LNChevronView and I’ll accept it.

I’ve been looking at the music app and don’t see vibrancy. Are you sure it’s not just transparent?

[2020-08-24 15:07] iDevelopper commented on #401
I have no fix as I want to keep the animation (up, flat, down) so need the two views (left, right) and they must be superimposed. Just transparent, what do you mean?

[2020-08-24 15:27] LeoNatan commented on #401
I mean `.color = .black; .alpha = 0.3` and then the color of the two views takes some of the color of the background, rather than implement with vibrancy. I'm not sure that Apple uses vibrancy in Music.

[2020-08-24 16:06] iDevelopper commented on #401
It doesn't do the trick! I am pretty sure that Apple uses a vibrancy... We can use a vibrancy with alpha = 1 otherwise we can see the view are superimposed.

[2020-08-24 16:15] LeoNatan commented on #401
On macOS, it is possible to have a view have special vibrancy properties. I’ll look later.

[2020-08-24 16:21] iDevelopper commented on #401
You mean we can take a look at the debug hierarchy views of Apple App?

[2020-08-24 16:29] iDevelopper commented on #401
Don't pay attention, my last question doesn't make sense! I think...

[2020-08-24 17:45] LeoNatan commented on #401
No, I mean on macOS, NSView has the [`allowsVibrancy` property](https://developer.apple.com/documentation/appkit/nsview/1483793-allowsvibrancy?language=objc), which basically makes anything drawn by a view to appear as if a template image.

[2020-08-24 17:53] LeoNatan commented on #401
https://github.com/LeoNatan/Apple-Runtime-Headers/blob/9e1e35b4fe0d34d86aa5d0666fa9c0ca4b64c59b/iOS/PrivateFrameworks/UIKitCore.framework/UIView.h#L1595

But I don't know what it is or what values it can handle.

[2020-08-25 08:00] iDevelopper commented on #401
Hi @LeoNatan ,
I don't know yet SwiftUI! How can I pass the blur view of the DemoMusicPlayerController to another classe (LNPopupCloseButton). I created a property in popupCloseButton.h:
[code]

[2020-08-25 16:33] LeoNatan commented on #401
Hmm, probably not going to be easy. You need to travel the hierarchy.

[2020-08-25 18:46] wstyres opened #402 "Crash when attempting to lookup '_systemChromeShadowColor'"
#### Description
Crashlytics has been reporting several crashes ever since I've upgraded my project to use `2.10.0` (from `2.8.5`)

#### Steps to Reproduce
Do not have steps to reproduce, the crash is showing up very frequently in my firebase console for iOS 13 devices (all iOS 13.x.x, range of devices.). I've provided a few crash logs below with all of them having the same exception reason. Can t

[2020-08-25 22:24] LeoNatan commented on #402
Oh no!
Thanks for reporting, will fix that right away. I've tested this framework on 13.5, but I guess older 13.x are different enough.

[2020-08-25 22:33] LeoNatan commented on #402
Fixed in 2.10.5

[2020-08-25 22:33] #402 closed

[2020-08-26 01:04] wstyres commented on #402
Thanks so much! I'll keep an eye on the crashes in my dashboard.

[2020-08-26 01:14] LeoNatan commented on #402
Great, let me know.

[2020-08-26 09:05] MacMark commented on #397
Sorry for my late answer, i was busy updating some apps for iOS 14.

The address of the view in the attached hierarchy is 0x7fe1adff7c00.
[Popup.viewhierarchy.zip](https://github.com/LeoNatan/LNPopupController/files/5128721/Popup.viewhierarchy.zip)
<img width="774" alt="popup" src="https://user-images.githubusercontent.com/626963/91284053-b4528a00-e78b-11ea-811b-9e3a6cdcf001.png">
Behind that view

[2020-08-26 12:32] LeoNatan commented on #397
Thank you!
I made some changes with later releases. Do you mind providing the same with the latest version? Will help me debug the issue better. Thanks

[2020-08-26 16:45] MacMark commented on #397
This is the same situation recorded with 2.10.5:
[Popup-2-10-5.viewhierarchy.zip](https://github.com/LeoNatan/LNPopupController/files/5131201/Popup-2-10-5.viewhierarchy.zip)
<img width="671" alt="popup-2-10-5" src="https://user-images.githubusercontent.com/626963/91332256-3793d000-e7cc-11ea-97dd-ae181a73bdb4.png">

[2020-08-26 17:40] LeoNatan commented on #397
Please notice that that view has `User Interaction Enabled Off`. That is not the view stealing your touches.

[2020-08-26 17:51] LeoNatan commented on #397
I do t see anything in the framework causing this. The demo project works as expected. Try debugging the touch handling to see who finally takes it.

[2020-08-27 09:03] MacMark commented on #397
When i break in LNPopupOpenTapGesutreRecognizer.m at the line
```if([touch.view isKindOfClass:[UIControl class]])```
po touch.view
<_LNPopupBarContentView: 0x7fd2e260f100; frame = (0 0; 414 61); layer = <CALayer: 0x6000006b68a0>>
it does not have my UIButton in touch.view.

Do i have to configure the PopUpController differently in 2.10.x than in 2.8.x?

[code]

[2020-08-27 14:00] LeoNatan commented on #397
It does use it. There is a “maps” demo scene which has a custom bar controller. This is where I added a button to test. My money is on something broken on your end. Nothing changed with regards to bar controllers.

[2020-08-27 16:03] iDevelopper commented on #397
Hi @MacMark ,
I tested too, added a button to the Maps Demo Scene custom bar controller.
[LNPopupControllerExample[66172].viewhierarchy.zip](https://github.com/LeoNatan/LNPopupController/files/5137492/LNPopupControllerExample.66172.viewhierarchy.zip)

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-08-27 at 17 55 50](https://user-images.githubusercontent.com/1782450/91466246-2069e680-e88f-11ea-

[2020-08-27 17:34] wstyres commented on #402
Looks like the issue is resolved. Thanks for the quick fix!

[2020-08-27 18:00] LeoNatan commented on #402
Great, enjoy the framework.
May I ask what app you are using it for?

[2020-08-28 02:35] cerupcat opened #404 "How to adjust the bottom bar frame when UITabBar is hidden?"
I have a Mac Catalyst app where I'm hiding the bottom UITabBar (in favor of a toolbar).

With the tabbar, the LNPopupController shows properly above the toolbar at the bottom of the screen.
![Screen Shot 2020-08-27 at 7 30 30 PM](https://user-images.githubusercontent.com/204151/91514518-cfacba80-e89b-11ea-9507-c6329bafa123.png)

When I hide the UITabBar, the LNPopupController bar shows in the same

[2020-08-28 02:40] LeoNatan commented on #404
As mentioned in the readme, this is explicitly not supported. Apple does not support hiding the tab bar, nor does the framework.

[2020-08-28 02:41] LeoNatan commented on #404
Perhaps explain better what you are trying to accomplish and we can think how to better architecture the controllers.

[2020-08-28 03:31] cerupcat commented on #404
Thanks @LeoNatan.

I'm currently presenting from a UITabBarController. On Catalyst, I'm setting the tabbar.hidden = true so that it does not display. Since doing this doesn't actually change the tabbar frame, the bottom popup view isn't positioned how I'd like (as seen from the images above). Is there a way to make the bottomDockingView not become the tabBar and instead become another view within

[2020-08-28 03:42] LeoNatan commented on #404
As I said, this is a bad idea. For example, if you hide the tab bar, it won’t stop the tab bar controller from decreasing the safe area on the bottom.

You should present a different controller on Mac.

To answer your question, it should be possible to override `bottomDockingViewForPopupBar` with a different view, but there is no promise the system will behave as expected.

[2020-08-28 03:43] cerupcat commented on #404
Ok thanks. I appreciate the feedback.

[2020-08-28 03:43] #404 closed

[2020-08-28 08:40] MacMark commented on #397
I do not understand yet what might be wrong in my controller because it works with 2.8.x and just by replacing 2.8.x with 2.10.x it gets into this issue.

I will compare the sample custom bar controller with my controller.

[2020-08-28 09:17] iDevelopper commented on #397
@MacMark ,
What about LOTAnimationView? Can you provide here the source code?

[2020-08-28 10:47] MacMark commented on #397
Hi @iDevelopper,
LOTAnimationView comes from https://github.com/airbnb/lottie-ios/releases/tag/2.5.3

[2020-08-28 14:37] MacMark commented on #397
I have to find why the UIButton is not in touch.view with 2.10.5 although it is with 2.8.5 and also with the 2.10.5 sample code:
<img width="815" alt="Screenshot 2020-08-28 at 16 34 11" src="https://user-images.githubusercontent.com/626963/91579898-95e7bc80-e94c-11ea-929a-b440fdf7db27.png">
<img width="823" alt="Screenshot 2020-08-28 at 16 30 56" src="https://user-images.githubusercontent.com/6269

[2020-08-28 14:43] iDevelopper commented on #397
@MacMark ,
Have you tested without LOTAnimationView?

[2020-08-28 15:27] MacMark commented on #397
When i put a 2nd button in there that does nothing, my play button gets the touch and works and the touch.view contains my PlayPauseButton on the above break point just like with 2.8.5. How is such a side effect possible?
<img width="371" alt="image" src="https://user-images.githubusercontent.com/626963/91584804-7902b780-e953-11ea-9606-dc00cada4b80.png">

[2020-08-28 16:05] LeoNatan commented on #397
The custom bar controller is added directly to the popup up bar content view:
https://github.com/LeoNatan/LNPopupController/blob/139a067cba92a3a1fff25c5e5c59c15591e314f0/LNPopupController/LNPopupController/Private/LNPopupBar.m#L1161

@MacMark Let's try an experiment. Could you create a new subclass of the custom bar controller, with no logic in it, just a button? Let's see if that button works.

[2020-08-28 16:21] MacMark commented on #397
As long as the custom controller has also a normal UIButton (it might even be hidden) the PlayPauseButton (subclass of LottieButton which is in turn a subclass of UIButton) works as normal (receives the touch because it is in touch.view).
I gave the normal button now an action which just removes the normal button from the view hierarchy.
<img width="323" alt="image" src="https://user-images.github

[2020-08-28 16:55] LeoNatan commented on #397
WTF is going on. I can't explain it.
Can you check and see if your special button (not the normal one) has a gesture recognizer? Have you added a gesture recognizer elsewhere in your bar controller's view hierarchy?

[2020-08-28 17:01] iDevelopper commented on #397
@MacMark ,
Can you provide a small project reproducing this issue (with the lottieButton in it)?

[2020-08-29 12:04] MacMark commented on #397
I paused the app via Xcode, selected the PlayPauseButton and then printed its description

<img width="609" alt="image" src="https://user-images.githubusercontent.com/626963/91636305-c89ebd00-e9ff-11ea-9eef-40fabba714ac.png">

Printing description of $43:
<PlayPauseButton: 0x7fc4f6c152c0; baseClass = UIButton; frame = (364 9; 40 40); opaque = NO; autoresize = RM+BM; layer = <CALayer: 0x600000652bc

[2020-08-30 07:25] SalarDastan commented on #397
Hello may i ask you how did u generate that file and What is it used for?

[2020-08-30 12:38] MacMark commented on #397
The problem seems to be that the height of the view of the custom controller shrinks to zero:
<img width="1026" alt="image" src="https://user-images.githubusercontent.com/626963/91659153-7a0c2400-eace-11ea-813e-e80d5578dfc1.png">

[2020-08-30 13:43] MacMark commented on #397
This is a minimal project showing my problem. The popup and the play button work fine (it logs a debug output). As soon as the blue button is hit, it removes itself from superview and the play button stops working because the setPreferredContentSize in LNPopupCustomBarViewController seems to go to zero height. This was not the case with 2.8.5. Proof: Replace 2.10.5 in the Podfile with 2.8.5 and ru

[2020-08-30 17:00] LeoNatan commented on #397
Do you correctly set the `preferredContentSize` property of your view controller properly?

[2020-08-30 17:11] LeoNatan commented on #397
Check what size is returned from your calculation.

[2020-08-31 06:37] MacMark commented on #397
It is
(lldb) po size
(width = 444, height = 61)
on iPhone 11
<img width="804" alt="image" src="https://user-images.githubusercontent.com/626963/91689845-31ec1080-eb65-11ea-9346-e5be60d59f58.png">

[2020-08-31 07:30] MacMark commented on #397
I guess i found the piece of code that set the frame's height to zero:
```frame.size.height = state < _LNPopupPresentationStateTransitioning ? _LNPopupBarHeightForBarStyle(_LNPopupResolveBarStyleFromBarStyle(self.popupBar.barStyle), self.popupBar.customBarViewController) : 0.0;```
<img width="1133" alt="image" src="https://user-images.githubusercontent.com/626963/91694189-89da4580-eb6c-11ea-96d4-e

[2020-08-31 07:40] iDevelopper commented on #397
The problem seems to be there (LNPopupBar.m line 1161):

Replace:
[code]
with:
[code]

[2020-08-31 08:02] MacMark commented on #397
@iDevelopper I replaced the code like you suggested and **it works** with the demo project and also with my original app 👍 ✌️🎉 (And thus [my previous comment was wrong](https://github.com/LeoNatan/LNPopupController/issues/397#issuecomment-683615287)).

[2020-08-31 08:27] iDevelopper commented on #397
@LeoNatan ,
The Maps Demo Scene works but there is a constraint issue (look at the debug view hierarchy).

However, with a tab bar controller, it not works. The vertical constraints of the custom bar view controller' view are ambiguous, and its height is equal to zero. This is why the button is misplaced (because I have set somme constraints to it) and is not triggered.

Here is a very small sampl

[2020-08-31 18:32] LeoNatan commented on #397
It's like this for a reason. The fix should be different. I will take a look soon.