[2015-08-25 02:11] hsavit1 opened #2 "example doesn't work on Xcode 6.4"
please update when you can !

[2015-08-25 05:35] LeoNatan commented on #2
Hi,

The example project will not work on Xcode 6. It uses modern Swift and Storyboard features. Will update the Readme to explain this.

In the meantime, please use this demo:
https://appetize.io/app/x39a20yzhmu787dpwyuucckg2m

[2015-08-25 05:35] #2 closed

[2015-08-28 06:55] waniwang opened #3 "Compile errors occurred when using xcode 6.4"
Should I use xcode7?
<img width="643" alt="2015-08-28 2 56 25" src="https://cloud.githubusercontent.com/assets/2967208/9540775/bda27b24-4d94-11e5-8fa2-6fba41732cc7.png">

[2015-08-28 07:43] LeoNatan commented on #3
Hi,

As stated in the Readme, the demo project is only compatible with Xcode 7. The framework itself should compile on Xcode 6.

Thanks

[2015-08-28 07:43] #3 closed

[2015-08-28 07:47] waniwang commented on #3
Thanks!

[2015-08-31 12:21] MarvinNazari opened #4 "LNPopupController problem with UISearchController"
Hi, LNPopupController dosent allow to click on keyboard, i have made a test project so u can test it, when u touch UISearchBar, keyboard shows up but its not clickable, it happens even when u don't present the popup bar!

[here u can check the test project](https://github.com/MarvinNazari/KeyboardProblem)

love the project btw!! awesome

[2015-08-31 12:45] LudvigOdin commented on #4
Have the same problem here, didn't get it to work!

[2015-08-31 14:53] LeoNatan commented on #4
@MarvinNazari @LudvigOdin Thanks guys, will look into it as soon as I can.

[2015-09-01 11:30] MarvinNazari commented on #4
Hi @LeoNatan, any news on this? we really need to submit the app tomorrow :)

[2015-09-01 11:53] LeoNatan commented on #4
@MarvinNazari I am looking at your demo project, and I don't see how this is the popup controller's fault. In fact, I removed the framework from your project, and the issue still occurs.

[2015-09-01 11:56] MarvinNazari commented on #4
If u remove the framework completely from project it works as it should.

[2015-09-01 11:57] MarvinNazari commented on #4
also from embedded binaries in project General setting

[2015-09-01 11:58] LeoNatan commented on #4
I deleted the files entirely from disk, and cleaned all build folders and derived data. I see the same issue as before, when running on iOS 9 simulator.

[2015-09-01 12:00] MarvinNazari commented on #4
Can u check it with iOS 8?

[2015-09-01 12:01] LeoNatan commented on #4
I see a different problem on my own demo project with a search bar (different to the problem I see in your project). Will investigate, but I am not sure if will have time, if it is something complex.

[2015-09-01 12:04] MarvinNazari commented on #4
Yeah i have an issue with the searchBar on iOS 9, but that i can fix. On iOS 8, the keyboard is not clickable. and that happens when i add the LNPopupController to my project

[2015-09-01 12:09] LeoNatan commented on #4
I am looking into it.

[2015-09-01 12:47] LeoNatan commented on #4
Ha, found the problem and fixed. Will push in a minute.

[2015-09-01 12:49] #4 closed

[2015-09-01 13:20] MarvinNazari commented on #4
Oh thanks man :) awesome!!! :heart:

[2015-09-02 18:18] chansencc opened #5 "Framework not found"
Hey, I followed the Github instructions for importing the framework. It's in embedded libraries and linked frameworks but I'm getting "error: /Users/me/Documents/testApp/TestApp/LNPopupController/build/Debug-iphoneos/LNPopupController.framework: No such file or directory"

Not sure what I'm doing wrong. When I downloaded and dragged in just the .xcodeproj it linked from my downloads directory so u

[2015-09-02 20:03] chansencc commented on #5
Had to copy the folder directly into the Frameworks folder and not just the the project directory.

[2015-09-02 20:03] #5 closed

[2015-09-11 07:50] chlebta opened #6 "Error not Loaded"
Hello, I've dragged and dropped LNPopupController.xcoderoj into my project then I added the Framework to binary. Finally,  in .m file I've  added `@import LNPopupController;`.
Now when I run my project I get  this error :

[code]

Did I missed something here ?

[2015-09-11 09:33] jameseunson opened #7 "Doesn't have cocoapods support"
It would be great if this component could be integrated into a project using cocoapods. This would mean only one line in a project's Podfile to install it.

Information about adding a new project to cocoapods is here: https://guides.cocoapods.org/making/making-a-cocoapod.html

Cheers

[2015-09-11 09:35] LeoNatan commented on #6
See if issue #5 helps you.

[2015-09-11 09:44] LeoNatan commented on #7
Right, the issue here is that this is a dynamic framework, and I have zero experience with CocoaPods with dynamic libraries. It used to be a big mess. If anything, I am more interested in Carthage support, as it is a much leaner solution.

[2015-09-11 10:07] jameseunson commented on #7
Ah interesting, didn't realise. I respect your choice of Carthage. I'm still curious to see if it can be done, so I might do some research. Thanks for your fast response

[2015-09-11 10:08] LeoNatan commented on #7
I am keeping this issue open for now. If you want to help me out, would like that. You can submit PR and I will merge.

[2015-09-14 05:17] Kastet opened #8 "API to open popup view controller"
Currently there is presentPopupBarWithContentViewController and upon completion we can call openPopupAnimated. It works OK but it'd be nice to have API to present popup view controller in one step.

[2015-09-14 23:48] Kastet opened #9 "Customizable Close button"
Need API to customise the close button. At least to be able to hide the default one.

[2015-09-15 00:42] LeoNatan commented on #6
@chlebta Did that other issue I linked help you?

[2015-09-15 00:43] LeoNatan commented on #9
Will implement close button customization soon. I am thinking of having the API in the `LNPopupItem` class.

[2015-09-15 07:14] chlebta commented on #6
Nope we don't have some issue I got this error ** Reason: image not found**

[2015-09-16 06:04] Kastet opened #10 "Unwanted animation of popup controller's view hierarchy"
When popup view controller is being presented for the first time it's view hierarchy animates (expands from the bottom left corner) inline with the popup presentation animation. It can be reproduced in the sample app "Apple Music". Expected behaviour would be to see the view coming from the bottom.

[2015-09-16 06:05] LeoNatan commented on #10
@Kastet Can you please record a video of this? I have not seen this in the demo app. What OS did you reproduce this on?

[2015-09-16 06:18] Kastet opened #11 "No API to disable/control the built in gesture recogniser"
Need a way to interface the gesture recogniser since it's not always needed, especially when the popup content is scrollable.

[2015-09-16 06:25] Kastet commented on #10
@LeoNatan It's iOS9 Simulator running iPad Air2, Xcode 7 GM1

video: https://owncloud.bigtincan.com/owncloud/public.php?service=files&t=80527f0a974aa41a78a53db25274f28c

[2015-09-16 06:35] LeoNatan commented on #10
Thanks, will take a look.

[2015-09-16 06:39] LeoNatan commented on #10
Hmm, something seems very broken in that video. What did Apple do between beta 5 and GM? :(

[2015-09-17 07:43] #10 closed

[2015-09-21 07:14] Kastet commented on #10
Thanks!

[2015-09-23 15:45] LeoNatan commented on #8
Now it is supported with a new presentation method.

[2015-09-23 15:45] #8 closed

[2015-09-23 15:46] LeoNatan commented on #9
You can now customize or hide the close button.

[2015-09-23 15:46] #9 closed

[2015-09-23 15:46] LeoNatan commented on #11
You can now control or disable the popup interaction gesture recognizer.

[2015-09-23 15:46] #11 closed

[2015-09-23 15:50] LeoNatan commented on #6
I am sorry, you must have done something wrong. I tested this on several devices, and cannot reproduce the issue. Make sure you added the framework to your project's embedded binaries. Make sure "Embed Frameworks" step exists in your build phases, and that the framework is found in that phase.

Perhaps compare with the demo project, which should work.

[2015-09-23 15:50] #6 closed

[2015-09-23 22:46] Kastet commented on #9
thanks!

[2015-09-24 05:24] Kastet opened #12 "Accessing popupContentView causes multiple instances of LNPopupController"
This code

- (void)viewDidLoad {
    [super viewDidLoad];

    self.popupContentView.popupCloseButton.hidden = YES;
}

created multiple instances of LNPopupController and causes unpredicted behaviour.

To test launch Allocations Instruments and filter by LN
<img width="1396" alt="screen shot 2015-09-24 at 3 14 31 pm" src="https://cloud.githubusercontent.com/assets/611542/10065948/56daae4c-62d0-11e

[2015-09-24 05:36] Kastet opened #13 "Need API to dismiss popup controller in one step"
Currently it's two steps: close popup and dismiss bar. Would be nice to be able to dismiss popup in one step.

[2015-09-24 05:37] LeoNatan commented on #13
You can use the dismiss method to close the popup in one step.

[2015-09-24 05:37] #13 closed

[2015-09-24 05:38] LeoNatan commented on #12
Thanks, will investigate.

Other than multiple objects, what unpredicted behavior are you seeing?

[2015-09-24 07:34] LeoNatan commented on #12
@Kastet I cannot reproduce. I think you may be calling `popupContentView` on the incorrect controller? How are you presenting the popup?

[2015-09-24 10:46] Kastet commented on #12
@LeoNatan to reproduce make the following modifications in your sample app:

1. In DemoPopupContentViewController.m add
- (void)viewDidLoad {
    [super viewDidLoad];
    self.popupContentView.popupCloseButton.hidden = YES;
}

The intention is to hide the close button

2. In LNPopupController.m place a breakpoint in initWithContainerViewController: or launch Allocations

When you launch it and ope

[2015-09-24 10:51] Kastet commented on #13
Ah ok. I didn't try that because the method dismissPopupBarAnimated name wasn't clear.
Thank you!

[2015-09-24 11:57] Kastet opened #14 "UIPanGestureRecognizer from external view"
Hi Leo!

In my app I have scrollable content inside a popup so the built in UIPanGestureRecognizer doesn't work in my situation. I want to have a UIPanGestureRecognizer on the top bar of my view controller only, not on the whole screen.
Would it be possible add API to pass a UIPanGestureRecognizer to LNPopupController or to pass a UIView to which I want the recogniser to be added?

[2015-09-24 13:29] LeoNatan commented on #12
You are using the wrong controller's `popupContentView`. Do not set it for `DemoPopupContentViewController` but in `FirstViewController`. Also, make sure you should set for `self` not `self.navigationController` or `self.tabBarController`. Remember, each view controller has a `popupContentView` of its own, and you should access it on the controller on which you call `present` on.

[2015-09-24 13:29] #12 closed

[2015-09-24 14:23] LeoNatan commented on #14
Hey,

Let's see. I fear as it is built right now, a custom gesture recognizer is a problem, because the same gesture recognizer is used for both the bar and the content view. I think it would create mess the flows somewhat.

Let me see what I can do regarding a custom view.

[2015-09-25 11:14] jameseunson commented on #7
Hey, managed to compile the .framework into a .a static library, which makes it easy to turn into a Cocoapod. The method of doing this involved adding a static library target to the LNPopupController project, and adding headers and sources in the correct parts of the build phases section.
![screen shot 2015-09-25 at 9 09 32 pm](https://cloud.githubusercontent.com/assets/51029/10099095/c6d42fbc-63c

[2015-09-25 11:27] LeoNatan commented on #7
This is the one solution I do not want to support. :smile: Feel free to use it, of course, but going forward, a dynamic framework is the obvious way to go. One advantage is, as you said, images. Because dynamic frameworks are bundles of their own, they can have their own assets that are not merged into the main bundle. This is why I prefer Carthage in this regard.

[2015-09-25 11:34] jameseunson commented on #7
Fair point 😝, it was educational for me anyway.

[2015-09-25 11:35] LeoNatan commented on #7
Sure, that's quite the detective work, and thanks for it!

If I was to look into Carthage integration, would you be interested?

[2015-09-25 11:40] jameseunson commented on #7
Sure thing, I've never used it before, but it's authored by Github so I'm sure it's good. If you add it, I'll definitely use it.

[2015-09-25 11:41] LeoNatan commented on #7
Great! :+1:

[2015-09-25 11:44] #14 closed

[2015-09-25 11:46] LeoNatan commented on #14
Implemented.
In your presented view controller, implement ```- (__kindof UIView *)viewForPopupInteractionGestureRecognizer``` and return the view you you wish to add the gesture recognizer to.

[2015-09-26 12:10] Kastet commented on #14
Awesome! Thanks!

[2015-09-27 19:22] MetaImi opened #15 "ParagraphStyle support"
In 0c98357b1d23197a5cb07aab9c7f0664d2de595b you have removed the default centered text alignment. Now I tried to set the alignment with paragraphStyle, but it does not work.

 NSMutableParagraphStyle *paragraph= [[NSMutableParagraphStyle alloc] init];
    [paragraph setAlignment:NSTextAlignmentCenter];
    [[LNPopupBar appearanceWhenContainedInInstancesOfClasses:@[[UINavigationController class]]]

[2015-09-27 21:02] LeoNatan commented on #15
Thanks, I will take a look.

[2015-09-27 21:37] LeoNatan commented on #15
@MetaImi It seems like an issue with cbpowell/MarqueeLabel. I have opened an issue in the original repository (cbpowell/MarqueeLabel#116). Until then, I have added a workaround for alignment.

[2015-09-28 08:04] jameseunson commented on #7
Hey,

Sorry to go on about this but I found something that is pretty relevant to your project, relating to CocoaPods and distributing a Framework. I was experimenting with a Firebase (https://www.firebase.com/) API over the weekend and integrated their client library as a CocoaPod into my test project.

I couldn't help but notice their CocoaPod Podspec is literally just a reference to their .frame

[2015-09-29 19:11] MetaImi opened #16 "Crash when title or subtitle nil"
I've got a crash when the title or subtitle property is nil on presentation.
The crash is in the LNPopupBar : _layputTitles method, at line 281:
_titleLabel.attributedText = [[NSAttributedString alloc] initWithString:_title attributes:defaultTitleAttribures];

of course the error is the following:
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'NSConcreteAttributed

[2015-09-30 09:02] airbob opened #17 "crash when trying to customise LNPopupBar appearance"
Hi @LeoNatan ,great work on LNPopupController!
I tried to uncomment the code in your example project
[code]
 to see customised appearance of LNPopupBar, it was crashed with ```unrecognized selector sent to class```, am I missing anything?

[2015-09-30 14:46] LeoNatan commented on #17
Hmm strange issue. What OS? Thanks for the report.

[2015-09-30 14:47] LeoNatan commented on #16
Oops. Thanks, will fix soon.

[2015-09-30 15:15] #16 closed

[2015-09-30 15:19] airbob commented on #17
@LeoNatan your reply reminded me that I have tried on iOS8, yes, I just checked that
[code]
which is only available for 9.0

So is there any chance apply customised color for iOS8 version(let's say for instance I want a pop up bar tint different with tab bar tint color, without changing the LNPopupController source code)?

[2015-09-30 15:25] LeoNatan commented on #17
Yes, of course. Instead of using `appearanceWhenContainedInInstancesOfClasses`, use the old `appearanceWhenContainedIn` methods. I will update the demo project for support in iOS 8.

[2015-09-30 15:28] #17 closed

[2015-10-13 12:01] jpsmarinho opened #19 "LNNotificationsUI.framework"
Hi!

I cannot find LNNotificationsUI.framework. I only found LNPopupController.

[2015-10-13 19:41] LeoNatan commented on #19
I don't understand what the problem is here. Please explain.

[2015-10-14 13:41] Jobrod opened #20 "Swipe Gesture Recognizer"
Hi,

Unfortunately, I can't use anymore swipe gesture recognizer in the popup window. It seems the popup event to reduce the View Controller is overwriting all swipe events.

Thanks.

[2015-10-14 13:45] MANassar opened #21 "Having trouble getting this to work. Maybe its a problem integrating it?"
dyld: Library not loaded: @rpath/LNPopupController.framework/LNPopupController
  Referenced from: /var/mobile/Containers/Bundle/Application/....
  Reason: image not found

[2015-10-14 14:06] Jobrod commented on #20
Sorry, didn't see in closed issue that you have permit to disable the gesture recognizer using popupInteractionGestureRecognizer.

[2015-10-14 14:06] #20 closed

[2015-10-14 15:16] MANassar commented on #21
Apologies. It was my fault. I had imported the framework into frameworks not embedded binaries.

[2015-10-14 15:16] #21 closed

[2015-10-20 14:44] #19 closed

[2015-10-23 10:51] funkenstrahlen opened #22 "Deprecated in iOS 9?"
Is this feature deprecated in iOS 9 according to this documentation: https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIPopoverController_class/index.html

[2015-10-23 10:52] LeoNatan commented on #22
The two have nothing in common.

[2015-10-23 10:52] #22 closed

[2015-10-23 12:06] funkenstrahlen commented on #7
To be honest: I do not know enough about Pods and dynamic frameworks to judge if a Pod of this framework makes sense or not. I respect your decision not to create a Pod.

However I would appreciate if you could improve the readme part about integrating this framework into an existing project. I struggle a lot trying to do that.

[2015-10-23 20:03] funkenstrahlen opened #23 "Add coverart image to minified player"
I would like to have a small coverart image of the current playing song in the minified version of the player.

I tried to set the coverart image instead of the play/pause button, however it messed up the whole layout. Maybe because it is a large image? I expected it to be scaled...

Any tips on how to do that?

[2015-10-24 06:06] bangtoven commented on #23
Hi there!
Did you set the frame of the imageView properly?
You may use the constructor UIBarButtonItem(customView: ...)
Below is the code that I tested, and it worked nicely.
[code]

Anyway, Thank you for the great work, LeoNatan.
Your project made my app super awesome!

[2015-10-24 07:47] funkenstrahlen commented on #23
Thanks a lot for your tip! This worked great!

Why did you set the frame exactly to 24x24?

[2015-10-24 07:50] LeoNatan commented on #23
@bangtoven Thanks for letting me know!
I will keep this issue open. When I have time, I might add a native image view in there. A bit busy at the moment, but we'll see.

[2015-10-24 07:53] LeoNatan commented on #7
@funkenstrahlen The included explanation is really all you need to do. Drag the project to your project, add it to Embedded Binaries in your target, and that should be it.

[2015-10-24 08:46] funkenstrahlen opened #24 "Memory leak because of timer?"
I just discovered a problem: If you use a timer in the PopupViewController to call a method on it regularly the PlayerViewController will be kept in memory and active even if the tabBarController instantiated a new PopupViewController.

I discovered this because right at the moment I added a timer, my AVPlayer of each PopupViewController(containing the player) kept playing in the background even w

[2015-10-24 08:53] funkenstrahlen commented on #24
It can also be fixed by only keeping one single instance of the PopupViewController and not creating a new one each time.

[2015-10-24 17:09] LeoNatan commented on #24
I don't understand the problem here. `NSTimer` retains the provided target until it finishes or is invalidated and released. It is clearly mentioned in the [documentation](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/Foundation/Classes/NSTimer_Class/#//apple_ref/occ/clm/NSTimer/scheduledTimerWithTimeInterval:target:selector:userInfo:repeats:):

`LNPopupController` is not r

[2015-10-24 17:09] #24 closed

[2015-10-24 19:28] funkenstrahlen commented on #24
Yes you are right. It is not a problem of the framework itself. However I think it might be nice if the demo projects in this repository would take care of this problem. Maybe people using the demo projects as a template will not run into this problem then.

[2015-10-27 02:35] Kastet opened #25 "Having big problems when using with UITabBarController that has more than 4 tabs"
It's a major one - when used with UITabBarController that has more than 4 tabs the LNPopupController gets embedded into the UITabBarController as an additional tab. This happens not on the initial presentation but when the screen size changes (iOS9 multitasking on iPad Air2 and newer).

Steps:
1) In the example app open Main.storyboard and add one more tab to the tab bar controller to make 5 tabs

[2015-10-27 02:37] Kastet commented on #25
<img width="880" alt="screen shot 2015-10-27 at 1 19 09 pm" src="https://cloud.githubusercontent.com/assets/611542/10748016/d7f5621c-7caf-11e5-94bc-409caf4921d5.png">
<img width="880" alt="screen shot 2015-10-27 at 1 22 47 pm" src="https://cloud.githubusercontent.com/assets/611542/10748015/d7f4f3b8-7caf-11e5-84d8-25a22ced3817.png">

[2015-10-27 09:25] LeoNatan commented on #25
Yuck!
Thanks for reporting. Will take a look eventually but will take me some time.

[2015-11-02 23:48] Kastet commented on #25
Hello Leo!
Have you got any chance to look at this bug?

[2015-11-06 00:19] Kastet commented on #25
Hi Leo,

but how is this issue related to adding support for Carthage? Is it a mistake?

Thanks

[2015-11-06 05:32] LeoNatan commented on #25
Sorry, it was a mistake.
I have not yet had chance to look.

[2015-11-06 19:56] #25 closed

[2015-11-06 19:56] LeoNatan commented on #25
@Kastet Fixed the issue. Please try and enjoy the library.

[2015-11-06 20:29] LeoNatan commented on #7
Added Carthage support. Will not support CocoaPods.

[2015-11-06 20:29] #7 closed

[2015-11-06 20:45] #15 closed

[2015-11-09 06:53] Kastet commented on #25
Hm, in my project the issue is still reproducible but in the sample project it's not... I've triple checked to make sure the I have the latest version. Any idea?

[2015-11-09 07:06] Kastet commented on #25
Sorry, my bad. After cleaning up my Xcode project the latest version of the framework got compiled and everything seems to be working well.

[2015-11-10 23:00] Kastet opened #27 "Issues with UI adaptivity"
This one was introduced very recently. One of the symptoms is that UIPopoverPresentationController's adaptivity behaviour has stopped working when presented inside the popup controller.

Steps to reproduce:
Inside DemoPopupContentViewController add

[code]

On iPad Air 2 simulator present the test view controller and change the multitasking mode to 50/50 so that the horizontal size class becomes R

[2015-11-18 13:40] MosheBerman opened #29 "Submitting to iTC without modifying info.plist causes an error"
I downloaded the framework as a git submodule and built my app. Then I tried uploading to iTC. I received an error about missing version keys in the info.plist. It turns out that the framework target doesn't have the required version numbers in its info.plist. I've fixed this and submitted a PR #28.

[2015-11-18 13:41] MosheBerman commented on #29
I'll add that I don't know if you made this change intentionally or if Xcode coughed and swallowed those plist entries. I've seen Xcode 7 wipe out version numbers before.

[2015-11-19 15:54] LeoNatan commented on #29
👍

[2015-11-19 15:54] #29 closed

[2015-11-24 16:36] funkenstrahlen opened #30 "Change player to minified state via code"
I would like to press a button in the player view and then put the player into minified state. Exactly the same what the dismiss chevron button in the upper left of the example does. How can I call this from my own code?

[2015-11-24 16:41] LeoNatan commented on #30
Did you take a look at the header file?

You have ```- (void)closePopupAnimated:(BOOL)animated completion:(nullable void(^)())completion;``` exactly for this purpose.

[2015-11-24 16:41] #30 closed

[2015-11-25 08:43] funkenstrahlen commented on #30
I am sorry, I should have read through the manual before.

[2015-12-02 14:23] funkenstrahlen opened #31 "Set myself as popupBarLongPressGestureRecognizerDelegate"
How can I set myself as the `popupBarLongPressGestureRecognizerDelegate`?

[2015-12-02 14:43] funkenstrahlen commented on #31
I tried this:

[code]

But the action did not get called.

[2015-12-04 16:57] LeoNatan commented on #31
What are you attempting to do? Listen to long press on the bar?

[2015-12-04 17:04] funkenstrahlen commented on #31
If the popup controller is minified I want to listen to a long press on the whole visible player bar.

[2015-12-04 17:16] LeoNatan commented on #31
The problem is, the bar already includes a long press gesture recognizer. So with your own recognizer set the delegate and implement the ```gestureRecognizer(_, shouldRecognizeSimultaneouslyWithGestureRecognizer:)``` method. Return ```true``` in this method to allow your recognizer to allow simultaneous recognition.

[2015-12-04 20:38] funkenstrahlen commented on #31
Thank you for pointing me to the problem with multiple gesture recognizers. This helps a lot.

However I am currently struggling with the first part: Setting the delegate.

`popupBarLongPressGestureRecognizerDelegate` is an attribute of `LNPopupController`. But this is all in the private part of your code, so I can not access it.

What about defining a delegate protocol for the whole lnpopup proje

[2015-12-04 20:40] LeoNatan commented on #31
You should not modify the internals of LNPopupController. Instead, add an additional long press gesture recognizer (as you have in the example above), and set that recognizer's delegate.

[2015-12-04 20:47] funkenstrahlen commented on #31
Ok I did that:

[code]

However I still do not receive the long press event.

Is that the way you intended to tell me?

[2015-12-04 20:59] funkenstrahlen commented on #31
Apparently the problem seems to be that `self.popupBar` is not valid.

[2015-12-04 21:03] LeoNatan commented on #31
Just did the following in the demo project and it worked.

[code]

Remember the `popupBar` property is non-nil only after presenting the popup. I did find a bug in the header file, where the `popupBar` is not marked as `nullable` and will push a fix.

[2015-12-04 21:04] #31 closed

[2015-12-04 21:05] funkenstrahlen commented on #31
I got it working now too!

I tried to configure self.popupBar in viewDidLoad() of popupContentController but popupBar was not valid yet. I did it now in prepareForSegue and it works now.

[2015-12-04 21:09] LeoNatan commented on #31
👍

Make sure to pull the latest changes.

Thanks,
Leo Natan

On Dec 4, 2015, at 23:05, Stefan Trauth <notifications@github.com> wrote:

I got it working now too!

I tried to configure self.popupBar in viewDidLoad() of popupContentController but popupBar was not valid yet. I did it now in prepareForSegue and it works now.

—
Reply to this email directly or view it on GitHub.

[2015-12-04 21:09] funkenstrahlen commented on #31
Thanks a lot for helping me! :heart:

[2015-12-04 21:12] LeoNatan commented on #31
Cheers! Happy coding!

[2015-12-17 00:35] MosheBerman commented on #27
I've seen this issue in another app where I presented a view controller with the popover transition, and then activated split-screen multitasking, then rotated the device. Boom, same bug. Could be Apple's bug?

[2016-01-08 14:17] satyzkmr opened #32 "How to show popup bar on the UITabbar inside UIViewcontroller?"
![img_1626](https://cloud.githubusercontent.com/assets/4285172/12199716/684aef52-b640-11e5-81a1-aeaba651a089.jpg)
![img_1627](https://cloud.githubusercontent.com/assets/4285172/12199717/6876834c-b640-11e5-91f8-51d9fa69aded.jpg)
How to pass the bottomdock view and frame?

[2016-01-09 10:55] funkenstrahlen opened #33 "Info.plist is missing CFBundleShortVersionString"
I can not submit an app using LNPopupController via Carthage as it is missing the `CFBundleShortVersionString` in `Info.plist` of LNPopupController.

![screen shot 2016-01-09 at 11 53 03](https://cloud.githubusercontent.com/assets/144173/12215692/a29e1e68-b6c7-11e5-93e2-3386553ca87d.png)

How can I fix that? Is this an error on my side or can this be done via the Carthage package automatically so

[2016-01-09 11:33] funkenstrahlen commented on #33
I just realised there is a newer version that might fix the problem according to commits. Will test that now.

[2016-01-09 11:41] funkenstrahlen commented on #33
Looks like this is fixed in the repo here already but not released as a new version yet.

[2016-01-09 12:46] LeoNatan commented on #33
Done.

[2016-01-09 12:46] #33 closed

[2016-01-09 13:29] LeoNatan commented on #32
I don't understand what you want here; why are you constantly changing the title?

[2016-01-09 13:33] satyzkmr commented on #32
Sorry for doing that, I need to show popup bar over UITabbar which is inside UIViewcontroller. When I did that the bottom layout is corrected automatically

[2016-01-09 13:43] funkenstrahlen commented on #33
Thanks a lot!

[2016-01-09 14:16] LeoNatan commented on #32
Use UITabBarController

[2016-01-09 14:23] satyzkmr commented on #32
Can we achieve this without using UITabBarController?

[2016-01-09 18:47] LeoNatan commented on #32
Yes. Did you read the documentation? Specifically, the *Popup Container View Controllers* section.

[2016-01-09 18:47] #32 closed

[2016-01-10 21:27] Sjoerdjanssenen opened #34 "LNPopupController goes behind UINavigationBar"
I'm implementing this framework in my app, but somehow, when I slide it open, the view is placed behind the `UINavigationBar`. What am I doing wrong?

I present it like this: `[self presentPopupBarWithContentViewController:self.demoVC animated:YES completion:nil];`

[2016-01-10 21:53] LeoNatan commented on #34
Make sure to present on the navigation controller, not on the VC (self).

[2016-01-10 21:54] Sjoerdjanssenen commented on #34
I tried `self.navigationController` before, but then came to the realisation that I had a `UINavigationController` nested inside a `UISplitViewController`. What I had to do to solve this, was `self.navigationController.navigationController`.

[2016-01-10 21:56] #34 closed

[2016-01-16 22:29] Sjoerdjanssenen opened #35 "Opening LNPopupController programmatically gives me a "see through" window"
When I initialise and open the `LNPopupController` instance in my app, I get a a window that's complete see-through on top of the presenting `UIViewController`.

    self.restVC = [RestaurantsViewController new];
    self.restVC.restaurants = [Restaurants fetchAll];

    UIBarButtonItem *title = [[UIBarButtonItem alloc] initWithCustomView:self.restLabel];
    self.restVC.popupItem.rightBarButtonIt

[2016-01-19 17:30] LeoNatan commented on #35
What is a see-through "window"? I think you are misusing the term "window". Please post a screenshot of the problem.

[2016-01-19 18:13] KevinVitale opened #36 "Technique for dismissing TableView `contentViewController` onDrag"
My content view controller's primary view is a `UIScrollView` subclass, specifically: `UITableVIew`. Any advice on what the _correct_ solution is for getting the `popupInteractionGestureRecognizer` to work simultaneously with its installed `panGestureRecognizer` so that if the scroll view's `contentOffset` is zero, dragging down will dismiss the content view controller?

I have a crude initial att

[2016-01-19 18:41] LeoNatan commented on #36
Are you looking for an interactive dismiss (pulling the tableview moves the popup), or complete popup once a certain threshold is met?

[2016-01-19 19:17] KevinVitale commented on #36
I guess interactive dismiss: if the user has hit the top of the list, the popup controller dismisses.

I'm assuming this would require having the installed `tableView.panGestureRecognizer` fail to the `popupInteractionGestureRecognizer`, or vice versa?

[2016-01-20 03:16] msimonetta opened #37 "Status Bar keeps appearing when table view row is selected"
Please help on this one - so weird..been at it for hours now.

[2016-01-20 06:12] LeoNatan commented on #37
What happens when you select a cell? Do you push another controller? I cannot help without all the details.

[2016-01-20 12:13] LeoNatan commented on #35
I am unable to reproduce this issue. Please provide a demo project where this reproduces.

[2016-01-20 15:07] msimonetta commented on #37
Hi Leo,

This can be closed. I ended up solving late last night. I just set the preferStatusBarHidden value to TRUE in specific view controller. Easy fix, was too tired to think straight!

While I have you though, I'm noticing that when the bar is at the bottom of the screen, it is overlaying on top of the view that is currently present. That being said, i have a table view beneath it and i would

[2016-01-20 21:36] LeoNatan commented on #37
You should set the ```contentInset``` of the table view with correct inset. Does this not happen automatically? Run the demo project and see, there the table view can be scrolled correctly.

[2016-01-20 21:36] #37 closed

[2016-01-20 22:16] msimonetta commented on #37
Thanks Leo,

Final thing - I noticed when I call dismissPopupBar the popup bar
dismisses, but it seems as though that it's view controller is still
retained, as the AVPlayer I had playing a song within it keeps playing. Is
there a clean way to ensure that when I dismiss the popupbar that the view
controller it was a part of is removed completely as well?

Regards,

Michael Simonetta

On Wed, Jan 2

[2016-01-20 22:22] msimonetta opened #38 "Properly remove and fully deallocate content view controller upon dismissing popup bar"
Any help would be greatly appreciated - I have a view controller that has a table view of audio tracks that plays them via AVPlayer. When I call dismissPopupBar the audio keeps playing and makes me believe that the view controller and it's objects are still in memory.

[2016-01-21 07:03] LeoNatan commented on #38
Hmm, I'll check. Have you put a breakpoint in your controller's dealloc/deinit and see that it is indeed not called?

[2016-01-21 12:50] msimonetta commented on #38
I have.

Regards,

Michael Simonetta

[2016-01-25 11:19] #35 closed

[2016-01-25 11:58] LeoNatan commented on #38
@msimonetta Hi,

Just tested the demo project and both Swift and ObjC popup content view controllers are released. Your problem is likely due to bad memory management on your end. Let me know if you need help.

[2016-01-25 13:34] #38 closed

[2016-01-25 18:12] JacobSyndeo opened #39 "Issue with bottomLayoutGuide"
Hi Leo,

I'm having an issue with the popup bar and the bottom layout guide. You mention in the docs that your "framework will attempt to correct the bottom layout guide of the container controller and its child controllers as the popup bar is presented and dismissed." I'm wondering where exactly these calls are being made so that I can trace where it's going wrong in my app.

I attach your framew

[2016-01-25 18:48] LeoNatan commented on #39
While bottom layout guide is maintained correctly, and indeed constraints with the guide are also maintained correctly. However it seems iOS does not update table view content insets In my music demo project, I added the following code in my controller to maintain insets correctly:

[code]

[2016-01-25 18:49] #39 closed

[2016-01-25 18:56] LeoNatan commented on #39
If you are still interested, top and bottom insets are maintained in the cryptically named (for a reason) methods `_ln_common_a:b:` and `a:b:` in UIViewController+LNPopupSupportPrivate.m.

[2016-01-25 19:23] LeoNatan commented on #39
`a:b:` now renamed to `eIFCVC:iAA:` to follow convention of other cryptic methods. 😄

Stands for:
[code]

[2016-01-25 20:15] JacobSyndeo commented on #39
That viewDidLayoutSubviews code totally fixed it. Thank you! 👍🏼

[2016-01-26 22:55] msimonetta opened #40 "Change progress bar color"
How do I achieve changing the progress bar color?

[2016-01-28 16:10] JozefLipovsky opened #41 "Popup Content Controller with Navigation bar - UI issue"
Hi All,
I would like to use LNPopupController with content controller which is embeded in UINavigationController (or have own UINavigationBar at least).

I am trying to do something similar as Instagram do with their Tabbar middle Button, but in my case I want  to create **Popup Bar with Dashboard View Controller as it's content view**. So I used the Tabbarcontroller delegate method to basically i

[2016-01-29 13:23] funkenstrahlen opened #42 "Changing background color does not work"
I want to customize the looks of my popup bar:

[code]

All settings work except the background color aka barStyle. My popupbar is still red like the tabBar underneath it. I want it to be black.

![screen shot 2016-01-29 at 14 22 36](https://cloud.githubusercontent.com/assets/144173/12676579/c63d8594-c693-11e5-9658-acd95bca1ec2.png)

[2016-01-29 13:28] LeoNatan commented on #42
Try using `barTintColor`.

[2016-01-29 13:33] funkenstrahlen commented on #42
Works perfectly! Thanks a lot!

[2016-01-29 13:33] #42 closed

[2016-01-29 18:36] LeoNatan commented on #40
The progress bar uses the tint color of the bar. Change that to change the progress bar color.

[2016-01-29 18:36] #40 closed

[2016-01-29 20:52] LeoNatan commented on #41
I am investigating why your "1" is not behaving correctly.

[2016-01-29 21:45] #41 closed

[2016-01-29 21:46] LeoNatan commented on #41
Fixed. Use a `UINavigationController` as the popup content controller. The close button will be positioned correctly under the navigation bar.

[2016-02-02 07:55] funkenstrahlen opened #43 "I need an hasBeenMinified() delegate method"
When my lnpopup view is fullscreen, I set the status bar color according to the coverart image (so the status bar is visible).

However if the player is minified I need to update the status bar color again, so it matches the color of my navigation bar of the rest of the app.

This kinda works if I use this method to set my status bar color:

[code]

However this does not play nice with controllers

[2016-02-02 08:23] funkenstrahlen commented on #43
I think I stick to the `preferredStatusBarStyle()` way. Works best.

[2016-02-02 08:23] #43 closed

[2016-02-02 08:24] LeoNatan commented on #43
It is best. This is the preferred and modern way to manage status bar style.

[2016-02-02 15:35] davidosorio opened #44 "Title and subtitle doesn't appear in bar."
If I open a navigation controller instead a single view controller, then the bar doesn't show any button or information.

`let nav = UINavigationController(rootViewController: popupContentController)
tabBarController?.presentPopupBarWithContentViewController(nav, animated: true, completion: nil)`

You can reproduce in the example project.
![simulator screen shot 2 feb 2016 15 34 49](https://cloud.

[2016-02-02 15:48] LeoNatan commented on #44
You need to set the properties of `nav` instead of the controller embedded in it.

[2016-02-02 15:48] #44 closed

[2016-02-04 12:40] funkenstrahlen opened #45 "UINavigationBar positioned wrong in child (contained) UINavigationController"
My LNPopupController presents an UINavigationController. When the popup becomes fullscreen for the first time everything looks fine.

![simulator screen shot 04 feb 2016 13 38 33](https://cloud.githubusercontent.com/assets/144173/12815159/ae43b1d8-cb44-11e5-8308-954d348ac13f.png)

However if I minify the popup bar and max it again, the UINavigationBar is displayed wrong.

![simulator screen shot 0

[2016-02-04 14:02] JozefLipovsky commented on #45
seems to be related to this one #41, make sure you are using latest version.... I have just tested this in my app and it's working fine when VC is embeded in UINavigationController

[2016-02-04 14:11] funkenstrahlen commented on #45
I am using the latest version. This did not fix it.

However my view hierarchy looks like this, which might be the problem why the fix does not work for me.

popup presents: `UIViewController` -> `UIPageViewController` as subview -> `UINavigationController` -> `UIViewController`

[2016-02-04 14:37] funkenstrahlen opened #46 "setNeedsStatusBarAppearanceUpdate() has no effect"
I present a UIViewController as a popup. I want to change the status bar color dynamically.

I have implemented `preferredStatusBarStyle()` and an `updateStatusBarStyle(style: UIStatusBarStyle)` method to set a new style.

[code]

`self.setNeedsStatusBarAppearanceUpdate()` is called as I can see by debugging. However the status bar color does not change.

The status bar only updates its style corr

[2016-02-04 15:50] LeoNatan commented on #45
From the screenshots above, I see this is not the latest version. Please update to latest version.

[2016-02-04 16:06] LeoNatan commented on #46
I'll investigate when I have some time.

[2016-02-04 16:14] funkenstrahlen commented on #45
I am currently trying to figure this out

[code]

Carthage says I have the current version.

However it is really hard to find out if the code actually has this version, because there is no version number fixed in any files of the repository to crosscheck.

I only found something in `Info.plist`, but it is outdated: https://github.com/LeoNatan/LNPopupController/blob/master/LNPopupController/Info.p

[2016-02-04 16:18] funkenstrahlen commented on #45
I just took a look right in the code and can confirm that the version carthage did checkout actually includes this patch: https://github.com/LeoNatan/LNPopupController/commit/ac6d3f92c820097bda374413ea83142c481ed37f

So I assume carthage did build 1.3 correctly.

How can you see my build uses an older version?

[2016-02-04 16:21] LeoNatan commented on #45
Hmm, because the popup dismiss button is on top of the bar. But I see you are embedding a navigation controller in a view controller. This all might be iOS fault. Please move the content controller to be a navigation controller directly.

[2016-02-04 16:25] funkenstrahlen commented on #45
Unfortunately I can not do that because the UINavigationController is just one of my views inside a UIPageViewController. So the popup content controller has to be either the UIPageViewController directly or a UIViewController containing it.

Would also be nice if you could update the version string in Info.plist

[2016-02-04 16:26] funkenstrahlen commented on #45
If I swipe the UIPageViewController left and right, the UINavigationBar is displayed correctly. It just breaks if the popup is minified. I assume Apples code does not handle the additional top space correctly.

[2016-02-04 16:28] LeoNatan commented on #45
That's what I fear. There are many issues with embedding navigation controllers that just don't work well. Unfortunately there is little I can do. Will take a look but will likely close this as an Apple bug.

[2016-02-04 16:30] funkenstrahlen commented on #45
I understand.

This is how it behaves:

![wb20jkadax](https://cloud.githubusercontent.com/assets/144173/12821720/debe8f16-cb64-11e5-9358-8a788bb56328.gif)

[2016-02-04 20:30] LeoNatan commented on #46
As a workaround, call `setNeedsStatusBarAppearanceUpdate()` on the appropriate `popupPresentationContainerViewController`.

[2016-02-04 20:38] #46 closed

[2016-02-05 12:32] funkenstrahlen commented on #46
Works perfectly now! Thanks a lot for the fix! :smiley:

[2016-02-05 12:35] LeoNatan commented on #46
Great!!

[2016-02-05 14:21] funkenstrahlen opened #48 "dismissPopupBarAnimated(true, completion: nil) does not call deinit of contentViewController"
Why is `deinit` of my contentViewController which I present as popupBar not called when I call `dismissPopupBarAnimated(true, completion: nil)` to dismiss the popupbar?

[2016-02-05 14:56] LeoNatan commented on #48
Did you put a line of code in the `deinit`? I noticed that the Swift compiler optimizes the `deinit` function if there is nothing in there or just a breakpoint. Put a `print` call and see if it is called then. From my tests, the lib manages memory correctly.

[2016-02-07 18:35] LeoNatan commented on #48
Did you test?

[2016-02-07 18:49] funkenstrahlen commented on #48
Not yet. Will have time tomorrow.

[2016-02-08 09:00] funkenstrahlen commented on #48
Works using the example code in this repository. So this is an issue with my code.

[2016-02-08 09:00] #48 closed

[2016-02-08 09:11] funkenstrahlen commented on #48
Did not define a delegate as weak reference. Could fix it now!

[2016-02-11 20:09] #23 closed

[2016-02-17 02:52] msimonetta commented on #40
This did not work - can I get a code snippet on how to achieve this please.

[2016-02-19 16:00] KevinVitale opened #51 "'popupBar' adjusting for 'bottomDockingView' only after presenting 'contentViewController'"
I'm trying to add a `popupBar` with a custom `bottomDockingView` (essentially, my player controls view).

However, I'm seeing some odd behavior: the `popupBar` isn't *initially* respecting the location of the `bottomDockingView`. It's only after I open `contentViewController` (_calling_ `presentPopupBarWithContentViewController`) and then closing it, does the `popupBar` appear connected to the `bo

[2016-02-19 16:43] LeoNatan commented on #40
Take a look at the demo project. Notice when tapping the style button, the progress bar color also changes.

[2016-02-19 16:46] LeoNatan commented on #51
Hi,

Have you  also implemented the `defaultFrameForBottomDockingView` method? It tells the system where to position the popup bar.

[2016-02-19 17:07] KevinVitale commented on #51
@LeoNatan Yep. Looks like this.

[code]

[2016-02-23 15:48] KevinVitale commented on #51
@LeoNatan: I've created a test project that recreates the issue I'm seeing:
https://github.com/KevinVitale/TestPopUP

Anything you can do to point me in the right direction would be very helpful! Thanks for your time, and for the project (it's splendid).

[2016-02-23 15:50] LeoNatan commented on #51
Thanks, this will be helpful! Will look soon.

[2016-02-26 01:16] KevinVitale commented on #51
Any feedback on this? Much appreciated.

[2016-02-26 02:22] MosheBerman opened #52 "Status Bar + UINavigationController doesn't play nicely."
The Apple Music app doesn't use a UINavigationController here, so perhaps this wasn't an anticipated edge case, but whenever I pass a UINavigationController as the popup view controller, the navigation bar doesn't adjust for the status bar.

[2016-02-26 03:39] MosheBerman commented on #52
I was able to get this to work with these two steps:

- Add a `UINavigationBar` to the view hierarchy and apply the following constraints:
  - Center X in Superview
  - Equal Width to Superview
  - Height greater than or equal to 44. (==44 breaks the `prompt` property of the `navigationItem`.)
  - Top space to Top Layout Guide is 0.
- Implement `UIBarPositioningDelegate`'s `positionForBar:` method

[2016-02-26 12:09] #51 closed

[2016-02-26 12:09] LeoNatan commented on #51
Fixed.

[2016-02-26 12:55] LeoNatan commented on #52
I am unable to reproduce the issue as described.

![nobug](https://cloud.githubusercontent.com/assets/2270433/13352833/b060bf50-dc98-11e5-81f4-c31bf6196be4.gif)

Are you sure you are using the latest code of the library? If you are presenting a navigation controller directly, it should work as in the image above. If you are embedding a navigation controller inside another controller, this is not s

[2016-02-26 13:10] MosheBerman commented on #52
Definitely not sure that it's the latest code, an update might fix. For now I worked around as outlined above, but I'll check out the latest version.

[2016-02-26 13:18] LeoNatan commented on #52
Great, let me know.

[2016-02-26 14:48] KevinVitale commented on #51
Many, many thanks!

[2016-03-04 09:15] #52 closed

[2016-03-04 14:34] joshluongo commented on #36
Is there any progress on making this work?

[2016-03-04 20:19] LeoNatan commented on #36
Sorry, I have not had time to take a look at a solution for this issue.

[2016-03-09 18:57] akac opened #54 "Describe what LNPopupControllerEnforceStrictClean means"

[2016-03-09 19:16] LeoNatan commented on #54
Have you taken a look at the code? 😉

[2016-03-09 19:19] akac commented on #54
Yes…but instead of setting that #define to see what happens when all the good stuff is removed, it would be nice to have a list of "this won't work".

[2016-03-09 19:27] LeoNatan commented on #54
Good point. I have not tested, not attempted to fix issues that might arise from removing.

Major stuff to go away:
Layout guide management
Status bar management
Small fixes done in "the good stuff" to counter or sidestep Apple issues

I don't think this should be "exposed" in the official documentation / readme. It's gray area and safe. It's there as an Easter egg, a private API of the framework,

[2016-03-09 19:39] akac commented on #54
My problem is that I'm testing this framework in a VC which includes a table view - but the table view isn't getting its content offset so the bar is over the table view over its last row. I'm trying to identify how this all works, so I can properly fix it…but its quite obfuscated so its hard to know.

[2016-03-09 19:43] LeoNatan commented on #54
It's obfuscated because it has to be.

To fix, you need to update the table view insets after presenting the popup bar.

This is true for Apple frameworks as well. Insets of scrollviews are only modified before presentation of the view, then they are not modified by UIKit. So if something triggers a layout guide update after presentation, it is up to the developer to update the content insets.

Be

[2016-03-09 20:21] akac commented on #54
Aha, ok. I should've know that. Thanks.

[2016-03-09 21:06] #54 closed

[2016-03-10 18:26] akac opened #55 "Content controller is displaying under the navigation bar"
I have a UINavigationController with a UIVC as its content controller. I call:
`	[self presentPopupBarWithContentViewController:self.mapNavigationController animated:YES completion:nil];
`
and it all works great. I get my viewDidLayoutSubviews - I alter the table content insets and all is good!

However when I open the content controller either by tapping on the button or swiping up, the content i

[2016-03-10 18:36] LeoNatan commented on #55
Can you provide a demo project?

[2016-03-10 18:41] akac commented on #55
I'll try, but it may be a few days. Not sure if this helps:
![xcode001](https://cloud.githubusercontent.com/assets/364743/13680267/10614408-e6b5-11e5-9dba-c65c75562f8c.png)

[2016-03-10 18:43] LeoNatan commented on #55
I don't think this is enough. Create a small project with no real data, just a demonstration of the problem. I'll take a look.

[2016-03-21 17:26] #55 closed

[2016-03-21 17:26] #45 closed

[2016-03-29 15:41] juliensaad opened #56 "Completion block is called twice when calling presentPopupBarWithContentViewController:openPopup:animated:completion:"
This seems to happen when openPopup is set to YES.

In _presentBar: of FirstViewController.m of the example project , I tried changing
``[targetVC openPopupAnimated:demoVC completion:nil];``
to
``[targetVC presentPopupBarWithContentViewController:demoVC openPopup:YES animated:YES completion:^{
        NSLog(@"Completion");
    }];``

And get two logs of "Completion".

This happens because the comp

[2016-04-03 12:57] morad commented on #42
Having hard time here, so LNPopupBar.appearance().barTintColor = UIColor.whatever works on first time initial..

But cannot update the barTintColor... only works the first time when it gets initialized... any thoughts?

[2016-04-03 13:11] LeoNatan commented on #42
@morad Changing the bar tint color using `appearance()` will only modify future popup bars. Instead, update the actual popup bar's bar tint color.

[2016-04-09 10:08] dive opened #58 "Bottom docking view should respect tabBar.isHidden property"
Hi,

UITabBar can be hidden with `.hidden` property, but in this case `bottomBarFrame` still will be calculated with default UITabBar height (including `frame.origin`). You can see it [here](https://github.com/LeoNatan/LNPopupController/blob/50121d10edcc872e1605f2c81e4faf2c018ca8af/LNPopupController/LNPopupController/Private/UIViewController%2BLNPopupSupportPrivate.m#L261-L268):
[code]

I think `.

[2016-04-09 10:09] #56 closed

[2016-04-09 10:14] LeoNatan commented on #58
Hi,

This goes against Apple's guidelines, and is not supported.

If you must support this, you can subclass `UITabBarController` and implement `defaultFrameForBottomDockingView` yourself, taking into account whether the tab bar is hidden or not.

Thanks

[2016-04-09 10:14] #58 closed

[2016-04-17 18:57] narciero opened #59 "Add dismiss chevron to popupContentViewController"
I'm unable to duplicate the dismiss chevron like you have in the example...I thought it was included by default. I am using cocoapods.

[2016-04-17 19:06] LeoNatan commented on #59
Don't use CocoaPods. That's the problem. It is statically linking the framework, while not embedding the assets it comes with. Please use Carthage. CocoaPods is not supported.

[2016-04-17 19:06] #59 closed

[2016-04-25 13:20] b2github opened #60 "Assertion fail when switch to another view controller."
Assertion fail when switch to another view controller when using with UITabBarController.
It happen if popupBar not show on current tab then switch to other tab will crash the app.

[code]

Cheers

[2016-04-25 13:49] LeoNatan commented on #60
When using a tab bar controller, you must present the popup bar from tab bar controller, not on the internal controller.

[2016-04-25 13:53] b2github commented on #60
Sorry, I mean it crash if popup bar not show.

The _bottomBar variable is set with present popup bar and it looks like it set back to nil when dismiss.

any advise?

Cheers

ps.
I already show popupbar from UIBarBarController.

[2016-04-25 19:51] LeoNatan commented on #60
Can you please create a demo project?

[2016-04-25 19:53] LeoNatan commented on #27
I honk this is a bug in Apple's framework. Having adapted some of my UI to multitasking, the system is very buggy. Will close for now.

[2016-04-25 19:53] #27 closed

[2016-04-25 19:56] MosheBerman commented on #27
I've solved this by implementing `willTransitionToTraitCollection:withTransitionCoordinator:`. Nothing to do with this library, but more to do with your implementation of Apple's framework code.

[2016-04-26 19:19] mahmoud-amer-m opened #61 "Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[UITabBarController popupContentViewController]:"
I've this error while trying to present the popupbar
I've implemented DemoPopupContentViewController like in the example

- (void)presentBarEngine
{
    UIViewController* targetVC = self.tabBarController;
    if(targetVC == nil)
    {
        targetVC = self.navigationController;

        if(targetVC == nil)
        {
            targetVC = self;
        }
    }

    if(targetVC.popupContentViewCo

[2016-04-26 20:28] LeoNatan commented on #61
I don't understand what the problem is. Please form your question better.

[2016-04-26 20:38] mahmoud-amer-m commented on #61
I'm not using storyboards, and I got this error
-[UITabBarController popupContentViewController]: unrecognized selector sent to instance 0x7ff75b933d80
while presenting the popupbar

[2016-04-26 20:39] LeoNatan commented on #61
I think you have not integrated the framework properly in your project.

[2016-04-26 20:41] mahmoud-amer-m commented on #61
I've added it to my cartfile and I got no errors while importing the module in my viewcontroller

[2016-04-26 20:43] LeoNatan commented on #61
The error indicates that a method I expose in my categories is not compiled.

If you run the demo project, does it work as expected?

[2016-04-28 09:22] Jamal1337 opened #62 "Is it possible to make it globally accessible?"
Hey, first of all thank you very much for providing this sweet piece of code, it is very great and helpful!

I just have a question, as I am trying to use this like a global View at the bottom of each ViewController, I was wondering if it is possible to have that bottom bar fixed across all ViewControllers like a ContainerView with having everywhere the same content? Right now I add the popupConte

[2016-04-28 09:28] LeoNatan commented on #62
How are open are you to changes in your design? I have some tricks.

What is your app's controller hierarchy? A navigation controller, where other controllers are pushed/presented?

[2016-04-28 09:34] Jamal1337 commented on #62
I have a sidebar menu with serveral navigation points. Each ViewController is embedded in its own NavigationController. Sometimes there are TableViews where it is possible to go a little bit deeper.

My initial Controller is the top one in the image where i add the popupContentController to its navigationController. But if I switch, I have to initialize it again

My Storyboard looks like this:
![s

[2016-04-28 09:56] LeoNatan commented on #62
Here is the simplest solution I can think of, with one caveat which you will have to handle across the project.

Create a second window (`UIWindow`), with a clear view controller. Make sure to have a strong reference to that window object. Present the popup bar on that. Now you have the a globally available popup bar on top of all other view hierarchy.

The only issue now is, you have to set a bot

[2016-04-28 11:22] semyonvlasov opened #63 "Bottom layout guide correction doesn't work for UISplitViewController"
Bottom layout guide correction doesn't work for master view controller when using UISplitViewController  as a child VC of UITabBarController.
Maybe the reason is that the func _LNPopupSupportFixInsetsForViewController uses property ".childViewControllers" for recursive correction but UISplitViewController hasn't that propery.

[2016-04-28 11:28] LeoNatan commented on #63
Thanks, will have a look soon.

[2016-04-28 11:31] LeoNatan commented on #61
This is not an issue with framework. It's a problem on your end. Please take a look at the demo project and see how that links the framework in.

[2016-04-28 11:31] #61 closed

[2016-04-28 11:50] Jamal1337 commented on #62
Thanks!
I'm just trying to add a second window, but have nerver done this. I try to add one programmatically in the  didFinishLaunchingWithOptions of the AppDelegate, is that correct? And then I try to append the popup bar to this window.

Another thing that comes to my mind is, doesn't the second window prevent the user from navigating through the app if the second window overlays the main window

[2016-04-28 11:59] LeoNatan commented on #62
Make a strong property for the second window. Then,

[code]

Then, present the popup bar on `self.popupWindow.rootViewController`.

[2016-04-28 12:19] Jamal1337 commented on #62
Okay I got it appearing, but I either cannot click on anything or just click on the basic UIWindow but not on the Player within the second UIWindow.

here is my (your) code:

`secWindow = UIWindow(frame: UIScreen.mainScreen().bounds)
        secWindow?.rootViewController = UIViewController()
        secWindow?.windowLevel = UIWindowLevelAlert
        secWindow?.rootViewController?.view.backgroundC

[2016-04-28 12:20] LeoNatan commented on #62
Hmm, will take a look how to solve when I am near my Mac.

[2016-04-28 12:22] Jamal1337 commented on #62
Okay I will continue trying to get it work, but thanks very much for your fast responses!

[2016-04-28 17:29] LeoNatan commented on #62
OK, so I ended up having to create this small piece of code.

Objective C:
[code]
Swift:
[code]

What it does is only let touches to the popup controller and its subviews be captured by the window, otherwise let the system to pass them elsewhere (the other window). Then make sure to have your popup window be of this type.

[2016-04-28 17:29] #62 closed

[2016-04-28 17:40] LeoNatan commented on #60
I think I reproduced. Investigating.

[2016-04-28 18:25] funkenstrahlen opened #64 "Improve accessibility support"
I would like to be able to set some accessibility variables for `popupItem.title`, `popupItem.subtitle`, the and whole minified `popupBar` and the `progressBar` of the minified popup.

To do this I need access to the title and subtitle UILabels.

Also I need to access the popupbar of the minified player somehow. I do not know which object this is. I want to make it look like a button for a voiceov

[2016-04-28 19:30] #60 closed

[2016-04-28 19:30] #63 closed

[2016-04-28 22:33] LeoNatan commented on #64
Please explain what you need exactly. I am not interested at this point exposing the labels. How does it work with navigation bars, which also do not expose the label?

This all should be done at the framework level. So please make a list of the changes required and I will try to incorporate them. For example, one of them being the popup bar's button hint.

Regarding the last sentence, I am not su

[2016-04-29 03:54] semyonvlasov opened #65 "Bottom layout guide correction doesn't work with UITableViewController"
Bottom layout guide correction doesn't work with UITableViewController. If I create storyboard UIViewController with UITableView and it's bottom constraint at bottom layout guide all works fine. However if I create storyboard UITableViewController correction doesn't work after popup bar appears.

Here the screenshots with storyboard and application behavior.
-NMCFriendsVC with list of friends (50

[2016-04-29 04:05] semyonvlasov commented on #65
It's not a big problem, I will just replace UITableVCs with UIVCs in my storyboard, but You should know the issue.
You've made really great component, thanks :)

[2016-04-29 07:59] funkenstrahlen commented on #64
I see I have not been very clear. I want to do 3 things which currently do not work:

* change the accessibility attributes of the dismiss button when the popup is maxed.
* if the popup is maxed, elements of the view the popup overlays "shine through" in voiceover mode. In my case a UITableView. this breaks a lot of things. I do not know how to fix that. I discovered it only happens in the top are

[2016-04-29 08:51] b2github commented on #60
Sorry that I didn't provide you a demo project.
Thanks you very much for fixing this bug.

Cheers

[2016-04-30 07:57] funkenstrahlen commented on #64
I think to fix the "shine through" bug the popover needs to set `isAccessibilityElement` for the view it overlays to `true` and `false` on every minfy/max/close action.

The only way to do this I can imagine right now is sending a notification through NSNotificationCenter, so all views can react to it. It might be very hard to find out which view is currently covered by the popup as this can chang

[2016-04-30 10:09] LeoNatan commented on #64
Documentation for `isAccessibilityElement`:

I have to investigate accessibility for this framework. I have to admit, this is not something I am familiar with.

[2016-04-30 10:16] LeoNatan commented on #64
I am also seeing that accessibility notifications should be posted when the screen changes.

[code]

Looks like some major changes are required.

[2016-04-30 11:05] LeoNatan commented on #64
I fixed the "shine" problem with `accessibilityViewIsModal` on the popup content view. Working on other improvements.

[2016-04-30 14:06] funkenstrahlen commented on #64
That's amazing improvement! Thank you for working on this.

I already have two people waiting to test the voiceover support. This way we can get the best feedback on how good the popup works.

[2016-04-30 14:08] LeoNatan commented on #64
I have implemented more accessibility features. The close button will have an accessibility label and a hint. The popup item will support accessibility label and hint, as well as a progress accessibility label. The center of the popup bar will have a button trait and will be customizable. Good things coming soon.

[2016-04-30 14:10] LeoNatan commented on #64
Will update the readme with everything related to accessibility, as well as the demo project.

[2016-04-30 14:11] funkenstrahlen commented on #64
thanks a lot ❤️

[2016-04-30 15:24] jordibruin commented on #64
Very nice to read this conversation between you two. Great work!

[2016-04-30 19:17] #64 closed

[2016-04-30 19:24] LeoNatan commented on #64
Done. Please test and see if all you need is supported.

[2016-04-30 19:27] LeoNatan commented on #65
This sounds like the intended behavior. After the controller is presented, the popup presentation will not modify the insets. This is how Apple does it. When you present a popup bar, make sure to update your table view's content insets. I do the same in my music app in the demo project:

[code]

[2016-04-30 19:27] #65 closed

[2016-04-30 19:30] LeoNatan commented on #62
@Jamal1337 Did it work?

[2016-04-30 20:04] Jamal1337 commented on #62
Yes thanks a lot! I already got it working before you answered, it was nearly the same solution but a bit more complex, so I decided to adapt yours which worked absolutely flawless. Thanks a lot again for your fast help!

[2016-05-01 07:29] funkenstrahlen commented on #64
I just updated my code with your changes and as far as I can see it works great now!

I will have it tested by two voiceover users in the coming weeks. If they suggest any further improvement I'll let you know.

[2016-05-01 07:45] LeoNatan commented on #64
May I ask what your app is?

[2016-05-01 07:54] funkenstrahlen commented on #64
Sure: https://xenimapp.stefantrauth.de/

It is not released yet. Will be soon. Accessibility support will be added to the released version later as version 1.2.

[2016-05-01 17:39] morad opened #66 "Best way to adjust bar frame"
Gents,

Trying to figure out the best way to adjust the height of the mini docked player along with barbuttonitems position vertically. any tips without hacking it?

Screenshot explains what I have after adjusting LNPopupBarHeight value from 40 to 80. you can see things are not aligned with barbuttomitems.

![screen shot 2016-05-01 at 8 36 52 pm](https://cloud.githubusercontent.com/assets/66266/14

[2016-05-01 19:24] LeoNatan commented on #66
Hey,

As you can see, it is not supported. You will need to hack it. Take a look at `LNPopupBar`, specifically at `initWithFrame:` and `_layoutTitles`.

I will not be supporting this in the framework. The LNPopupBarHeight will remain 40. But feel free to ask questions here if you them,

Thanks,
Leo

[2016-05-04 18:23] snooppok opened #67 "Docking to a view issue"
Hello.
Thanks for your amazing framework, you really made a great job.

I have an issue with docking the popup bar to a bottom view.
My view is 0px attached to the bottom of the main VC (without margin) with an auto layout constraint (not bottom layout but buttom of superview).

I set up the LNPopupController in the viewDidAppear of my main VC. When I run my app, it appears correctly, with the app

[2016-05-04 18:26] LeoNatan commented on #67
Thanks for the report. Will take a look when I have some free time. Can you attach a demo project?

[2016-05-04 22:37] snooppok commented on #67
Here it is :)
Just a small project with 2 VC, 1 docking view in the main VC. Same issue. Let me know.
Thanks !

[TestLN.zip](https://github.com/LeoNatan/LNPopupController/files/249706/TestLN.zip)

[2016-05-06 11:25] LeoNatan commented on #67
Seems to be related to autolayout. Without it, everything works as expected. Investigating.

[2016-05-06 16:28] snooppok commented on #67
Thank you LN.
Just tried you fix. It partially removed the issue.
When I click on the popup bar, the dock is moving out of the screen ok. But, then, if you let the popover open, switch to ios home and get back in the app, the docking view is bought back on the popover view. It's like the constraints were refresh. Arg!

so sorry to bother you :) let me know if you can find any solution.
 Again, tha

[2016-05-06 16:29] LeoNatan commented on #67
Oh no :-(
Will look.

[2016-05-07 21:45] snooppok commented on #67
great, thank. Look forward to read you.

[2016-05-08 17:43] LeoNatan commented on #67
@snooppok Please test now. I think I found the error and fixed.

[2016-05-08 17:44] #67 closed

[2016-05-09 06:10] b2github opened #68 "iOS 8 issue, UISplitViewController (LNPopupSupportPrivate)"
Hi,

I want to report that I found an issue on iOS8.
This seem to works fine on iOS9.

I don't know why but on iOS8, in the implementation of UISplitViewController (LNPopupSupportPrivate). The _ln_popup_viewDidLayoutSubviews_SplitViewNastyApple is called even the viewcontroler is not UISplitViewContrller, and the app crash on [self _ln_popup_viewDidLayoutSubviews_SplitViewNastyApple];.

It's look

[2016-05-09 14:27] LeoNatan commented on #68
Damn, they added a method on iOS 9 but didn't on 8. OK, thanks for the report. Will solve soon.

[2016-05-09 14:53] #68 closed

[2016-05-10 08:25] jyounus opened #69 "LNPopupBar label alignment issues"
Hey there,

For some weird reasons, I'm having alignment issues with the text. I've uploaded a screenshot here:

<img src=http://abload.de/img/issuektrru.png />

Here's the code that I'm using:

[code]

The above is just debug code, I'm trying to get this working before I clean it up. Any help would be appreciated.

[2016-05-11 22:02] snooppok commented on #67
Looks great! Thanks a lot!

[2016-05-13 09:19] Urkman commented on #7
If you are interested to support Cocopods...
Just add a file with this name:
LNPopupController.podspec

And add this to the file:
Pod::Spec.new do |s|
  s.name                  = 'LNPopupController'
  s.version               = '1.4.5'
  s.license               = 'MIT'
  s.summary               = 'A framework for presenting view controllers as popups of other view controllers.'
  s.description

[2016-05-14 12:41] Urkman opened #70 "Current visible CildViewController"
How can I get the current visible ChildViewController?

[2016-05-14 18:48] jyounus commented on #69
@LeoNatan I figured out that increasing the title and subtitle to be extra long (so that the text starts animating) causes the labels to be positioned properly. Here's a screenshot:

<img src=http://abload.de/img/simulatorscreenshot141hur5.png />

[code]

Any ideas how to fix this for short text that doesn't need to animate?

[2016-05-14 18:50] LeoNatan commented on #69
Could be a bug with the lib I use for scrolling labels. Haven't had time to investigate yet.

[2016-05-14 18:52] jyounus commented on #69
Okay, I'll fork and try out an updated version of the MarqueeLabel lib and will report back if I have any luck.

[2016-05-14 18:54] LeoNatan commented on #69
Great, thanks. Submit a pull request of it is fixed.

[2016-05-14 19:23] jyounus commented on #69
Unfortunately that didn't fix it. :(

[2016-05-18 07:26] ClapCharts opened #71 "'UIActivityIndicatorView' exception"
Hi,

I'm getting an error that causes the app to crash and it seems to happen only after popupcontroller is created. I use it with AVPlayer to stream mp3 and whenever I initiate my AVplayer, it crashes the app. This happens only on device, not in simulator.

I have tried to run using NSZombie and I get the following message :
"An Objective-C message was sent to a deallocated 'UIActivityIndicatorVi

[2016-05-18 09:38] ClapCharts commented on #71
I have created a sample project that replicates the error :
https://github.com/ClapCharts/TestProject.git

I hope it helps

[2016-05-18 09:40] Urkman opened #72 "Hide close button?"
How can I hide the close button?

I tried it with:
popupContentController.popupContentView.popupCloseButton?.hidden = true

But this is not working :(

[2016-05-18 09:41] Urkman opened #73 "Custom PopupBar"
How can I create a custom PopupBar?
I would like show an image instead of the label...

[2016-05-18 13:13] ClapCharts commented on #72
I've used the following with swift :
`LNPopupCloseButton.appearance().hidden = true`

[2016-05-18 13:31] LeoNatan commented on #70
Use the `popupContentViewController` property on the view controller you presented the popup bar on.

[2016-05-18 13:31] #70 closed

[2016-05-18 13:33] LeoNatan commented on #72
Make sure to call this on the view controller you presented the popup on, not the content controller.

[2016-05-18 13:33] #72 closed

[2016-05-18 13:36] LeoNatan commented on #73
Custom popup bar is not supported and not planned. You can use `NSAttributedString` with an image attachment.

[2016-05-18 13:36] LeoNatan commented on #71
Thanks, will check it out.

[2016-05-18 14:23] ClapCharts opened #74 "PopupView moving under Status Bar"
I have got a new issue that is similar to issues #41 and #52 except that I don't use a navigation controller in my app.

The popup appears correctly on creation, with status bar sitting on top. However, if the UI is updated, the popup moves downward, below the status bar.

I have updated the sample project I did for issue #71 to demonstrate this as well : https://github.com/ClapCharts/TestProject.

[2016-05-18 14:23] LeoNatan commented on #71
Hm, what a mess. It seems to be the status bar progress indicator view that's crashing:

[code]

Investigating...

[2016-05-19 02:55] joshluongo commented on #36
Sorry to bump this again. Is there any new progress on this?
My solution to the problem is bit flaky at best.

[2016-05-19 10:21] LeoNatan commented on #36
I have not had time to tackle this. Feel free to submit pull requests.

[2016-05-23 18:49] BY0X15 opened #75 "Can the cancel a gesture on the entire popupContentView?"
Can the cancel a gesture on the entire popupContentView and add on only a specific component in the popupContentView, eg on imageView.

P.S. To make it clear, I want to implement functionality like Apple Music, gesture working only on track cover.

[2016-05-24 21:51] LeoNatan commented on #75
Did you read documentation?

[code]

[2016-05-24 21:51] #75 closed

[2016-05-26 18:47] robinsenior commented on #71
Hey, I'm seeing the same crash in an unrelated project. Similar to you, I see it when using AVPlayer. I also found this StackOverflow question with a similar problem: http://stackoverflow.com/questions/37284036/an-objective-c-message-was-sent-to-a-deallocated-uiactivityindicatorview-objec

I'm assuming it's an iOS bug; would you mind filing a radar with your sample project?

I'm still seeing some

[2016-05-27 06:44] ClapCharts commented on #71
Hi Robinsenior,

Actually, I'm the author of this question on Stackoverflow (I need to update it :/ Doing it now!) and I spent some time looking for similar issues on google but didn't find anything.

[2016-05-27 13:21] robinsenior commented on #71
Ha, I've created a retain cycle between GitHub and StackOverflow. I'll ask on the Apple dev forums to see if anyone has any ideas.

[2016-05-27 13:50] dral3x opened #76 "Inappropriate debug text"
https://github.com/LeoNatan/LNPopupController/blob/master/LNPopupController/LNPopupController/Private/LNPopupBar.m#L82

Users with VoiceOver on could take it not well.

[2016-05-27 13:51] LeoNatan commented on #76
Oh no! It was for my testing and has slipped through. Apologies. Will remove later today.

[2016-05-28 22:30] #76 closed

[2016-05-28 22:33] LeoNatan commented on #71
This must be an OS framework bug, as this kind of over release of status bar items should not occur. Not sure how to proceed. Will leave open for now.

[2016-05-30 08:27] ClapCharts commented on #71
Bad news :/  Thanks for looking anyway. Do you think it is possible that this bug is linked to issue #74?

@robinsenior : are you having this using avPlayer as well?

If there is no quick solution to this, do you know a good alternative player to stream mp3?

Regards

[2016-05-30 13:21] robinsenior commented on #71
I was using AVPlayer, but I still get the crash even after removing it. The weird thing is, it crashes long after my "problematic" view controller has been removed. Something makes me thing this is a view controller containment issue that is upsetting UIKit. I'll keep investigating today.

[2016-05-30 14:04] tin612 opened #77 "MPNowPlayingInfoCenter not working properly"
My app use your library but i can't show MPNowPlayingInfoCenter to lock screen in my app. In other view controllers i can add but in your controller i can't show it

[2016-05-30 14:05] LeoNatan commented on #77
I am not familiar with this. What is it? What do you mean "can't"?

[2016-05-30 14:07] tin612 commented on #77
I use your library to implement my player view. But when i try to add info of a song to a lock screen, the info is not show at all.

[2016-05-30 14:09] LeoNatan commented on #77
I don't see how this is related to the framework.

[2016-05-30 14:10] tin612 commented on #77
Okay let me check it again

[2016-05-30 14:21] tin612 commented on #77
i checked it but i can't add the info to the controller use your framework.
i add info on viewdidload
![image](https://cloud.githubusercontent.com/assets/13097339/15651842/3e3827e8-26ac-11e6-9d74-b8b822b52b2c.png)
and then i check again in control center of ios. it show nothing
![simulator screen shot may 30 2016 9 20 25 pm](https://cloud.githubusercontent.com/assets/13097339/15651863/6467f89e-26a

[2016-05-30 15:50] LeoNatan commented on #77
Put a breakpoint in there and see if that method is called. You may be doing something wrong.

[2016-05-31 19:47] #77 closed

[2016-05-31 22:16] darrenclark commented on #71
@ClapCharts I was looking into the same issue as @robinsenior and I discovered something interesting in your test project.  Specifically this line: https://github.com/ClapCharts/TestProject/blob/master/LNPopUpControllerAVPlayer/PlayerViewController.swift#L32

If you remove this line it fixes your crash.  (I don't believe it is safe to use `hidden` with `UIAppearance` because it is not marked as `U

[2016-06-01 10:36] ClapCharts commented on #71
Great find, it works indeed, thank you!

@LeoNatan : is there a proper way to hide the default close button with Swift?

[2016-06-02 22:08] colinmorelli commented on #72
I had the same issue as @Urkman when I used the code posted int he original question and didn't want to use UIAppearance to remove it. So, for anyone else who may be struggling with this problem, the solution is simple:

`self.popupContentView.popupCloseButton?.hidden = true`

In the view controller that presented the popup. Note the lack of the additional `popupContentViewController` in the origi

[2016-06-02 23:30] LeoNatan commented on #72
@colinmorelli Are you that worries about iPhone 5? How many of those (along with 4S) are you seeing among your users? Another option is to expose the effects view of the button so you can hide/disable specifically that, but I don't like that option.

[2016-06-02 23:34] colinmorelli commented on #72
Fair point - it may not be worth doing anything about. The reason I originally started looking into it is because I was testing on an older iPhone 5 (just for the smaller screen size), and was particularly curious about how fast the performance difference was when opening the popup on two different VCs of the same app. So, it's not so much that I was worried about the iPhone 5 as it was that the i

[2016-06-02 23:35] LeoNatan commented on #71
@ClapCharts Yes, hide it for the specific popup content container controller before presenting.

[2016-06-02 23:35] #71 closed

[2016-06-03 00:01] LeoNatan commented on #72
I disagree about the effect; the button shines the background color. I am reluctant to make a change on this. 😄
You can always add a custom button to your UI, instead of the framework provided one.

[2016-06-09 11:44] MikeDyna opened #80 "dismissPopupBarAnimated not working"
Hi,

first of all thx for this great implementation. It all works really nicely, except for the dismiss function.

I´m calling it from a button in:

[code]

this calls:

[code]

but the PopupBar doesn´t dismiss.

Any ideas?

[2016-06-09 12:24] MikeDyna commented on #80
I found the solution, so i´m gonna leave it here for anyone struggling with the same problem.

[code]

[2016-06-09 12:25] #80 closed

[2016-06-23 13:08] hirengohel opened #81 "I cannot add swipe gesture"
i want to change song using swipe gesture but i cannot do that.

[2016-06-24 22:43] neekeetab opened #82 "Popup bar overlays the last cell in tableView"
I have a table view controller embedded in navigation controller. Then i present content view controller on navigation controller. Everything works fine except i can't get popup bar not to overlay the last cell. I've tried the code from example project:
[code]
But it doesn't work because bottomLayoutGuide.length is zero all the time. (in example project it's not)
I've also tried to set contentInse

[2016-06-24 23:01] #82 closed

[2016-06-24 23:02] neekeetab commented on #82
just another xcode bug. Reopening solved my problem

[2016-06-25 22:12] neekeetab opened #83 "Content controller is displaying under the navigation bar"
Hi! I've got similar issue to #55. To replay it, first tap search bar, then close it and try to open content controller.
Demo: https://github.com/neekeetab/PopupTest
Thanks!

[2016-06-25 22:43] neekeetab commented on #83
Solved it by bringing popupContentView to front:
`self.navigationController!.view.bringSubviewToFront(self.navigationController!.popupContentView)`

[2016-06-27 17:06] LeoNatan commented on #81
I don't understand what you are trying to do, so how can I help? State your problem more clearly.

[2016-06-27 17:07] LeoNatan commented on #83
This might be an issue with the framework. I'll keep open for now, until I can test.

[2016-06-27 20:49] macecchi opened #84 "Update popup bar labels without without rebuilding the whole view"
I noticed that updating the title or the subtitle of the popup bar makes a call to `[LNPopupBar _layoutTitles]`. This might be unnecessary sometimes and has become an issue with my app.

I'm using the popup bar to display a timer that, along with the progress bar, displays the remaining time in the title (e.g.: Remaining: 00:01:59).The title is updated every second with the new remaining time, and

[2016-06-30 10:30] NuelNikhil opened #85 "Setting Popup bar on top of screen"
is it possible to set popup bar on top of the screen ? So the user can swipe down an reveal the view controller.

[2016-07-06 19:39] rajatk commented on #81
I think OP is asking about using Swipe to change tracks from the popup bar. Spotify allows this. I was curious about this too.

[2016-07-06 19:41] rajatk opened #86 "Possible to show buffered on popup item progress bar?"
In addition to showing progress I also want to show buffered region on this popup bar. Is that currently possible? I don't think the bar is currently exposed.

[2016-07-13 02:04] rajatk opened #87 "Popup bar slips partly under tab bar, when in call status bar is present"
I can't consistently repro this issue, since it has to do with some order of operations about call status bar appearing and then collapsing full screen controller, but you should atleast be able to see broken constraint warnings when you launch the popup bar and simulate call bar (CMD + Y) in simulator.

[code]

[2016-07-24 18:49] He1nr1chK opened #88 "Possibility of avoiding contentView deinit"
Is there a way to avoid the deinit of the contentView when dismissing the popup?

[2016-07-26 13:29] samkhawse opened #89 "Resize Close button"
Is there a way to resize the close button? I can see that there's a method in LNPopupCloseButton called sizeThatFits() that modifies the Button size, but it's private. It would be great if we can customize the button.

[2016-07-26 16:19] LeoNatan commented on #89
The button is provided as is, with the stock appearance. You can disable it and put any custom button you'd like.

[2016-07-26 16:19] #89 closed

[2016-07-26 16:19] LeoNatan commented on #88
I don't understand what the issue is here.

[2016-07-26 16:21] LeoNatan commented on #87
Hmm. Interesting. Thanks for the report, will take a look.

[2016-07-26 16:25] LeoNatan commented on #86
The popup bar is exposed through `@property (nullable, nonatomic, strong, readonly) LNPopupBar* popupBar;`, however modifying the bar is not supported. I plan to make changes to bring iOS 10 look and feel support, but layout will remain internal.

[2016-07-26 16:25] #86 closed

[2016-07-26 16:26] rajatk commented on #86
thank you @LeoNatan

[2016-07-26 16:26] LeoNatan commented on #85
This is not supported currently, and would be a lot of work to get it to work. Not planned for now.

[2016-07-26 16:26] #85 closed

[2016-07-26 16:33] LeoNatan commented on #84
Hmm, this is an interesting issue.

The reason they are updated together in `_layoutTitles` is to cause the marquees to start animating together, which is the desired behavior in cases different than yours. I agree that this is not good for you.

The question is, how to introduce an API to allow you to override this for your usecase. I will have to think about it. For now, fork the project, and ch

[2016-07-26 16:38] LeoNatan commented on #81
The popup bar is exposed, so you can add additional swipe gesture recognizers. However, do this with care, as there are other gesture recognizers active on the bar. So you have to use the delegate methods to ensure other gesture recognizers are not affected by yours.

[2016-07-26 16:38] #81 closed

[2016-07-26 17:01] macecchi commented on #84
Thanks for your reply! I agree with you that this should be a specific case.

I'll do as you suggested and work on this in my own fork. Maybe I'll have an idea of how to introduce this too :)

[2016-07-28 10:50] Kastet opened #90 "State inconsistency when using dismissPopupBarAnimated"
In `- (void)dismissPopupBarAnimated:(BOOL)animated completion:(void(^)())completionBlock` inside `void (^dismissalAnimationCompletionBlock)()` before performing animated hiding             `_popupControllerState` should be set to `LNPopupPresentationStateTransitioning` otherwise it ends up in state inconsistency - the animations is sill going on but `popupControllerState` property is set to `LNPop

[2016-08-01 10:35] #88 closed

[2016-08-01 10:42] LeoNatan opened #91 "Add support for iOS 10 style popup bar look, presentation and behavior"
Since the popup bar look, presentation and behavior have changed dramatically, I plan to make changes to the library to **add** support to the library. Developer will have the option to choose between iOS 9 & 10 look, presentation and behavior.

Suggestions are welcome.

---

Status:
- [x] Add 3D Touch Support - #93
- [x] Implement iOS 10 Popup Bar Look & Interaction Style - #95
- [x] Implement iO

[2016-08-04 11:08] jahnsrud commented on #91
👍

[2016-08-04 15:32] mikesimonetta opened #92 "Cannot get to editing mode of UITableViewCell when UITableView in LNPopupController"
I have a UITableView within my LNPopupController. For whatever reason (I assume the popup controller is consuming the swipe gesture), I cannot slide to enter editing mode for an individual cell. Do we have a fix for this or can one be provided?

[2016-08-05 12:43] LeoNatan commented on #92
I'll take a look.

[2016-08-05 17:32] LeoNatan commented on #36
@KevinVitale @joshluongo
Implemented! Pull your scrollview based views (inc. tables views and collection views) to dismiss. Note, that you must have the content controller's view be a scrollview based, so use `UITableViewController`, `UICollectionViewController`, etc.

[2016-08-05 17:32] #36 closed

[2016-08-05 17:32] #92 closed

[2016-08-05 17:33] LeoNatan commented on #92
Fixed.

[2016-08-05 17:33] mikesimonetta commented on #92
@LeoNatan do i need to pull updated repo in for the fix i assume?

[2016-08-05 17:34] LeoNatan opened #93 "Add 3D Touch Support"
In iOS 10, Apple's popup bar can be pressed to display a 3D Touch menu. Will be implementing this as part of #91.

[2016-08-05 17:46] LeoNatan commented on #92
Yes. If you are using Carthage, I have not yet created a tag. I will do that as soon as I feel comfortable with iOS 10 look and feel.

[2016-08-05 17:51] mikesimonetta commented on #92
New issue once I pulled in updated project..

“Cannot find protocol declaration for ‘CAAnimationDelegate’ in __MarqueeLabel.m”

Regards,

Michael Simonetta
Mobile Developer

CHAT 647 361 8401 x139
WRITE michaels@clearbridgemobile.com <http://clearbridgemobile.com/>
SURF clearbridgemobile.com <http://clearbridgemobile.com/>

CONFIDENTIALITY NOTICE: The e-mail transmission and any documents, file or

[2016-08-05 17:54] mikesimonetta commented on #92
@LeoNatan  New issue once I pulled in updated project..

“Cannot find protocol declaration for ‘CAAnimationDelegate’ in __MarqueeLabel.m”

[2016-08-05 18:00] LeoNatan commented on #92
Ahh
I used Xcode 8 to work on the project, and I guess that symbol is only defined in iOS 10 SDK. Without it, there is a warning in Xcode 8. I'll wrap it in `#ifdef` later.

[2016-08-06 11:13] glennposadas opened #94 "How To Customize Popupbar using IB?"
Hello, I've been trying to make a custom view as the popupbar of my app. Any tutorials or wiki for this? Thanks!

[2016-08-06 11:14] LeoNatan commented on #94
You cannot customize it using IB. You need to use code, as described in the README.

[2016-08-06 11:14] #94 closed

[2016-08-06 11:24] glennposadas commented on #94
Hi, that was fast. Thanks so much for the reply. If I do have a question, is it fine if I open a new ticket or just reply to this thread or should I email you? I actually got another question, any idea how to convert this into Swift?
I used to code in objective-c and now in swift, but I still don’t know how to convert this one:

[[LNPopupBar appearanceWhenContainedInInstancesOfClasses:@[[UINavigat

[2016-08-06 11:25] LeoNatan commented on #94
This is very basic stuff.

http://stackoverflow.com/questions/24136874/appearancewhencontainedin-in-swift

[2016-08-06 11:33] glennposadas commented on #94
alright, thanks a lot again! Yea basic indeed, I forgot that kind of syntax.
G

[2016-08-06 11:55] glennposadas commented on #94
Hi Leo, sorry for the continuous annoying questions, but how can I setup a new height for my popupbar? I think if I can change the popupbar’s height, then this will be my last question. I’ll try to search your LNPopupController on Stackoverflow to see if someone asked the same question. Thanks!

G

[2016-08-06 12:21] LeoNatan commented on #94
Sorry, this is not supported. The popup bar height is constant.

[2016-08-06 20:11] #90 closed

[2016-08-06 20:11] #93 closed

[2016-08-06 20:12] LeoNatan commented on #92
@mikesimonetta Fixed. Should compile now with Xcode 7.x

[2016-08-06 20:17] LeoNatan commented on #87
Hi,

I cannot reproduce this. The popup controller behaves correctly with the call-sized status bar.
Also note that I do not use auto-layout in the framework other than a single view. This may be an issue with your code / setup.

Please provide a sample project where this reproduces.

[2016-08-06 20:25] LeoNatan opened #95 "Implement iOS 10 Popup Bar Look & Interaction Style"
The iOS 10 popup bar looks somewhat different. It has a different background translucency (not a standard bar translucency), it is higher, it has a dedicated artwork image view and buttons only appear on the right.

Interaction with the popup bar has changed as well. No longer is the popup bar dragged up and down; it opens after a slight pan gesture.

I plan to make these changes developer-selecta

[2016-08-06 20:28] LeoNatan opened #96 "Implement iOS 10 Popup Content View Look & Interaction Styles"
The popup content view has changed with iOS 10. Gone is the close button; instead there is a chevron at the middle of the content view. Interaction is also different. When panning the popup content view down, it has a springy feel and dismisses automatically if a threshold is passed.

I plan to make these changes developer-selectable, with iOS 9 and iOS 10 getting defaults to fit the respective sy

[2016-08-07 05:58] glennposadas commented on #94
Hi Leo,

I actually made a way, I hope you don’t mind if I modified the constant height of the popup bar from 40.0 to the height I need: 64.0.

Anyway, is it possible to make this PopupController to be ALWAYS ON TOP OF EVERY SCREENS in my app? [http://stackoverflow.com/questions/38811311/how-to-always-show-a-viewcontroller-even-when-navigating-screens-in-ios <http://stackoverflow.com/questions/388

[2016-08-09 09:51] shilei365 commented on #69
How can I change the background color of Popbar in Swift?  I wrote with `self.popupBar?.barTintColor = UIColor.blueColor()`
but `self.popupBar` is always nil.

I tried with
`LNPopupBar.appearance().backgroundColor = UIColor.blueColor()`
still doesn't work.

[2016-08-09 10:22] LeoNatan commented on #69
@shilei365 The popup bar is nil because it is only created during presentation. It is best to use Appearance API:

`LNPopupBar.appearance().barTintColor = UIColor.blueColor()`

[2016-08-09 11:28] shilei365 commented on #69
@LeoNatan  It works! Thx a lot :)
other 2 qestions:
1: How can I set the height of PopupBar?
2, How can I disable presenting of the popupContentView? It means, the PopupViewController doesn't show after I've clicked on the popupbar?

[2016-08-10 12:44] LeoNatan commented on #69
Height is constant.
I don't understand 2.

[2016-08-10 12:45] LeoNatan commented on #69
Also, please don't hijack this issue. Check closed issues for your questions - they have all been answered before.

[2016-08-12 03:33] glennposadas opened #97 "Is there a way to check if the popupcontroller is already being presented?"
I got a music player embedded inside that popupcontroller, and my issue is that whenever I call the **presentPopupBarWithContentViewController**, my music player adds another instance, so there are multiple songs being played. Thanks!

- right now, I can check if the popupbar is existing by having a boolean variable in my singleton class.

[2016-08-15 15:07] LeoNatan commented on #97
You can check the `popupPresentationState` property on the popup container controller.

[2016-08-15 15:07] #97 closed

[2016-08-19 23:13] Matiaz opened #98 "I'm getting 'Please adopt the iOS 9 API' when running the code"
`Sending -viewForBaselineLayout to a member of __MarqueeLabel in lieu of -viewForLastBaselineLayout. Please adopt the iOS 9 API.`

Basically I'm using the latest version of the code and running the code on iOS9, do you know if this is a bug or how to solve that ? Thanks

[2016-08-19 23:37] LeoNatan commented on #98
Hmm, I am not familiar with the issue. I see that `-viewForBaselineLayout` is deprecated in SDK9. Did you modify the target of the framework to be SDK 9 and above? I'll see what I can do when I have time.

[2016-08-19 23:45] Matiaz commented on #98
No I haven't, I'm gonna continue investigating that... I'm also having a hard time trying to solve a problem with the content view, the LNPopupBar sits on top of my content, I don't know how to update the content view so it doesn't get hidden behind the bar...

I'm trying to imitate what you did here with the "correct bottom layout guide"

<img width="672" alt="screen shot 2016-08-19 at 5 44 44 pm

[2016-08-19 23:51] LeoNatan commented on #98
Set up a constraint between the bottom of your view and the bottom layout guide of the controller. If you are not using constraints, you should update your view hierarchy in `-viewDidLayoutSubviews` in the controller, taking into account the controller's `bottomLayoutGuide`. This is true for iOS in general; my framework just makes sure to update the layout guide correctly so that layout is correct

[2016-09-05 09:52] technicalflaw opened #99 "Opening pan gesture recogniser doesn't function correctly."
I'm having trouble making the initial pan gesture recogniser function. In the example project it is possible to drag the popup bar to open it, but with the current version the pan gesture is handled as a tap would be.

Upon further investigation it seems the version used in the example is different (presumably older). As far as I can see the issue is in `LNPopupController::_transitionToState`, whe

[2016-09-05 20:31] LeoNatan commented on #99
Thanks for your kind works and bug report.

Errm, must have gone wrong in one of my last commits. I will take a look. I also started work on #91 in a different branch, but may take a look to fix this before continuing there.

[2016-09-07 07:03] atulvuliv opened #100 "iOS 8 Crash registerForPreviewingWithDelegate:sourceView: unrecognized selector"
Getting error:

`[TATabBarController registerForPreviewingWithDelegate:sourceView:]: unrecognized selector sent to instance
`
when trying to run the project on iOS8 device. Working fine on iOS9.

[2016-09-07 13:26] atulvuliv opened #101 "presentPopupBarWithContentViewController with hidesBottomBarWhenPushed"
Hi,

I am trying to present PopUpBar on a UITabBarController whose tab bar is hidden using hidesBottomBarWhenPushed by one of the view controllers while pushing in navigation heirarchy.

It results in a floating PopUpBar over the tab bar which is hidden. Is there any workaround for this? Or am I doing it the wrong way?

Adding a screenshot for reference:

![music_player](https://cloud.githubuserco

[2016-09-08 11:20] LeoNatan commented on #101
As explicitly stated in the readme, this is not supported.

**Opening the popup while it is hidden due to hidesBottomBarWhenPushed is not supported and may produce undefined behavior.**

[2016-09-08 11:20] #101 closed

[2016-09-08 14:04] LeoNatan commented on #100
Oh no!
Well, I'll be considering if iOS 8 is worth the effort, with iOS 10 already out. How long do you anticipate to have iOS 8 support?

[2016-09-15 00:12] anasqadrei opened #102 "Customisation example in Swift"
Hey, Love your work but I am a Swift programmer and struggled to convert the customization code from Objective-C to Swift. In the example project, could you please add a customization sample code in Swift?

[2016-09-15 13:31] LeoNatan commented on #102
Hi,

I do not plan to make changes in the demo project, but here is some help in Swift 3:

[code]

I wrote this blindly, so pardon some typos, if any.

[2016-09-15 13:31] #102 closed

[2016-09-16 00:19] anasqadrei commented on #102
This thing worked with me in Swift 2.2
[code]

[2016-09-16 08:50] #100 closed

[2016-09-18 13:22] matuslittva opened #103 "closePopupAnimated need help"
My custom close Button inside of my content class is not working what am I doing wrong? I call   popupPresentationContainerViewController?.dismissPopupBarAnimated(true, completion: nil) but nothing happens.

[2016-09-22 19:45] quetool opened #104 "Change progressbar color and only the progressbar"
Like the title says, is it possible to change ONLY the progressBar color or it is implicit in

[code]

[2016-09-22 22:09] LeoNatan commented on #104
Try

[code]

[2016-09-22 22:09] #104 closed

[2016-10-07 03:43] Kastet commented on #27
@MosheBerman would you please explain how exactly to implement `willTransitionToTraitCollection:withTransitionCoordinator:`. `UIPopoverPresentationController` is adaptive by it's nature so I don't really get how you possible can solve it implementing the above method.

[2016-10-09 07:57] AnasMostefaoui commented on #99
Hello,

I was facing same issue, I'm using the library with Swift 3 and iOS 9.0 with xCode 8.
The pan gesture was not working at all, after some quick investigation, I found that the issue was in **LNPopupController.m** file , on this method :

`- (void)_transitionToState:(LNPopupPresentationState)state animated:(BOOL)animated completion:(void(^)())completion userOriginatedTransition:(BOOL)userOri

[2016-10-09 14:05] LeoNatan commented on #99
@AnasMostefaoui @technicalflaw Can you guys test branch 2.0 to see if it reproduces there?

[2016-10-09 14:46] technicalflaw commented on #99
I'm not at Xcode so I can't check branch 2_0, but the [commit](https://github.com/LeoNatan/LNPopupController/commit/39fd875ebc6fabd52c0a95c4b06f027b5201153c) for Fix #90 on Aug 6 definitely worked for me.

[2016-10-10 07:40] Kleemann opened #105 "CALayerInvalidGeometry when dismissing PopupBar"
Hi.

I am getting an crash periodically when dismissing the popupBar. It seems the CALayer position contains NaN it its y-position when repositioning the popupBar in `- (void)_repositionPopupContent.`

Stack trace:

[code]

It seems to only happen on iOS 9 and 10. But dont know for sure, since not many of our users is on iOS 8.

Let me know if you need anything.

[2016-10-10 08:21] LeoNatan commented on #105
Not sure I understand. Is this an issue that occurs on iOS 8? I have not seen it on 9 or 10, but I have not tested enough on 8. As time goes on, 8 has become non-priority for me.

[2016-10-10 08:26] Kleemann commented on #105
Sorry about the wording. My bugreporting tool only has occurences of this error on iOS 9 and 10. But that may be because we dont have many users on iOS 8. So for now there is no occurences on iOS 8. Thought that might help you on finding the problem.
I will let you know see any on iOS 8

[2016-10-10 08:29] LeoNatan commented on #105
Ah, OK, thanks. I will investigate.

[2016-10-12 10:21] #103 closed

[2016-10-17 18:52] chauhan130 opened #106 "Support custom controls in Popup Bar"
I really like this controloller and it will be even great if you allow to add custom controls in popup bar itself.

[2016-10-19 12:02] AnasMostefaoui commented on #99
I just try the 2.0 version, and the issue is fixed, thanks a lot.

[2016-10-19 12:08] LeoNatan commented on #99
Interesting. Well, branch 2_0 is not stable yet, but I should take a look what changed and cherry pick it. I have been very busy lately, but will do it eventually.

[2016-10-19 12:15] AnasMostefaoui commented on #99
When I tried to use it on a swift 3.0 project targeting iOS >= 9.0, i got the same issue than this one #105 but in my case its on presentPopupBar method, I will try to find what's happening and will let you know

[2016-10-19 12:22] LeoNatan commented on #106
This has come up several times. The problem right now is, the framework makes assumptions about the view hierarchy it expects, and that hierarchy is updated using the popup item. The idea was to have a similar developer experience as `UINavigationBar` and `UINavigationItem`. I am not sure how to open this to developers properly, with all the assumptions the framework makes, but API-wise as well as

[2016-10-19 12:23] LeoNatan commented on #99
Great, thank you! @AnasMostefaoui

[2016-10-19 12:25] AnasMostefaoui commented on #105
Following the execution of the code, I found that there is a diveded by zero issue here (LNPopupController.m , line 218):

`	CGFloat screenScale = _containerController.view.window.screen.scale;
	CGFloat fractionalHeight = relativeViewForContentView.frame.origin.y - (_popupBar.frame.origin.y + _popupBar.frame.size.height);
	contentFrame.size.height = ceil(fractionalHeight * screenScale) / screenSca

[2016-10-19 12:28] AnasMostefaoui commented on #99
@LeoNatan  welcom, you can check my workaround for #105
Thank you for this great library 👍

[2016-10-19 12:28] LeoNatan commented on #105
I am guessing `_containerController.view.window` is nil? How are you presenting the controller, and where are you dismissing it? Are you dismissing when the presenting controller's view and popup bar are not displayed?

[2016-10-19 12:31] AnasMostefaoui commented on #105
Yes window property is nil
The project is a sample, here is what I'm doing in a tabbar :

`    override func viewDidLoad() {
        super.viewDidLoad()

        let vc = self.storyboard?.instantiateViewController(withIdentifier: "yo")
        self.presentPopupBar(withContentViewController: vc!, animated: true, completion: nil)

        // Do any additional setup after loading the view.
    }`

[2016-10-19 12:34] LeoNatan commented on #105
This is the issue. In `viewDidLoad`, the view is not part of the view hierarchy. Not sure I want to support this. Have to investigate what the implications are. As a workaround, move your code to `viewDidAppear`.

@Kleemann Can you comment if you are doing something similar? Thanks

[2016-10-19 12:42] AnasMostefaoui commented on #105
The workaround fix it, I compared 1.4.1(where my previous code was working) with 2.0, and the issue came from the scaling code
are there any reason why you don't use the main screen scale ?

[2016-10-19 12:45] LeoNatan commented on #105
iOS is able to support multiple screens, and there can be different scales on different screens. I will think about this problem, but I need to reproduce it when I have time.

[2016-10-19 13:11] Kleemann commented on #105
My code is not in the viewDidLoad, but triggered from a from tableView:didSelectRowAtIndexPath:.

[code]
The navCon.view.window and player.view.window properties is nil before presenting

I am dismissing it with a delegate callback
`self.navigationController?.dismissPopupBarAnimated(true, completion: nil)`

[2016-10-19 15:12] LeoNatan commented on #105
Added a proposed fix in V2_0. Please test.

[2016-10-19 15:13] LeoNatan commented on #98
@Matiaz Added a proposed fix in 2_0 branch. Please test.

[2016-10-21 08:40] Kleemann commented on #105
@LeoNatan Will do. I have a scheduled release monday.  Then i will keep an eye out is it appears in my bug reporting tool again.  I can't reproduce it myself.
Will keep you updated.

[2016-10-23 22:31] #87 closed

[2016-10-23 22:36] LeoNatan commented on #74
@ClapCharts Can you see if this issue reproduces for you with branch 2_0?

[2016-10-23 23:12] LeoNatan commented on #84
@macecchi Well finally it came! 😄 In branch 2_0, there is now [`coordinateMarqueeScroll`](https://github.com/LeoNatan/LNPopupController/blob/v2_0/LNPopupController/LNPopupController/LNPopupBar.h#L69) on `LNPopupBar` which you can change to `NO` and that will no longer trigger a full layout pass on the labels. So if you update either the title or subtitle, the other one will remain scrolling.

[2016-10-23 23:12] #84 closed

[2016-10-23 23:12] #98 closed

[2016-10-23 23:13] #99 closed

[2016-10-23 23:13] #105 closed

[2016-10-23 23:13] macecchi commented on #84
@LeoNatan That's awesome! I'll try it out! Thanks!

[2016-10-24 09:35] ClapCharts commented on #74
Yes. However, I've noticed that it happens it I set a vertical constraint to top layout guide for the image but it works fine if I set a vertical constraint to bottom layout.

[2016-10-24 11:28] LeoNatan commented on #74
How are you setting constraints. Could be that constraints are pulling the popup content view down. Could you post a screenshot?

[2016-10-24 12:13] ClapCharts commented on #74
<img width="744" alt="capture d ecran 2016-10-24 a 14 07 17" src="https://cloud.githubusercontent.com/assets/16122434/19645086/4a424a54-99f3-11e6-8a86-b13a32c6f586.png">

Here you go.
Happy to help if I can as your player is great. However, as I was saying in my previous comment, I found an alternative way to make it work in my project and, also, I am not a professional developper and it's possibl

[2016-10-26 19:10] LeoNatan commented on #74
Thanks for your effort. Since I am unable to reproduce, I am not sure how to tackle this problem. I will keep this issue open for now, let's see if more people are facing it. If you've found a workaround that works for you, that's great.

[2016-10-26 21:52] mmoloksher commented on #106
I second this feature request... It would be awesome to pass down a custom view controller acting as pop up bar

[2016-10-28 13:42] LeoNatan commented on #106
It is out of scope for the 2.0 milestone, but will think about it for a future milestone.

[2016-10-30 03:29] MaxHasADHD opened #107 "Labels are layed out incorrectly when there are no buttons in 2.0 branch"
Is there any reason you are not using Autolayout with LNPopupBar? I'm finding the layout not working well. So far I have set a image and a title and subtitle, and the titles were off to the side. I fixed by making the value absolute but the width is pretty small. I think by having 3 views, the left view, right view, and titles center view, then the titles could stretch between the left and right v

[2016-10-30 21:28] MaxHasADHD commented on #101
@LeoNatan Any reason for this? Is there no way to check if it is hidden or net yet?
@atulvuliv What did you do to fix this?

A user action from the pushed view should present it, but not in the view.

[2016-10-30 23:35] LeoNatan commented on #101
When the bottom bar is hidden, there are issues with how to layout the popup bar. This is explicitly not supported because there are issues.

[2016-10-30 23:38] LeoNatan commented on #107
I am sorry, I have no idea what you just said. Post a screenshot of where you are seeing an issue. If you are using 2.0 branch, notice that the entire layout has changed, and labels are now aligned to the left, and there is no marquee scroll by default. What has autolayout to do with anything here?

[2016-10-30 23:39] LeoNatan commented on #101
To fix, do not present a popup bar on a navigation controller or a tab bar controller with a hidden bottom bar. It's that simple. If your current controller hides the bottom bar, present it on your current controller directly.

[2016-10-30 23:48] MaxHasADHD commented on #107
I set the image, title, and subtitle and this is how it naturally lays out with the 2.0 branch. I am not setting a right view which appears to the the issue with the layout. I'm asking why you aren't using Auto-layout because the layout isn't particularly hard and can be easily set with constraints instead of figuring out all of the insets and center for everything. Would likely be less code.

![s

[2016-10-30 23:51] LeoNatan commented on #107
I will test. I cannot use AutoLayout here because have to have precise control over frames. I will take a look at this issue. Thanks for checking out 2.0 branch and reporting!

[2016-10-30 23:54] MaxHasADHD commented on #101
@LeoNatan it wouldn't make sense to display a popup for a controller that I'm already in. The solution I came up with is detecting if the root view is being viewed or not, then present it, and check in `viewWillAppear` if I need to display it. The issue with this is I have to copy that same code now into every possible view in the tab bar because it can show up in any of the tabs, and dismisses wh

[2016-10-30 23:54] LeoNatan commented on #107
For now, I suggest using the stable branch. 2.0 is work in progress as you can see.

[2016-11-02 09:56] Kleemann commented on #105
The bug has not occurred again. Seems to be fixed. :thumbsup:

[2016-11-02 10:20] LeoNatan commented on #105
Fantastic, thank you!

[2016-11-04 03:34] yarodevuci opened #108 "Branch 2.0 Demo is not working..."
unrecognized selector sent to instance

[2016-11-04 16:36] LeoNatan commented on #108
Need more details, please. What OS, what selector, etc.
For instance, iOS 8 is not a priority for branch 2.0. If you need that, please specify explicitly.

[2016-11-04 17:12] LeoNatan commented on #107
Fixed this issue in 2.0 branch. Please confirm.

[2016-11-04 17:12] #107 closed

[2016-11-04 17:13] LeoNatan commented on #107
BTW, cool app! Always nice to see success stories. What app is it? Is it out on the store already?

[2016-11-06 17:49] LeoNatan commented on #95
Implemented.

[2016-11-06 17:49] #95 closed

[2016-11-06 17:53] LeoNatan commented on #108
@yarodevuci ?

[2016-11-06 19:33] yarodevuci commented on #108
Tried on iOS 8. That's why

[2016-11-06 19:34] LeoNatan commented on #108
Please try now. I made some changes.

[2016-11-06 21:18] yarodevuci commented on #108
Works now! I wish you could change pause button on mini player next to "Next" Button and having album pic on the left like I have in my app https://github.com/yarodevuci/VKMusic
For now I cannot use your code :(
But it is the best so far what I found

[2016-11-06 21:20] LeoNatan commented on #108
That's exactly how it is in 2.0 branch.

[2016-11-06 21:26] yarodevuci commented on #108
![simulator screen shot nov 6 2016 1 26 05 pm](https://cloud.githubusercontent.com/assets/13408859/20041872/a25b5312-a424-11e6-833d-044f8735346f.png)

I only see the pause button on the left

[2016-11-06 21:41] LeoNatan commented on #108
I am sorry, I should make it clear. Right now, on iOS 10 and above, you will have the new bar and on iOS 9.0 and below, you will have the older behavior. This will be customizable, and you will be able to make it look like the new bar for all systems. Customization is not yet supported, so for now, I suggest you try on iOS 10 simulator and/or device.

[2016-11-06 21:42] LeoNatan commented on #108
Regarding your iOS 8 use, I am not sure I want to continue support. iOS 8 has very low remaining usage, with iOS 10 already being at 60% and iOS 9 30%. iOS 8 has already made me do some things in a "strange way". I am not sure I want that. Please consider moving your target to iOS 9 and above.

[2016-11-06 21:46] yarodevuci commented on #108
Sure, you are right.. Thanks for quick support

[2016-11-06 21:49] #108 closed

[2016-11-07 00:32] yarodevuci commented on #106
Why API is locked ?

[2016-11-07 00:56] LeoNatan commented on #106
What do you mean "locked"?

[2016-11-07 00:57] yarodevuci opened #109 "How to add action to UIBarButton item?"
I tried
 let pause = UIBarButtonItem(image: UIImage(named: "pause"), style: .plain, target: nil, action: #selector((pauseButtonPressed)))
Did not work... iOS 9

[2016-11-07 00:58] yarodevuci commented on #106
I mean that I only see the headers of the library but I don't see how you implementing everything

[2016-11-07 01:00] LeoNatan commented on #109
Please see the example project. You create the bar button items, and then have to assign them to either `leftBarButtonItems` or `rightBarButtonItems` of the popup item.

[2016-11-07 01:00] #109 closed

[2016-11-07 01:02] LeoNatan commented on #106
The project is open source. Please do not hijack this issue. If you have problems, please open a new issue.

[2016-11-07 01:03] LeoNatan commented on #109
You set the target to `nil`. Set it to the object you want to receive the action.

[2016-11-07 01:05] yarodevuci commented on #109
Perfect! That is what I missed

[2016-11-07 02:29] yarodevuci opened #110 "Labels are not scrolling on iOS 10.1"
MarqueLabel is not working in iOS10

[2016-11-07 02:41] yarodevuci opened #111 "No blur on popupBar"
![simulator screen shot nov 6 2016 6 43 03 pm](https://cloud.githubusercontent.com/assets/13408859/20044817/e33cd3d4-a450-11e6-9a95-6ae45aab209e.png)
On example everything works fine
I did exact thing from example in my current project. However the popupBar appears to be gray. I can change the background color but that is not what I want. I need it to have blur like in example
Seems like backgroun

[2016-11-07 06:15] LeoNatan commented on #110
This is on purpose. There is a property you can change to enable on iOS 10.
See `LNPopupBar.marqueeScrollEnabled`. Readme is still not updated with this information.

[2016-11-07 06:15] #110 closed

[2016-11-07 09:00] LeoNatan commented on #111
I see your navigation bar is not translucent and have colors. Could you please share how you obtain this look? I would like to investigate. How does the bar look like on iOS 9?

[2016-11-07 09:12] yarodevuci commented on #111
Same problem on IOs 9 and 10.
That is not a navigation bar. That is just a UIView

[2016-11-07 11:59] LeoNatan commented on #111
Where it says "My Music" is a navigation bar.

[2016-11-07 18:52] yarodevuci commented on #111
Nope. Really that is a custom view with a dropdown methods. You can check it out in my project

[2016-11-07 18:54] yarodevuci commented on #111
I had a problems with previous Music Transition pod that didn't work with navigation controller the right way. But i had to delete it because it causes often freezes to UI

[2016-11-07 18:58] LeoNatan commented on #111
Something is strange here. You are using a blue view instead of a navigation bar and a search bar? Why?

I am not saying the issue with the popup bar is related. Just want to understand. Can you put the project on GitHub? I mean, the project with `LNPopupController` integration? I want to debug it right where you see the problem.

[2016-11-07 19:00] yarodevuci commented on #111
Search bar is real search bar not a view. I will create a separate branch and let you know. Thank you for support

[2016-11-07 19:01] LeoNatan commented on #111
Fantastic! Thanks for your willingness to help.

[2016-11-09 13:31] LeoNatan commented on #111
@yarodevuci Hi
Any news?

[2016-11-09 17:29] yarodevuci commented on #111
I am working on different project. However I had to delete your plugin because I need album picture for iOS 8 not just for me but other people requested it too..

[2016-11-10 11:31] LeoNatan commented on #111
You will be able to customize it soon so it is the new look on all OSes.

[2016-11-10 20:18] RajChanchal commented on #9
@LeoNatan But it doesn't hide. tried this:
self.popupContentView.popupCloseButton?.isHidden = true  in the content view's viewDidLoad, `viewWillAppear `and `viewDidLayoutSubviews`

Tried doing the same before calling:
`self.tabBarController?.presentPopupBar(withContentViewController: player, animated: true, completion:nil)`
Note: `player` is the content view controller

The back button appears ver

[2016-11-10 21:09] RajChanchal commented on #9
I had included this lib by cocoapod and it didn't put in the image assets I think. Dragging the source files with xproj file and image asset, did show the close button image fine at last. Please do solve the problem with cocoapods too.

[2016-11-10 22:57] LeoNatan commented on #9
Do not use CocoaPods. It is **not supported**. You are probably using a fork, which is most likely old. Please use the recommended way, Carthage (or git submodule, etc.).

The reason the button is not hidden is because you are presenting the popup on the tab bar, but hide the button for `self`. Hide it for the tab bar.

Again, do not use CocoaPods versions. Use the official repo. If you must, fork

[2016-11-27 20:23] DCDJ commented on #83
Just ran into this too. I can re-create it:

If the popup is presented whilst the navigation bar is still **hidden**, it'll be underneath. So then you have to run this:

self.navigationController!.setNavigationBarHidden(false, animated: false)
self.navigationController!.view.bringSubview(toFront: self.navigationController!.popupContentView)
self.navigationController!.view.bringSubview(toFront: sel

[2016-11-28 00:18] DCDJ commented on #74
Just ran into this issue. Have the same constraints setup as the OP.

It looks like if the content view has a constraint that ties it to the top layout guide (lets say 20px offset from the very top of the view), the popup doesn't seem to take that into account until you either force an interface update/call another controller up which triggers it to recalculate constraints once the view re-appears

[2016-11-28 14:31] LeoNatan commented on #74
@DCDJ I will try to reproduce and find a solution. It seems like an incorrect inset management.

[2016-11-28 15:49] DCDJ commented on #74
@LeoNatan Thank you, really appreciate it

[2016-11-29 09:25] LeoNatan commented on #74
@DCDJ @ClapCharts Fixed in both `master` and `2_0` branches. Please test and let me know if it works.

[2016-11-29 16:22] DCDJ commented on #74
@LeoNatan Didn't seem to fix the issue. However - my top "bar" isn't actually a UINavigationBar, it is just a UIView that looks like a nav bar (I'm using a TabBarController so adding a UINavigationBar to the top felt a bit weird)

HOWEVER - If I changed my constraint from "Top Layout Guide 0px" to "View 20px" so that it was 20px from the top (essentially the same as tying it to the Top Layout Guid

[2016-11-29 16:24] LeoNatan commented on #74
From what I checked, the top layout guide is calculated correctly. Perhaps I only checked when there is a navigation controller. (Why aren't you using a navigation controller for this anyway regardless of this issue?)

[2016-11-29 16:28] DCDJ commented on #74
@LeoNatan Good point - try without a navigation controller and see what sort of result you get. It never really occurred to me to use a navigation controller specifically for what I'm doing as the furthest you'll navigate to in my app is opening up a tab bar controller (as shown in the gif.)

 I'll give it a shot with a navigation controller and see if the issue is gone.

[2016-11-29 16:39] DCDJ commented on #74
Using Navigation Bar: is still presenting me with the same issue:

![screen shot 2016-11-29 at 16 38 20](https://cloud.githubusercontent.com/assets/3400414/20718928/46be8598-b652-11e6-878c-039f753ce944.png)

Constraint is set to: "Top Layout Guide 0px"

[2016-11-29 16:40] LeoNatan commented on #74
Navigation controller, not bar directly. Otherwise it's the same issue as your view.

[2016-11-29 16:42] DCDJ commented on #74
Sorry, that was a typo. I did mean Navigation Controller.

[2016-11-29 16:44] LeoNatan commented on #74
Why are you setting a constraints on the bar of the controller. This is wrong.

[2016-11-29 18:06] DCDJ commented on #74
Constraints of the rest of my content - not the nav bar. Navigation controller is controlling all of that for me.

I have attached a very basic demo of my current setup. Please let me know if this is the correct/incorrect way to use this plugin.

[PopupTest.zip](https://github.com/LeoNatan/LNPopupController/files/619778/PopupTest.zip)

[2016-12-01 20:02] LeoNatan commented on #74
Guys, please test with new fix.

[2016-12-01 20:02] LeoNatan commented on #83
Above commits referenced this issue by mistake.

[2016-12-01 21:13] DCDJ commented on #74
@LeoNatan Fixed :)

[2016-12-01 21:18] LeoNatan commented on #74
😎

[2016-12-01 21:18] #74 closed

[2016-12-02 19:14] #91 closed

[2016-12-02 19:14] #96 closed

[2016-12-02 19:24] LeoNatan opened #112 "Default bar and interaction style cannot be customized in 2.0.0"
This is a known issue which I plan to fix soon. Didn't want to hold on 2.0 any longer, and I believe the defaults are good enough for most cases.

[2016-12-02 19:24] LeoNatan commented on #111
Since there is no update, I will close this issue. I cannot reproduce.

[2016-12-02 19:24] #111 closed

[2016-12-02 19:35] LeoNatan commented on #69
Please test with new 2.0 branch. I cannot reproduce this.

[2016-12-02 19:35] #69 closed

[2016-12-02 23:44] #83 closed

[2016-12-02 23:44] LeoNatan commented on #83
@neekeetab @DCDJ Please test now.

[2016-12-03 21:18] gapl opened #113 "Cocoapods support"
Can we please get cocoapods support? I would love to have this as a part of my dependencies :)

[2016-12-04 04:08] NikAshanin commented on #113
Pod::Spec.new do |s|
  s.name         = 'LNPopupController'

  s.version      = '2.0.0'

  s.summary      = 'framework for presenting view controllers'
  s.description  = 'LNPopupController is a framework for presenting view controllers as popups of other view controllers, much like the Apple Music and Podcasts apps.'
  s.homepage     = 'https://github.com/LeoNatan/LNPopupController'
  s.license

[2016-12-04 08:20] LeoNatan commented on #113
Guys, I have said it in the past - CocoaPods is not supported. There are many reasons for this. Instead of CocoaPods, use Carthage. You can continue using CocoaPods for for your other dependencies and Carthage for `LNPopupController`.

[2016-12-04 08:20] #113 closed

[2016-12-04 08:45] gapl commented on #113
Allrighty - did not know this was said in the past. To avoid future questions it would be best to state this in the README.md file then :)

[2016-12-04 08:46] LeoNatan commented on #113
You are right, I will add a comment about it.

[2016-12-04 13:23] LeoNatan commented on #112
Fixed.

[2016-12-04 13:23] #112 closed

[2016-12-06 16:16] MarvinNazari opened #114 "Issue building with Carthage"
just doing `carthage update`

[code]

[2016-12-06 16:50] LeoNatan commented on #114
What Xcode are you using?

[2016-12-06 20:01] MarvinNazari commented on #114
Im using 7.3.1.

[2016-12-06 20:37] LeoNatan commented on #114
No longer supported. Please upgrade or use the v1_0 branch.

[2016-12-06 20:37] #114 closed

[2016-12-08 06:57] RajChanchal opened #115 "New updates changed the popBar Color"
With the new updates to 2.0.1, the bar color does remain as of tabbar. Following is an example from your example project: Tabbar is black, but tabbar is kinda white. Same goes with my own project too. It was working fine previously though.
<img width="1275" alt="screen shot 2016-12-08 at 10 48 25 am" src="https://cloud.githubusercontent.com/assets/7058465/21000572/1dedf902-bd35-11e6-8efd-676df7807

[2016-12-08 07:01] LeoNatan commented on #115
Thanks for reporting, will look into this issue.

[2016-12-08 07:12] RajChanchal commented on #115
After updating, it did change the color. But I wrote the following code and everything went fine:

[code]

[2016-12-08 07:17] LeoNatan commented on #115
Did you set the bar style after presenting? If that is the case, you need to update. If you set it before presenting, and still needed to update, there may be a big out there.

[2016-12-08 07:42] RajChanchal commented on #115
In the previous release, I was not setting any bar style, only thing I was doing was to change `tintColor `property of `tabbar `to `black` and it was working. And was expecting the same in the new update, as you can see in the screenshot above, I have the `tintColor `from storyboard and was expecting the bar to be black color.

[2016-12-08 08:34] LeoNatan commented on #115
So it's a bug. Let's leave it open.

[2016-12-08 13:51] RajChanchal opened #116 "Keyboard Problem"
Another problem has occurred after the update 2.0.1, no any text field works fine. Keyboard appears when tapping a text field but buttons on on-screen keyboard are not type able. Try doing it into your own example project too. I did it, it even ruins the view too. It was fine in previous version.
![simulator screen shot 08-dec-2016 5 52 10 pm](https://cloud.githubusercontent.com/assets/7058465/210

[2016-12-08 14:00] LeoNatan commented on #116
Strange issue. I will debug.

[2016-12-08 15:59] RajChanchal opened #117 "Pop up close button de-shaped"
It may not be an issue. As no one has reported it yet. I am facing the problem of de-shaped close button. See in the image:
<img width="374" alt="screen shot 2016-12-08 at 7 54 51 pm" src="https://cloud.githubusercontent.com/assets/7058465/21016762/3a3d38d4-bd80-11e6-9f52-5b7c49a0c337.png">

And it was prior to 2.0.1 too and is still in 2.0.1 release too. Though, it looks very fine in your example

[2016-12-08 17:02] LeoNatan commented on #117
Hmm looks strange. What are you attempting to achieve and how? Can you create a demo project?

[2016-12-09 12:52] hirenspaceo opened #118 "Hide View behind Mini Player"
Hello,

I am using swift 3.0 . i faced one issue, My current view's bottom part data hide behind popupbar music player.

This issue i not faced in swift 2.0 or  2.3.

[2016-12-09 16:16] LeoNatan commented on #118
I am sorry, I don't understand what the problem is. What does the language (Swift 3 vs Swift 2) have anything to do with it?

[2016-12-10 09:56] LeoNatan commented on #117
I am unable to reproduce. Please provide a demo project where this occurs so I can debug.

[2016-12-10 12:52] RajChanchal commented on #117
Will try reoccurring it and upload the demo by today. Thanks for being so cooperative and keep up with the repo.

[2016-12-10 12:53] LeoNatan commented on #117
Thanks!

[2016-12-10 23:18] DCDJ commented on #116
Can confirm this is happening for me too. Thanks for the quick responses with the issues @LeoNatan  :)

[2016-12-10 23:20] DCDJ commented on #83
@LeoNatan Works. Thanks!

[2016-12-11 10:35] #115 closed

[2016-12-11 10:36] #118 closed

[2016-12-11 12:34] LeoNatan commented on #116
Hmm seems to be related to my fix for #83. 😢 Some buggy iOS behavior. Looking at what can be done.

[2016-12-11 23:31] mennolaan commented on #116
Took me some time to find the cause for my weird keyboard issue. Im tracking this bug report as wel, if I find something in the meantime I'll notify you. This version was really looking good. Great work Leo!

[2016-12-12 03:55] hirenspaceo commented on #118
i am using Swift 3.

On Sun, Dec 11, 2016 at 4:06 PM, Leo Natan <notifications@github.com> wrote:

--

*Hiren Gohel*
*Thanks.*

[2016-12-12 06:04] LeoNatan commented on #118
Take a look at the demo project, specifically the Swift demo project. You need to update the table view content insets after presenting the popup bar. It's best to do it in `viewDidLayoutSubviews`.

[2016-12-12 07:30] hirenspaceo commented on #118
ok and Thanks a lot for your quick response.

On Mon, Dec 12, 2016 at 11:34 AM, Leo Natan <notifications@github.com>
wrote:

--

*Hiren Gohel*
*Thanks.*

[2016-12-12 09:32] RajChanchal commented on #117
@LeoNatan can you please tell me what does this line does: `[self.popupContentView.popupCloseButton sizeToFit];`

And when I try to print the frame of the close button in my contentView in its viewDidAppear method like this:
[code]
It outputs it as: frame: (0.0, 0.0, 0.0, 0.0)
But despite so, it works perfectly fine (though little de-shaped).

[2016-12-12 10:44] LeoNatan commented on #117
`sizeToFit` causes the button to change its bounds to the correct size according to its style. So for the round button style, you get a round size.

Tell me, do you by any change have large font?

[2016-12-12 11:01] RajChanchal commented on #117
Large font, where? In popup bar? If yes, I have different font, but not large. Following are two snapshots:
**Bar**
<img width="312" alt="screen shot 2016-12-12 at 2 54 47 pm" src="https://cloud.githubusercontent.com/assets/7058465/21096860/12579c76-c07b-11e6-8641-1a1446a34cd8.png">

**Content View**
![simulator screen shot 12-dec-2016 2 55 17 pm](https://cloud.githubusercontent.com/assets/7058465

[2016-12-12 11:30] LeoNatan commented on #117
I meant in display settings of iOS. I guess not if you are not familiar. 😄

Can you create a demo project that reproduces it?

[2016-12-12 13:32] LeoNatan commented on #116
Fixed!

[2016-12-12 13:32] #116 closed

[2016-12-12 13:40] guijob opened #119 "Error 'LNPopupController/LNPopupContentView.h' file not found"
Hi!

I'm trying to use this popupbar in my project but I'm facing this error:

_Error 'LNPopupController/LNPopupContentView.h' file not found_

Does anyone knows how to solve it?

I already had a bridging-header so I've just added @import LNPopupController; to it but I'm getting few errors. I installed via Carthage.

![image](https://cloud.githubusercontent.com/assets/5354644/21101194/21408840-c05

[2016-12-12 13:41] LeoNatan commented on #119
How did you import the project? Carthage?

[2016-12-12 13:46] LeoNatan commented on #119
How did you integrate? Did you drag the project to your project?
Please compare to my Swift example project.

[2016-12-12 13:56] guijob commented on #119
Thank you for your answer.

I've just installed via Carthage. I notice in your Example Project I need to open .xcodeproject file but I'm still must open .xorkspace file in my project because I have some cocoapods installed. Could this cause the error?

[2016-12-12 13:58] LeoNatan commented on #119
No, I don't think so. You can open the workspace, but you have to drag LNPopupController.xcproj into your main project, and then follow the instructions in the README.

[2016-12-12 14:00] guijob commented on #119
Ok, I thought installing via Carthage could be enough. I'll give a try dragging so.

[2016-12-12 14:03] LeoNatan commented on #119
All Carthage does is bring it locally to you, and update it for you when necessary. You have to integrate in your project yourself. That's why I like it. 😄

[2016-12-12 14:03] #119 closed

[2016-12-12 14:34] guijob commented on #119
It worked! Thank you very much!

[2016-12-12 14:42] LeoNatan commented on #119
👍

[2016-12-12 18:53] RajChanchal commented on #117
I tried creating a demo, even with the same content view with same autolayout constraints (infact copied whole view controller from storyboard), but it doesn't de-shape!! :-) I think, we should close it as it is happening with me only.

[LNPopDemo 2.zip](https://github.com/LeoNatan/LNPopupController/files/646870/LNPopDemo.2.zip)

[2016-12-12 18:54] LeoNatan commented on #117
No, I'll do a change to the code to see if it helps.

[2016-12-12 19:09] RajChanchal commented on #117
Appreciate your dedication and love to code.

[2016-12-13 08:23] LeoNatan commented on #117
If you use the `LNPopupCloseButtonStyleChevron` button style, does it look correctly (like in screenshots), or is it distorted also?

[2016-12-13 09:18] RajChanchal commented on #117
It works very fine. No distortions in it.

[2016-12-13 18:54] LeoNatan commented on #117
Please try with the HEAD version to see if it solves the issue.

[2016-12-14 07:32] RajChanchal commented on #117
I have tried HEAD too, still same problem. But I can for sure say, it is not problem with you code, it's something I am doing wrong. Because I tried creating demo project, it didn't work even with same view constraints.
Then in the same project, I am working in. I tried adding an empty uiviewcontrollers and made it contentView, it did also showed de-shaped back button too. So, I should say, you ca

[2016-12-14 08:00] LeoNatan commented on #117
I can't see how appearance would interfere with button layout. This is the strangest of issues.

[2016-12-14 08:00] #117 closed

[2016-12-19 14:46] itjunkii83 opened #120 "Hit Area"
Hello,

I have noticed that when including two bar buttons, one on left and one right the hit area for the left button expands too close to the middle and I believe it will affect the users dragging up experience. Also, since its a music control it will also cause people to pause music when they think they are expanding. I am especially concerned for my fitness app because that could affect someon

[2016-12-19 15:16] LeoNatan commented on #120
Interesting issue. It's something normally controlled by the system, but I will take a look.

[2016-12-19 18:33] itjunkii83 opened #121 "Deallocation Issue"
Hello,

I have a storyboard just like in the example with several IBOutles.

When I dismiss my view that is calling presentPopupBarWithContentViewController: I get this crash:

NSInternalInconsistencyException: An instance 0x7ff27b760a30 of class LNPopupBar was deallocated while key value observers were still registered with it. Current observation info: <NSKeyValueObservationInfo 0x61000382bea0>

[2016-12-19 19:42] LeoNatan commented on #121
Hi,

This was solved in a commit. I just have not made a release yet. I will create one now.

[2016-12-19 19:42] #121 closed

[2016-12-19 23:15] itjunkii83 commented on #121
Thanks Leo, I have updated via Carthage to 2.0.2 and the crash is no longer happening. However if I dismiss the presenting view controller then present it again it no longer responds to touch events and will not present a new instance of the popup controller. This happens if I do or don't invoke dismissPopUpBarAnimated in viewwilldissappear. If I never present the popup I can dismiss and present m

[2016-12-19 23:20] LeoNatan commented on #121
Please open a different issue and attach a demo project reproducing the issue, or a step by step. Thanks.

[2016-12-20 00:06] itjunkii83 commented on #121
Thanks Leo, appreciate you being so responsive!

[2016-12-20 10:15] #120 closed

[2016-12-20 14:05] LeoNatan commented on #120
Fixed this in 2.0.3. Please upgrade your version and test. 😄

[2016-12-20 16:23] itjunkii83 commented on #120
works perfect!!

[2016-12-20 16:25] itjunkii83 opened #122 "Marquee not scrolling"
Hello,

I have noticed that I can't get my marquee to scroll on version > 2.0.2

I am calling self.popupBar.marqueeScrollEnabled = YES;

I have also verified this is the case in the LN demo project under the Apple Music menu.

Thank you!

[2016-12-20 16:52] LeoNatan commented on #122
I just tested and it works for me. The trick is to have the `.marqueeScrollEnabled = YES;` after presenting the popup bar (after calling `presentPopupBarWithContentViewController:animated:completion:`). The reason for this is the popup bar is not created until after the presentation. Calling right after presentation will not cause visual artifacts regardless if you are presenting with or without a

[2016-12-26 03:30] aljosac opened #123 "Changing the style to compact breaks ability to touch buttons on tab bar"
After using presentPopupBar and then setting the barStyle to .compact, I am unable to touch any of the tabBar buttons. It just causes the tabBar content view controller to show when attempting to touch a button. This can be replicated in the example app by adding: `tabBarController?.popupBar?.barStyle = .compact`
right under `tabBarController?.presentPopupBar(withContentViewController: popupConten

[2016-12-26 09:17] LeoNatan commented on #123
Thanks for reporting. I will take a look.

[2016-12-28 10:18] Bark17 opened #124 "Gesture Recognizer Hit Area"
Hi!
I'm trying to decrease hit area of GestureRecognizer which close popupController, but no results.
For example, is it possible to set draggable only the top half of the view?
Because sometimes it conflicts with other controls on view controller.
Thank you.

[2016-12-28 10:22] LeoNatan commented on #124
Implement

`- (__kindof UIView*)viewForPopupInteractionGestureRecognizer;`

and provide a view to which the gesture recognizer will be limited to.

[2016-12-28 10:22] #124 closed

[2016-12-28 10:25] Bark17 commented on #124
Thank you!

[2016-12-28 19:23] Bark17 commented on #124
Sorry, I tried all ways. It doesn't work.
I can't provide new view through
`- (__kindof UIView*)viewForPopupInteractionGestureRecognizer;`

[2016-12-28 19:43] Bark17 commented on #124
Got it! Thank you

[2016-12-29 06:27] btc commented on #123
I can second this. iOS 9.3

[2016-12-30 09:53] danurna opened #125 "Jumpy snap behaviour on iOS 10"
Just checked out the latest master and experienced a bug when panning upwards on the popup content view (see appended gif). Even when only panning slightly downwards it jumps the fixed amount. I guess this is unwanted behaviour.

![ios-10-up-pan-bug](https://cloud.githubusercontent.com/assets/1837452/21562752/ab6b4882-ce7b-11e6-8a15-db66b123156e.gif)

I already debugged this and found the issue [h

[2016-12-30 09:55] LeoNatan commented on #125
Thank you. Will check it out.

[2016-12-30 10:03] #123 closed

[2016-12-30 11:22] LeoNatan commented on #125
There is another issue I've identified; if the bar is closed but presented, if you pan your finger left on the bar, the system performs a close animation incorrectly. It is quite ugly. I am looking at both of these issues together.

[2016-12-30 13:30] #125 closed

[2016-12-30 13:30] LeoNatan commented on #125
Fixed. Please test latest master code - no release yet.

[2016-12-30 13:31] LeoNatan commented on #123
Fixed. @aljosac @btc Please test latest master code - no release yet.

[2016-12-30 18:41] LeoNatan commented on #122
I have improved the API for 2.1. Now, what you originally did will work. The popup bar is created on demand, and will work as you originally expected.

[2016-12-30 18:51] LeoNatan commented on #106
Implemented, but I will not have time to update the documentation right now.
Please see example project for a full example. Please open issues if you find missing features or have enhancement requests.

CC @chauhan130 @mmoloksher

[2016-12-30 18:52] #106 closed

[2016-12-30 18:52] #122 closed

[2016-12-30 22:34] danurna commented on #125
Works like a charm now. I am definitely going to use it. Thank you!

[2016-12-30 22:44] LeoNatan commented on #125
May I ask what app are you developing? 😄

[2016-12-31 21:04] btc opened #126 "Change contentMode of popupItem's UIImageView?"
I would like to change the content mode of the popupItem's image view. Right now, it stretches my images (see below). Is this configurable (safely)?

<img width="436" alt="pasted_image_12_31_16__1_02_pm" src="https://cloud.githubusercontent.com/assets/734339/21579242/8f565608-cf59-11e6-85f2-b9a684dd7050.png">

[2017-01-01 16:06] LeoNatan commented on #126
There isn't access to the image view directly, but I consider this a bug. The content mode should be aspect fit. I will add that.

[2017-01-01 16:13] LeoNatan commented on #126
Fixed.

[2017-01-01 16:13] #126 closed

[2017-01-01 16:43] btc commented on #126
Thank you

[2017-01-01 17:55] btc opened #127 "Multiple fingers required to drag down and dismiss content view"
Multiple fingers are required to drag and dismiss the content view (controller).

at 0e3111e78916d6f79474c3ccd2b2f7ff6bb33b72

[2017-01-01 17:58] LeoNatan commented on #127
I don't understand.

[2017-01-01 18:01] btc opened #128 "Popup bar does not appear when presented from UINavigationController with hidden toolbar"
In a basic example, the popupBar no longer appears on calls to presentPopupBar. However, the completion callback is still called.

I noticed it was broken when I updated to 5a6bd3038af53989f468609ce3670d10647e9cea.

However, it was working at 0e3111e78916d6f79474c3ccd2b2f7ff6bb33b72.

Here is an example project that reproduces the issue:

https://github.com/btc/LNPopupControllerBugExample

master

[2017-01-01 18:03] btc commented on #127
I apologize if I am getting the terminology wrong.

When the popupItem is tapped, the content view appears.

When I try to drag down on the content view to dismiss it (and go back to the small popupItem), nothing happens. However, if I use multiple fingers (sometimes up to 4 required), then it finally responds to my drag down action and slides down.

[2017-01-01 18:07] btc commented on #128
updated:

breaks at 12118abf0f286c396c4b520c3e8cd6b5c085ae22
works at 2e54248f1a5c86044aa575b3f54e9b389468c30b

[2017-01-01 18:08] LeoNatan commented on #127
I don't see how this would happen.

[2017-01-01 18:09] LeoNatan commented on #128
These type of issues are not helping. Please provide properly worded explanation of what is not working.

[2017-01-01 18:11] btc commented on #128
I apologize. I will elaborate.

[2017-01-01 18:11] btc commented on #127
I will provide one.

[2017-01-01 18:12] LeoNatan commented on #128
Please update your first comment with a proper description of the issue.

[2017-01-01 20:34] btc commented on #128
Please see https://github.com/btc/LNPopupControllerBugExample

[2017-01-01 20:45] LeoNatan commented on #128
I see the issue is related to hidden toolbar of the navigation controller. If the toolbar is visible, it works. Will investigate.

[2017-01-01 20:52] btc commented on #128
I apologize for the poor communication the first time around. Thank you very much for creating this library.

[2017-01-01 21:51] LeoNatan commented on #128
Are you sure the example project reproduces your issue in the same way as in your real app?

This is a known limitation (see README) and is very difficult to fix. **The scenario shown in the example project has never been supported or worked in the past.** In case you have a navigation controller with a hidden toolbar, you currently only have two options:

- Present on the inner view controller, r

[2017-01-01 22:37] btc commented on #128
Interesting. Was it an accident that the popupBar appeared in 0e3111e?

[2017-01-01 23:01] LeoNatan commented on #128
I tried running your example project with 2.0.0 as well as 1.4.6 and neither showed a popup bar.

[2017-01-02 00:17] btc commented on #128
Did you tap the green button? The popupBar works on this branch ("old"):

https://github.com/btc/LNPopupControllerBugExample/tree/old

It's on commit 0e3111e78916d6f79474c3ccd2b2f7ff6bb33b72

[2017-01-02 19:54] btc commented on #127
This bug happens when presenting from a UINavigationController. Since you don't support UINavigationController, I don't know if you care to address this one.

[2017-01-02 20:05] btc opened #129 "Content view disappears when presenting a popup while transitioning"
#### Description

The contentViewController disappears if its content changes during the transition.

#### Steps to Reproduce

1. Click on popupBar. (slide up animation begins)
1. Change the content/subviews of the contentViewController during its slide up animation.
1. Observe that the view disappears during the transition. Only the chevron remains. Dragging down doesn't work. Only tapping the ch

[2017-01-02 20:09] LeoNatan commented on #129
Thanks

[2017-01-02 20:09] LeoNatan commented on #127
I do support navigation controllers. There is only case where they are not supported, and that's your other issue.

[2017-01-02 20:14] LeoNatan commented on #129
How do you change the content view controller's view?

[2017-01-02 20:40] btc commented on #129
I removed all content modifications and the issue still occurs. It looks like it might actually be related to calling `presentPopupBar` while the animation is in progress. Does that seem more likely?

I fixed it by changing the code to:

[code]

This avoids my code calling presentPopupBar if it's already visible. This appears to fix the problem.

Do you still consider it a bug? (that the view disa

[2017-01-02 20:44] LeoNatan commented on #129
Presenting a popup bar while the popup is in transition is not supported, but I couldn't reproduce this issue even as you say. I tried presenting while in transition and it didn't reproduce. I would like to fix it, even if not supported, so if you could provide a demo project, I'd take a look. Thanks.

BTW, instead of using `popupBar.isHidden`, use `popupPresentationState`, which tells you the sta

[2017-01-02 20:53] btc commented on #127
I experienced the issue while the toolbar was hidden. That's actually what I meant.

[2017-01-02 21:10] danurna commented on #125
I am in the process of creating a better version of an already existing radio streaming app. I'll probably display the audio player just like in your example 😀

[2017-01-02 21:22] btc commented on #125
Thanks for fixing this one. I noticed it as well. Animation is super smooth now.

[2017-01-02 22:38] #128 closed

[2017-01-02 22:38] LeoNatan commented on #128
Solved 👍
Please test on latest master.

[2017-01-02 22:42] LeoNatan commented on #127
Navigation controller issue has been solved. See if it helps you with this one.

[2017-01-02 23:14] terryworona opened #130 "Setting popupBar tintColor has no effect"
#### Description
Setting the tintColor of a popupBar has no effect. Popup is attached to a tab bar (bottom of view controller).

#### Steps to Reproduce

[code]

Screenshot attached after the above lines are executed.

#### Device, OS and Xcode Versions
iOS 10 - both simulator and hardware.

![popup-tint](https://cloud.githubusercontent.com/assets/358709/21597372/db5dac9e-d0fe-11e6-9dcb-c418c7302d

[2017-01-03 06:26] LeoNatan commented on #130
The issue is, you are calling `updatePopupBarAppearance()`. What this method does is take the style of the bottom bar. Try without it. Check the music app sample, where a ronit color is set that is different from the tab bar's.

[2017-01-03 07:30] jahnsrud commented on #127
I was also experiencing this issue. Luckily, the latest release solved it. Thanks for creating this great library 👍

[2017-01-03 12:45] LeoNatan commented on #127
@jahnsrud Thank you for the kind words!

[2017-01-03 13:02] #130 closed

[2017-01-03 13:32] singhamit089 commented on #106
@LeoNatan Awesome! exactly what I was looking for 🍻

[2017-01-03 17:57] LeoNatan commented on #106
@singhamit089 Great! Let me know if you hit any speed bumps.

[2017-01-03 18:07] btc opened #131 "Querying/getting the height of the popupItem?"
Hi. Thanks for the recent improvements to the library. I really appreciate the work you're doing.

Is there a way to query the height of the popupItem at runtime? I would like to take it's size into account when laying out views.

[2017-01-03 19:20] LeoNatan commented on #131
There is no way, and there need not be one. You should use the controller's bottom layout guide to layout your view so that it fits within the remaining space.

[2017-01-03 20:01] btc commented on #131
You're quite right. Thank you.

[2017-01-03 20:03] btc commented on #131
I made the change to use layout guides for both the top and bottom. On iOS 10, when the popupItem appears, my content moves out of the way. However, on iOS 9, the content doesn't move out of the way. It gets hidden behind the popupItem.

@LeoNatan

[2017-01-03 20:05] LeoNatan commented on #131
Is it a table view? If so, this is a known issue in iOS. See the music app example. Implement `viewDidLayoutSubviews()` and set the `contentInset` and `scrollIndicatorInsets` the correct values.

[2017-01-03 20:07] btc commented on #131
It's not a table view. It's a very simple UIViewController with UIView subviews:

[code]

[2017-01-03 20:09] LeoNatan commented on #131
Does the example work correctly on iOS 9 for you? It does for me. I have a layout constraint with the bottom layout guide and it updates.
Print `bottomLayoutGuide.length` in the log and see if the value updates correctly.

[2017-01-03 20:12] btc commented on #131
before presentPopup... 49.0
after presentPopup... 49.0

Trying the example project

[2017-01-03 20:18] btc commented on #131
Version: dede96cd0475a5681953cac369ed56d6c836529a
OS: 9.3.2

Aside: In the Split View Controller (Master) exampe, the Present Popup and Dismiss Popup buttons don't work.

However, all other examples work as expected. The bottomLayoutGuide is adjusted.

Strange.

[2017-01-03 20:18] LeoNatan commented on #131
What is your view **controller** hierarchy?

[2017-01-03 20:23] LeoNatan commented on #131
Does the music app work for you in iOS 9? It uses `bottomLayoutGuide` directly.

[2017-01-03 20:25] btc commented on #131
In pseudocode...

window.rootViewController = a UITabBarController called tabsRootVC
tabsRootVC.viewControllers = [radioVC]
radioVC := subclasses UIViewController

tabsRootVC is the popupItem presenter

[2017-01-03 20:27] LeoNatan commented on #131
OK, so I see one difference; the example app has a navigation controller in the middle. Could be something is broken with tab bar controllers used directly with view controllers.

[2017-01-03 20:28] LeoNatan commented on #127
Does this still reproduce?

[2017-01-03 22:29] btc commented on #131
I discovered that when I tap a subview/interact with the screen, the contents snap into the proper position (respecting bottomLayoutGuide).

[2017-01-04 01:09] terryworona commented on #130
I'm sorry I should have mentioned all the permutations that I tried.

I have indeed tried:

`self.popupBar.tintColor = UIColor.red`

Same results - the bar continues to inherit from the tab bar.

[2017-01-04 13:02] LeoNatan commented on #131
Unable to reproduce in iOS 9. I have a view controller inside a tab bar controller, and I print the bottom layout guide length:

2017-01-04 15:00:56.308 LNPopupControllerExample[72617:6321080] 0
2017-01-04 15:00:56.311 LNPopupControllerExample[72617:6321080] 0
2017-01-04 15:00:56.315 LNPopupControllerExample[72617:6321080] 49
2017-01-04 15:00:56.316 LNPopupControllerExample[72617:6321080] 49
2017-

[2017-01-04 13:03] #127 closed

[2017-01-04 13:05] LeoNatan commented on #130
Which is `self` in your example? I just tested and everything works as expected; setting a tint color works.

[2017-01-04 13:27] singhamit089 commented on #106
Hey @LeoNatan is this not available with cocoapods yet ?

[2017-01-04 14:14] LeoNatan commented on #106
No. As stated in the readme, it is only available through Carthage.

[2017-01-04 17:43] terryworona commented on #130
I present the popup via my root navigation controller:

'self.navigationController?.presentPopupBar(withContentViewController: self.trackViewController!, animated: true, completion: nil)'

For `self`, I've tried both both the presenting controller & the controller itself:

`self.navigationController?.popupBar.tintColor = UIColor.red`

and

'self.trackViewController?.popupBar.tintColor = UIColor.re

[2017-01-04 18:25] LeoNatan commented on #130
Please look at the example project.

[2017-01-04 18:33] terryworona commented on #130
Will do thanks!

[2017-01-08 20:07] MaxHasADHD commented on #36
What if you have a UIViewController with a scroll view inside for a custom layout?

[2017-01-08 20:12] LeoNatan commented on #36
@MaxHasADHD Please explain what you mean in more detail. If you have a complex question, feel free to open a new issue.

[2017-01-08 20:34] MaxHasADHD commented on #36
The controller I have to pop up is a UIViewController but has a UIScrollView as it's main content view with a custom layout, so I can't use UITableViewController or UICollectionViewController. How can I make the view controller drag down like in the demo with the scroll view?
![screen shot 2017-01-08 at 3 13 46 pm](https://cloud.githubusercontent.com/assets/1296190/21753272/effa5d1a-d5b7-11e6-8c0a

[2017-01-08 20:39] LeoNatan commented on #36
Right now it is only supported if the controller's view is a subclass of scroll view. I may need expand that somehow, but it's not an easy task.

[2017-01-08 20:39] LeoNatan commented on #36
Open a new issue so we can track this.

[2017-01-08 21:10] MaxHasADHD commented on #36
@LeoNatan How does it currently work for the UITableView/UICollectionViewContoller's? Is it possible to reference the gesture and add it to my scroll view the same way it is added to those controllers?

[2017-01-08 21:36] LeoNatan commented on #36
@MaxHasADHD Ha! It's already supported out of the box. I checked my implementation. Just provide your scrollview as `viewForPopupInteractionGestureRecognizer`.

[2017-01-09 00:06] MaxHasADHD commented on #36
@LeoNatan Seems not to be working correctly. Breakpoint is being hit but doesn't scroll.

[2017-01-11 20:37] LeoNatan commented on #36
@MaxHasADHD Found and fixed the issue. Please try now.

[2017-01-14 23:09] MaxHasADHD commented on #36
It works! Thank you

[2017-01-18 13:41] LeoNatan commented on #129
I am unable to reproduce the issue. Tried with different delays, but still won't fade like in the video. In any case, this is not supported.

[2017-01-18 13:41] #129 closed

[2017-01-25 08:23] matuslittva opened #132 "Coordinate marqueeScroll disabled redrawing"
When i disable coordinateMarqueeScroll and close PopupController title and subtitle are not drawn immediately, they appears only when i open and close PopupController again. When coordinateMarqueeScroll is enabled it behaves normally

iOS 10.2.1
Xcode 8.2.1

[2017-01-25 08:24] LeoNatan commented on #132
Thanks, I'll take a look soon.

[2017-02-08 05:38] trane294 opened #134 "LNPopupBar customize appearance"
#### Description
I am trying to change appearance of LNPopupBar (different color & font). I am using swift 3. I think that I am doing smth wrong but couldn't find any materials how else todo it in swift 3. Thank you

#### Steps to Reproduce
LNPopupBar.appearance(whenContainedInInstancesOf: UINavigationController.self).setTitleTextAttributes = [NSFontAttributeName: UIFont(name: "Montserrat-Regular"

[2017-02-09 09:59] GorbAnthony opened #135 "Xcode 8.2.1 Warnings: Null is returned from a method that is expected to return a non-null value"
When running Xcode 8.2.1 Analyzer, the following warning is returned

![2017-02-09 11 51 20](https://cloud.githubusercontent.com/assets/21270640/22778275/176e1a42-eebf-11e6-8dd5-19d465f1dc92.png)

[2017-02-09 15:47] johnnygao opened #136 "Title label overlaps with rightBarButtonItems if more than one exists"
#### Description
Using the current master branch in the iPhone 7, iOS 10 simulator.

I've added two buttons to the right side of the bar but the title label overlaps with the leftmost item.

![](http://i.imgur.com/pvVdF2A.png)

#### Steps to Reproduce
    // barbuttons
		let pause = UIBarButtonItem(image: UIImage(named: "ic_play_arrow"), style: .plain, target: nil, action: nil)
		let skip = UIBarB

[2017-02-09 19:50] #135 closed

[2017-02-09 22:44] LeoNatan commented on #135
What is the method?

[2017-02-10 08:26] justin999 opened #137 "cannot replace the close button"
#### Description
I'm trying to replace the close button. I tried the code below, but it didn't work.

    tabBarController.popupContentView.popupCloseButtonStyle = .default
    tabBarController.popupContentView.popupCloseButton.frame = CGRect(x: self.view.width - 50, y: 30, width: 30, height: 30)

![img_1015](https://cloud.githubusercontent.com/assets/3691498/22819477/99103c64-efb5-11e6-911e-62aad

[2017-02-10 08:40] LeoNatan commented on #137
I don't understand what the problem is. Did you read the documentation?
If you want the round button style on the right, use `.round`. If you want to use a custom button, set the button style to `.none`, and add a button of your own in your view controller's view hierarchy and use the API to close the popup.

[2017-02-10 08:40] #137 closed

[2017-02-10 08:44] LeoNatan commented on #134
You are using the appearance API incorrectly. Did you read Apple's documentation?
`appearance(whenContainedInInstancesOf:)` receives an **array of classes**, not a single class. Pass `[UINavigationController.self]` instead.

[2017-02-10 08:44] #134 closed

[2017-02-10 08:47] LeoNatan commented on #136
Thanks for reporting, I will check when I can. Pull requests are welcome.

[2017-02-10 10:59] justin999 commented on #137
Your comment was really helped me. I will try with button style .none and custom button. I was trying to move the default button, which is impossible. Thanks for your help

[2017-02-10 16:01] trane294 commented on #134
Thank you it it working. But now it is giving error on any of methods that:

[code]

Also, I tried to access same methods through tabBarController?.popupBar

[2017-02-10 16:15] trane294 commented on #134
Okay, at least I can access it like this, but then why in documentation is  setTitleTextAttributes?

```tabBarController?.popupBar.titleTextAttributes```

[2017-02-10 17:37] LeoNatan commented on #134
That part of the documentation is written in Objective C.

[2017-02-10 17:40] LeoNatan commented on #134
You can use `titleTextAttributes` with the `appearance(whenContainedInInstancesOf:)` API.

[2017-02-11 12:06] GorbAnthony commented on #135
`- (UIView *)containerView
{
	return nil;
}`

after re-installation framework errors disappeared

[2017-02-16 05:36] justin999 commented on #137
for who strugglng with the same issue, this issue is also helpful
https://github.com/LeoNatan/LNPopupController/issues/80

[2017-02-16 06:03] LeoNatan commented on #137
The API is documented in the readme.

[2017-02-21 19:13] bchrobot opened #138 "_popupBarTapGestureRecognizer is inaccessible"
#### Description
`_popupBarTapGestureRecognizer` is publicly inaccessible and may not be disabled in situations where that is the desired behavior.

Is there any reason not to hang it off of `popupContentView` like `popupInteractionGestureRecognizer`?

[2017-02-21 21:27] LeoNatan commented on #138
Could you please state some reasons you may need the tap gesture recognizer?

[2017-02-25 10:54] stayclar opened #139 "1px white line on the top of popup bar"
#### Description

<img width="376" alt="screen shot 2017-02-25 at 11 35 41" src="https://cloud.githubusercontent.com/assets/26022933/23330536/6e384dc8-fb50-11e6-8f59-17f29ee018ec.png">
Actually my problem is that I have a (around 1px) white line on the top of the popup bar. It appears only if I use the compact style. I figured out that the code reason is: self.tabBarController?.popupBar.barStyle =

[2017-02-25 11:25] lemanhtien opened #140 "Disable feature "swipe down to dismiss ViewController" ?"
Firstly, I want to thank you for your great library. I am developing my application and using your library. My popupVC is embed in NavigationController. Then from my PopupVC, I push to a ViewControllerA. But when I in ViewControllerA, if I swipe down, the ViewControllerA will be dismissed.
Therefore, I want to ask you that is there a way to disable the feature that swiping down from the top to dis

[2017-02-25 14:02] lemanhtien commented on #140
`/**
 *  Return the view to which the popup interaction gesture recognizer will be added to.
 *
 *  A default implementation is provided, where the popupContentView is returned. @see UIViewController.popupContentView
 *
 *  @return The view to which the popup interaction gesture recognizer will be added to.
 */
- (__kindof UIView*)viewForPopupInteractionGestureRecognizer`

I have solved my problem

[2017-02-25 14:02] #140 closed

[2017-02-25 14:30] LeoNatan commented on #139
This is on purpose. The compact bar uses a UIToolbar internally, and that one has that shadow hairline. It is like that on Apple as well. I do not plan change this. You can either use the prominent style, or you can create a custom bar content without the hairline, but then you have to manage the entire bar functionality.

[2017-02-26 15:00] stayclar commented on #139
And can I change the color of that somehow?

2017-02-25 15:30 GMT+01:00 Leo Natan <notifications@github.com>:

[2017-02-26 15:02] stayclar commented on #139
Or maybe change/remove it from your source in my project?

[2017-02-26 15:35] LeoNatan commented on #139
Hmm, I see the white line. It’s too … white. The tab bar separator is a different shade of grey. Let me look.

[2017-02-26 16:51] #139 closed

[2017-02-26 16:52] LeoNatan commented on #139
Fixed for iOS 10. 😄
Didn’t check on iOS 9.

[2017-02-26 17:39] stayclar commented on #139
Thanks a lot :D
Oh and one last question, how can I hide the satusbar when I pull up (and show again when pull down) the popup controller? I mean where should I implement/change the statusbarhidden property?

[2017-02-26 17:40] LeoNatan commented on #139
In the poppy content controller. Set the status bar settings there, and it will honor them.

[2017-02-27 08:10] madlyn opened #141 "Presenting VC over navigation bar"
#### Description
I have a tabBar containing a tabBar that is contained in a Navigation Controller.
<img width="1012" alt="screen shot 2017-02-27 at 10 53 45 am" src="https://cloud.githubusercontent.com/assets/24656824/23353064/93b24e8c-fcdb-11e6-970d-55370bfc0173.png">

I tried to present the popupController from the navigation controller but it hid the tabBar permanently even when I close the pop

[2017-02-27 08:59] LeoNatan commented on #141
Usually, the tab bar controller contains the navigation controller, not the other way. In your case, it’s inverted. As the README says, you should always present from the outer most container controller, which in your case is the outer navigation controller.

[2017-02-27 08:59] #141 closed

[2017-02-27 09:01] madlyn commented on #141
But when I did that the tabBar was hidden permanently and I couldn't get it back

[2017-02-27 09:06] LeoNatan commented on #141
Hmm yes, because then the bottom bar is the navigation controller toolbar, which is hidden, and the popup bar hides the tab bar. If all your pushed view controllers are tab bar controllers, you can subclass the navigation controller to return a custom bottom view, but it will not be smooth.

For best results, I suggest inverting your controller hierarchy so that the tab bar controller is the root

[2017-02-27 09:08] madlyn commented on #141
I'll try that, Thank you!

[2017-03-02 10:49] #138 closed

[2017-03-02 10:50] LeoNatan commented on #138
Exposed `openGestureRecognizer` and `highlightGestureRecognizer`.

[2017-03-02 13:26] #136 closed

[2017-03-02 13:37] LeoNatan commented on #132
@matuslittva Sorry, I cannot reproduce the issue. I disabled marquee coordination, I closed and opened the popup, and everything behaves normally. Could you please state in detail how to reproduce the issue?

[2017-03-10 06:56] matuslittva commented on #132
hmm sudenly it works ... i cant investigate now why it failed before

[2017-03-10 06:56] #132 closed

[2017-03-10 07:42] LeoNatan commented on #132
Thanks
Let me know if manage to reproduce.

[2017-03-10 08:03] swasta opened #143 "Show presenting view controller's view under the popup when popup is open"
#### Description

I'm presenting PopupVC exactly as it's done in example with Music Player using `storyboard?.instantiateViewController` and then `presentPopupBar` for a separate view controller.

In Apple Music app presented VC doesn't completely cover underlying VC, has rounded corners and overall looks like a card what I particularly like.
![img_1328](https://cloud.githubusercontent.com/assets/

[2017-03-10 08:41] LeoNatan commented on #143
Thanks for your suggestion!

This is one of the more obvious omissions I left. I think it would require quite the re-engineering to get it to behave as it does in Apple Music (the view from the presenting view controller is brought back under the popup). I think I have a general idea how to implement, so I might give it a go when I have time.

[2017-03-12 07:16] RajChanchal opened #144 "Proud users of LNPopupController"
#### Description
Kindly provide some way to allow us to let you know that we are proud users of LNPopupController.
A showcase of apps using LNPopupController would be great.

[2017-03-12 08:22] LeoNatan commented on #144
I would love to have that, but not sure what the proper avenue is.

[2017-03-15 19:31] farshadmb opened #145 "Full Dynamic Content with out any images asset"
#### Description

Hi Leo

At First you are so good and agree with some reason that you didn't use CocoaPods for your project.
Second Why you don't try to make a full dynamic library without any dependency like images and any kind of resources??
Third We should override some methods to customize any view or content view you used in your library. why you didnt provide any customization style, Custom

[2017-03-16 00:07] LeoNatan commented on #145
I don't understand what the problem is.
The library has images, and they are needed. They are part of the framework bundle. Follow the proper way to include in your project, [not CocoaPods](https://github.com/farshadmb/LNPopupController/commit/15c704e294ed47868c4c6d552c974dc31a618592), then it all works and images and resources are loaded. But you decided not to follow the readme. There is no prob

[2017-03-16 00:07] #145 closed

[2017-03-16 01:42] kajensen opened #146 "Chevron appears over uinavigationitem sometimes"
#### Description
https://puu.sh/uKOCP/4febfec94c.png

#### Steps to Reproduce
Default setup with tabbar, presenting the popup with a uinavigation controller with set rootVC. The chevron appears over the default navigationitem.title sometimes. I would say roughly half the time. Drag down, and represent the same popupVC, the chevron will appear the below the navigation bar as expected. Presenting th

[2017-03-16 01:48] kajensen opened #147 "Presenting view controllers on detached view controllers is discouraged"
When displaying a popupcontroller of a uinavigationcontroller with set rootVC, presenting another VC on top (UIalertcontroller, sfsafariVC, etc) results in "Presenting view controllers on detached view controllers is discouraged"

[2017-03-16 07:18] LeoNatan commented on #147
I know why this happens. Controllers presented in the popup are not added as child view controllers. They used to be, but this had nasty side effects.
Need to think how to solve this.

[2017-03-16 13:13] kajensen commented on #147
The real issue i'm seeing in regards to this is a sfsafarVC just doesn't load the website if its presented like this (UIalertCs work fine). I've tried presenting from the navigationC, VC, and both have this warning. Presenting from the tabVC (which presents the popover) results in "tavbVC is already presenting a vc" and nothing happens. If theres a workaround to present without issue by climbing t

[2017-03-16 14:28] farshadmb opened #148 "iOS 8 Support Broken"
iOS 8 doesn't support yet !!!
#### Description

- `*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[LNPopupCloseButton topAnchor]: unrecognized selector sent to instance 0x13926ae50'
` as mention to you topAnchor class support iOS 9 and later [apple documentation](https://developer.apple.com/reference/appkit/nslayoutanchor)

- bottomLayoutGuide doesn't support

[2017-03-16 23:09] farshadmb commented on #146
use
``` objective-c popupContentView.popupCloseButtonStyle = LNPopupCloseButtonStyleNone```
``` swift popupContentView.popupCloseButtonStyle = .None ``` @kajensen

[2017-03-16 23:24] kajensen commented on #146
That doesnt work @farshadmb.

Its probably an issue with layout subviews with an adjust scroll view insets but i'll defer to someone with more experience with the library.

[2017-03-16 23:57] LeoNatan commented on #146
I haven't seen this reproduce. Could you provide an example project?

[2017-03-17 00:06] LeoNatan commented on #148
Yes, I see the problem. I am not sure I want to support iOS 8. I might do a last version kind of thing, where I would introduce a fix, but then right away create a version that is iOS 9 and above, reverting the change. iOS 8 is very insignificant, and it's becoming a nuisance to support.

[2017-03-17 00:49] farshadmb commented on #148
@LeoNatan Are you kidding me ??? I fixed for you !!!!! Why are u so bad with CocoaPods, You can build your library and share via CocoaPods, See on Firebase Or Fabric Frameworks !!!!!!!

[2017-03-17 02:44] kajensen commented on #146
Yeah here: https://github.com/kajensen/LNPopupControllerBug. Not entirely sure its a bug in LNPopupController though. It happens when setting the left navigationitem button in tableVC.

[2017-03-17 11:28] farshadmb commented on #146
@kajensen according to your image attached

You create a UINavigationController with rootViewController which is a tableViewController or UIViewController contain UITableView. Also Create 2 UIBarButtonItem

One Note I must mention that is `LNPopupController` add UINavigationController view to its [`popupContentViewController`](https://github.com/LeoNatan/LNPopupController/blob/master/LNPopupContro

[2017-03-17 11:31] LeoNatan commented on #148
Listen mate!!!!! I am not here to kid anyone!!!!???!!!!

I run this project as I see fit, with quality I deem as necessary, and the features I want or be "so bad" with other features I do not want. You are free to fork this repository and do as you please under your own fork.

I will keep this open because there is a genuine issue here, but please keep a proper tone in these discussions. I have ex

[2017-03-17 11:41] LeoNatan commented on #147
Hmm interesting.
The framework does not use the `UIViewController` presentation APIs. So when I first read your issue, my instinct was to recommend presenting on the tab bar / navigation controller. For instance, using the delegate pattern to notify some controller that the user has performed an interaction that requires presenting a safari view controller, and do that presentation there.

Normall

[2017-03-17 11:48] LeoNatan commented on #146
@kajensen Thanks for the demo project!
I will take a look soon.

The framework does a hit test under where the close button is supposed to appear normally. If a navigation bar answers the test, I move the close button below that bar. It has worked before, so I'm interested to see what is preventing this system from working here.

[2017-03-17 11:50] farshadmb commented on #148
Leo. Ok I respect for your decision what ever is. I just try to fixed iOS 8 Broken for you. and fixed UITableViewController contentInsets. That all

[2017-03-17 11:53] LeoNatan commented on #148
And I really appreciate it. But let's keep a civil tone. I will have this fix ready soon.

[2017-03-17 12:04] farshadmb commented on #148
ok Leo . Tnq

[2017-03-17 20:05] DrLuthor opened #150 "Lockscreen player controls not working"
#### Description

Hi!
First of all: Thanks for the hard work!

So, here's my problem: when I'm on the lockscreen the play/pause, previous and next buttons do not work. It appears that  remoteControlReceivedWithEvent is not triggered.

#### Steps to Reproduce

remoteControlReceivedWithEvent is triggered if I go back to a classic pushed UIViewController.
Here's how I declared my LNPopupController
`P

[2017-03-17 21:52] LeoNatan commented on #150
Interesting,
I have to say I am not familiar with this API. Is `remoteControlReceivedWithEvent:` supposed to be delivered on the view controller itself? I assume it works with the responder chain.

It might be related to #147. In the past, the popup content view controller was being added as a child controller to the presenting view controller, however I removed this due to issues with `UINavigati

[2017-03-17 23:12] kajensen commented on #147
The solution is to present from popupPresentationContainer

[2017-03-17 23:12] kajensen commented on #147
in this case, vc.navigationController.popupPresentationContainer

[2017-03-17 23:46] LeoNatan commented on #148
What OS version are you seeing this issue?

[2017-03-17 23:47] #148 closed

[2017-03-17 23:54] LeoNatan commented on #148
@farshadmb If it’s not iOS 8, then please open a new issue and attach a demo project.

[2017-03-18 00:07] LeoNatan commented on #146
@kajensen Using the demo project, I was able to reproduce. Looks like a weird bug with layout. Investigating.

[2017-03-18 00:18] #146 closed

[2017-03-18 01:08] farshadmb commented on #148
i will attach a screen shot as soon as possible @LeoNatan.

[2017-03-18 13:52] DrLuthor commented on #150
**TLDR;**
Solution : I moved remoteControlerReceivedWithEvent up the responder chain ie in the UIViewController which init my player

**Full story**
Well, I thought about something like this too.
My first assumption was that the view controller wouldn't always be the first responder, mainly when the player is reduced to a bar.

So I tested the value [self canBecomeFirstResponder] which always retu

[2017-03-18 13:54] LeoNatan commented on #150
Thanks for your report!
This is a workaround. I plan to fix this somehow. Started looking for solutions. For now, use the workaround.

[2017-03-18 15:45] #147 closed

[2017-03-18 15:47] LeoNatan commented on #150
@DrLuthor Uhm, I got it working with no changes at all.
Did you implement support properly?

In my demo project, I changed it like so:

[code]

`remoteControlReceivedWithEvent:` is called correctly. However, this is less then optimal, because if you close the popup, it loses first responder status. This is the same with popping a view controller.

However, placing `remoteControlReceivedWithEvent:`

[2017-03-18 15:47] #150 closed

[2017-03-18 15:48] LeoNatan commented on #147
@kajensen The issue has been solved. Please use the latest 2.2 release.

[2017-03-18 15:52] kajensen commented on #147
Thanks for your attention and hard work @LeoNatan Great lib!

[2017-03-18 22:42] LeoNatan commented on #147
@kajensen Thank you for using my framework!

[2017-03-20 10:56] mattstrong opened #151 "Navigation bar of presented view controller to be the popup bar itself"
#### Description
Is this currently possible? I can only see examples where the popup bar itself seems separate from the presented view controller and scrolls up above the screen in presented mode.

Great component! Thanks for making it :)

[2017-03-20 14:04] LeoNatan commented on #151
That’s an interesting use case.
It’s not possible right now, even with the custom popup view.

I think it could be done. I will take a look when I have time.

In the mean time, you can fake it with a custom popup bar controller, and hide it during presentation. I do that in the “Maps” example in the demo project.

[2017-03-20 17:05] samkhawse opened #152 "Question: Is the framework using Private APIs internally?"
#### Description

I noticed that in the file UIViewController+LNPopupSupportPrivate.m, and I think the framework is redirecting the private APIs to custom implementation. I assume this is safe for Apple's review process and should not cause troubles while submitting the app.

Is this assumption correct?

[2017-03-20 18:09] LeoNatan commented on #152
The framework does some runtime trickery in order to behave properly. It should be safe for App Store submission, and people have submitted apps with the framework.

If you prefer to have a strict version of the framework, add `#define LNPopupControllerEnforceStrictClean` in the framework’s PCH file. Know, however, that this will disable a lot of crucial functionality of the framework, such as upd

[2017-03-20 18:10] #152 closed

[2017-03-21 02:07] mattstrong commented on #151
Thanks a lot Leo

"Maps" example seems like a good approach to this

I think I'll try writing something from scratch. My initial thought would be to combine a Container View Controller structure with UIView​Controller​Interactive​Transitioning.

My assumption is that containment is needed for multiple view controllers to be on screen at the same time and UIView​Controller​Interactive​Transitioning

[2017-03-21 21:06] LeoNatan commented on #151
What are you trying to accomplish?
`UIView​Controller​Interactive​Transitioning` does not help with controller containers, it only helps with modal presentation.

[2017-03-22 01:31] mattstrong commented on #151
I'm essentially trying to accomplish what you showed in the Maps demo, but preferably with the presented view controller to actually be the popup bar itself. In the minimized state, this view controller would still be on screen

Here are two very interesting articles that outline how to achieve this functionality:

https://www.objc.io/issues/12-animations/custom-container-view-controller-transitio

[2017-03-22 01:43] mattstrong commented on #151
The article does however not mention if the approach is suitable when there are multiple child view controllers on screen before or after the transition

Any insight you might have on this Leo would be extremely helpful

[2017-03-22 07:28] LeoNatan commented on #151
Those articles mention specifically what that method is good for:

- Navigation controller pushes and pops
- Tab bar controller selection changes
- Modal presentations and dismissals

I don't this is what you need. You will need to implement all of the interaction yourself for the cards, like this framework. The fact that you are working with view controllers is irrelevant; there are only views on

[2017-03-22 07:31] LeoNatan commented on #151
I intend to work on your usecase soon, regardless.

If you start your own implementation, let me know. I'd like to take a look.

I also had in mind to create a Maps-like cards interface. I just haven't been able to decide whether it should be part of this framework or another.

[2017-03-22 09:38] LeoNatan commented on #66
@justin999 Thanks for pointing that out! It is indeed possible to create custom popup bars now. However, note that the default behavior is not supported with custom bar controllers?

[2017-03-22 12:38] #66 closed

[2017-03-22 12:42] LeoNatan commented on #23
@funkenstrahlen @bangtoven This is now supported properly when using a prominent bar (like iOS 10 Music app).

[2017-03-24 09:37] funkenstrahlen commented on #23
👍😃

[2017-03-28 16:40] RajChanchal commented on #144
Don't know myself, but I have seen repository owners providing a list of apps. Please do include an app I have worked on using your lib: [Mehad Hamad](https://itunes.apple.com/bj/app/mehad-hamad-myhd-hmd/id1014431425?mt=8)

[2017-03-28 18:42] LeoNatan commented on #144
Let's keep this _issue_ open, and let people who want to name their apps post here.

[2017-04-05 08:51] RajChanchal opened #153 "App crashes in iOS 9, working fine in iOS 10"
#### Description
App crashes in iOS 9. Following is the Fatal Exception:

StackTrace indicates the issue in LNPopupController.m file's line numebr 854:
`self.popupBar.systemShadowColor = [_bottomBar valueForKeyPath:str2];`
<img width="1267" alt="screen shot 2017-04-05 at 8 52 48 am" src="https://cloud.githubusercontent.com/assets/7058465/24696299/0d6c677c-19fa-11e7-8002-5a927fa74c9f.png">

#### St

[2017-04-05 08:53] LeoNatan commented on #153
Thanks!
Will fix this soon.

[2017-04-05 09:47] #153 closed

[2017-04-05 09:48] LeoNatan commented on #153
Please use v2.2.2 release.

[2017-04-05 09:55] RajChanchal commented on #153
Thanks a lot, Leo. Seems like the property of shadowView is inaccessible in iOS 9.

[2017-04-06 08:53] saltwat5r commented on #101
For me sample solution is setting `extendedLayoutIncludesOpaqueBars = true` in controller which shows the Popup Controller.

[2017-05-07 20:52] swasta opened #156 "hitTest in customBarViewController's view"
#### Description
I have a UITabBarController containing UIViewController. In this UIViewController I do

[code]

My CustomPopupBarViewController has a button, which is partially outside the bounds of its parent view. Red part of the button should be touchable, but it isn't. When I touch the red part of the button, the view under the popup bar reacts on the touch, but not the button itself.
![untit

[2017-05-08 07:59] user3587412 opened #157 "Popup bar does not fade correctly when opening the popup programmatically"
#### Description

When opening a popup with `openPopup`, the popup bar immediately disappears as the presenting animation starts. Opening the popup normally (e.g., `wantsDefaultTapGestureRecognizer = true`) fades out the popup bar while the popup opens.

#### Steps to Reproduce

The provided custom popup bar example "Maps" shows an example of this behavior.

<img src="https://cloud.githubuserconte

[2017-05-08 08:07] LeoNatan commented on #157
Thanks for reporting, I will take a look.

[2017-05-08 08:09] LeoNatan commented on #156
Could you provide a demo project?
I need to brush up my `hitTest` memory.

[2017-05-08 10:44] swasta commented on #156
I created [the demo project](https://github.com/swasta/Demo-for-LNPopupController), could you please check that out? If you tap on the top and bottom parts of the button, you'll see that outer part of the button doesn't react on touches. To fix this, I tried to follow
https://developer.apple.com/library/content/qa/qa2013/qa1812.html
http://stackoverflow.com/a/30431157/4933617

But hitTest() in my

[2017-05-09 10:34] LeoNatan commented on #156
Thank you. I will take a look soon.

[2017-05-11 05:48] dunqi opened #158 "Delegate for PopupController disappeared"
Hello,

is there a delegate that will be called, wenn I close the PopUpController with dragging?
Cause viewWillAppear / viewDidAppear will not be called.

I want to update the StatusBar-Style and some other things, If the PopUp closes.

[2017-05-14 21:21] LeoNatan commented on #158
There is no delegate method right now. What is your use-case here?

[2017-05-22 07:44] dunqi commented on #158
I want to reset StatusbarStyle - cause the PopUpController has .lightContent and the normal Tabak has .default

[2017-05-22 07:45] dunqi commented on #158
I make a workaround and make it in "viewWillDisappear" and "viewWillAppear", but thats no beautiful...

[2017-05-22 09:19] LeoNatan commented on #158
You should be using the view controller-based API. The `UIApplication` API is deprecated by Apple and not supported by `LNPopupController`.

[2017-05-22 11:43] dunqi commented on #158
You mean preferredStatusbarStyle? It didn't called, when the popup closes - but I will give it a second try

[2017-05-22 11:44] LeoNatan commented on #158
You might have disabled this in your Info.plist. Make sure view controller-based status bar management is either not present in Info.plist or set to `YES`. See the example project.

[2017-05-22 17:48] #158 closed

[2017-06-08 07:23] swasta opened #160 "Present popupBar only for one of the tabs"
#### Description
I have a `UITabBarController` with 3 `UIViewController`s. I'd like popupBar to be visible only on the 2nd ViewController, not on the 1st and 3rd ones. To achieve this I `presentPopupBar(withContentViewController: contentViewController, animated: true, completion: nil)` in my 2nd ViewController. And I also have a `dockingView` to prevent popupBar from being behind tabBar.

[code]

[2017-06-08 08:00] LeoNatan commented on #160
Interesting. This is not possible currently, and I am not sure it will be.
Let’s try an idea; what happens if you return the tab bar as your docking view?

[2017-06-08 08:21] swasta commented on #160
If I do

[code]

in my 2nd viewController, the popupBar shows on each tab. Even though I present it not on tabBarController, but on my 2nd viewController.
With this, opening the popupBar hides the tabBar, but closing the popup makes the popupBar go under the screen and there's a white space instead of tabBar.

[2017-06-08 21:35] LeoNatan commented on #160
Hmm right, as I actually add the popup content to the superview of the bottom bar.

You could hide and show the popup bar with `animated: NO`. What happens if you do that?

[2017-06-09 06:37] swasta commented on #160
Thanks, it worked! I dismiss popupBar for all tabs and present it for my 2nd tab.

[2017-06-09 07:45] LeoNatan commented on #160
Great. I will close the issue, as I do not have plans to add support for this in the API. Happy coding!

[2017-06-09 07:45] #160 closed

[2017-06-09 09:55] antiraum opened #161 "Is there a way to adjust the popup bar height dynamically?"
Thanks for this great component.

I'm using a `customBarViewController` for my popup bar. Depending on the horizontal size class I want to have different heights for the popup bar. My `LNPopupCustomBarViewController` subclass sets the `preferredContentSize` accordingly and the bar has the correct height when it's shown. But I'm not able to have the bar height change when the horizontal size class

[2017-06-09 13:08] LeoNatan commented on #161
Hmm this seems to be an oversight on my part. I will look to fix this soon.
In the mean time as a workaround, when the trait collection changes, dismiss and present the popup bar with no animation to trigger the height change.

[2017-06-10 19:22] LeoNatan opened #162 "Investigate iOS 11 beta issues"
Currently, there are several issues with iOS 11 beta that need investigation.

[2017-06-12 07:26] YuriyVelichkoPI opened #163 "Compile error for case sensitive file system"
#### Description

Typo in file LNPopupBar.h
#import <LNPOpupController/LNPopupCustomBarViewController.h>
leads to build error for case sensitive file system

#### Steps to Reproduce
Try to use framework in OS with case sensitive file system

#### Device, OS and Xcode Versions
MacOS: 10.12.4
Xcode: 8.3.2
File system:
Content (IOContent):      Apple_HFSX
   File System Personality:  Case-sensitive J

[2017-06-12 07:33] LeoNatan commented on #163
Oops! Thanks for reporting!

[2017-06-12 07:33] #163 closed

[2017-06-12 09:19] dunqi commented on #143
How to add support to open ViewController with https://github.com/HarshilShah/DeckTransition

[2017-06-12 12:29] YuriyVelichkoPI opened #164 "Is there a way to hide progress totally?"
#### Description
The LNPopupController is very handful tool. But I did not find a way to hide Progress view at all. It is possible?

If not, can you implement this feature?

[2017-06-12 19:26] LeoNatan commented on #164
In order to hide the progress view, set it to hidden.

[2017-06-13 06:23] YuriyVelichkoPI commented on #164
Sorry @LeoNatan, but can you point me how to o this. The progres view is a property in the private file. I have hide it by marking progress view by accessability identifier and extracting it from views hierarchy. But I supose that should be a more convinirnt way.
Thanks!

[2017-06-13 09:12] LeoNatan commented on #164
Hmm, I see. I’ll reopen this issue for now.

[2017-06-15 16:41] MosheBerman opened #165 "Does LNPopupCloseButtonStyle work correctly? (iOS 10 release version)"
#### Description

I'm using the framework as a git submodule, and have been using it since one of the earlier versions. I think I found an issue with LNPopupCloseButtonStyleNone. It seems that no matter how (`UIAppearance`  or by setting it directly on content view) or when (at app launch, or any of the view controller lifecycle methods) the property is ignored.

I'm using the latest version of th

[2017-06-15 17:00] MosheBerman commented on #165
Looks like I missed a Swift version of the enum `.none` in search... This is embarrassing, but I'm going to close this.

[2017-06-15 17:00] #165 closed

[2017-06-15 21:14] LeoNatan commented on #165
No worries, cheers!

[2017-06-20 00:40] SoyArpad commented on #140
@lemanhtien hi, how did you disabled the swiping down from the top? can you give me an example?

[2017-06-20 07:53] LeoNatan commented on #140
@SoyArpad What are you trying to achieve?

[2017-06-20 07:56] SoyArpad commented on #140
I don't want the gesture of swipe down to dismiss because is blocking the gestures of my custom slider

[2017-06-20 07:57] LeoNatan commented on #140
You can implement `viewForPopupInteractionGestureRecognizer` to return `nil`. This will disable the interactive gesture for open popups.

[2017-06-20 07:59] SoyArpad commented on #140
So I need to subclass my navigation controller and override that property? But is it an optional? Can you give me a little example?

[2017-06-20 08:02] LeoNatan commented on #140
You need to subclass the controller you are presenting in the popup controller. If you are presenting a navigation controller, you need to subclass that.

[2017-06-20 08:11] LeoNatan commented on #140
Read the header file documentation for this. It explains how to use.

[2017-06-21 04:07] Rchalla769 commented on #162
This is the error when I try to present the popup controller in iOS 11, just to help you try and isolate some of the bugs.

2017-06-20 20:54:30.778237-0700 we.fm[312:10349] *** Assertion failure in -[UIVisualEffectView _addSubview:positioned:relativeTo:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKit/UIKit-3678.13/UIVisualEffectView.m:1364
2017-06-20 20:54:30.780881-0700 we.fm[312:10349] *

[2017-06-21 06:51] LeoNatan commented on #162
Yes, I am familiar with this issue. I insert subviews directly to the visual effects view, rather than into its content view.

[2017-06-21 13:55] MosheBerman commented on #162
Can you list some of the issues here, so that we know what's being worked on? (To avoid duplicate issues, as above.)

[2017-06-22 20:01] LeoNatan commented on #162
On the short run:
- The issue above
- There seem to be an issue with tapping bar button items
- 3D Touch issues while interacting

On the long run, I want to take a look at the new margin systems in iOS 11. Could help me reduce the internal need to swizzle so much. Maybe I can finally implement all the functionality with public APIs.

[2017-06-26 21:27] swasta opened #167 "UITabBar item titles get misplaced"
#### Description
I have a UITabBarController and I want to show popupBar only for one of the VCs, so I dismiss popupBar for every VC except one. My custom popupBar is red with a blue button in the middle. But something is wrong with tabBar.
![simulator screen shot 27 jun 2017 00 01 50](https://user-images.githubusercontent.com/5530878/27560571-5d065eaa-5acd-11e7-8fe4-24ed40bacbbc.png)
![simulator

[2017-06-27 12:27] LeoNatan commented on #167
This is a strange issue. I will look soon in your test project.

Regarding hiding the progress bar, the enhancement is tracked in #164. I will be implementing it soon.

[2017-06-29 12:02] swasta commented on #167
By the way, on iOS 11 tabBar stays where it should be. However in my log I see

[code]

My structure is:

UITabBarController has UIViewController which calls tabBarController?.presentPopupBar.

But moreover, when I present anything modally from my `customPopupBarViewController` on iOS11, after dismissing it, instead of opened `popupBar` with `customPopupBarViewController` I see my UIViewController

[2017-06-29 12:11] LeoNatan commented on #167
iOS 11 issues should be reported in the iOS 11 thread. Thanks. I have not had time to investigate possible issues in iOS 11. Seems like a lot has changed under the hood.

[2017-06-30 00:12] gu1llaum3 opened #168 "Map example Demo issue"
Hello,

I tried to launch the demo of the custom popup bar which is related to the map.
It appears that half of the map is blank. I can find where is the problem, actually i didn't try to modify the demo yet. Could you help me please ?

I'm working on Version 8.3.3 on mac OS Sierra 10.12.5.

You can see the attachment for more information :)

Best regards,

Guillaume

![image](https://user-images.

[2017-06-30 05:50] LeoNatan commented on #168
If you move the map around, does the white go away?

I’m don’t have this reproduce on my end.

[2017-06-30 08:20] gu1llaum3 commented on #168
I'm currently just opening it and do not interract with it.
By the way, I tried to implement it with a Google Maps View, it appears perfectly at the bottom and the swipe gesture looks great. But I still have this issue where half of the screen is white.

I followed this post to integrate the library : https://github.com/LeoNatan/LNPopupController/issues/113#issuecomment-264683130.
Maybe that's why

[2017-06-30 10:18] LeoNatan commented on #168
As I’ve explained in the past, CocoaPods is not supported. Please use the documented ways of integration.

I am not sure this is causing the issue. Please attach the output of `po [[UIWindow keyWindow] recursiveDescription]`.

[2017-07-04 21:45] gu1llaum3 commented on #168
Here is the result of the recursive description :

[code]

[2017-07-04 21:48] gu1llaum3 commented on #168
Here is a screenshot ;
<img width="1168" alt="map" src="https://user-images.githubusercontent.com/28400955/27843385-3926d932-6113-11e7-902f-ec0a2bddab42.png">

[2017-07-05 17:49] LeoNatan commented on #168
I see no `MKMapView` in that recursive description. Make sure to call this when the map is displayed.

[2017-07-06 11:59] gu1llaum3 commented on #168
I'm sorry Idon't get it, actually the MKMapView is displayed (see the screenshot) so what should I do ?
Could you give me an example please ?
Thanks :)

[2017-07-06 17:45] gu1llaum3 commented on #168
I wasn't on the map view, you were right. Here is the good recursive description :)

   |    |    |    |    |    |    |    | <GGLOpenGLESLayer: 0x6000000adc20> (layer)
   |    |    |    | <MKAttributionLabel: 0x7f9c7571e1c0; frame = (19 574.26; 28.5566 10.7402); alpha = 0.5; opaque = NO; autoresize = RM+TM; userInteractionEnabled = NO; layer = <CALayer: 0x61000002c6a0>>
   |    |    |    | <MKScal

[2017-07-15 09:35] LeoNatan commented on #168
I am unable to reproduce this issue, and the provided information doesn’t help. The second recursive description is also missing information. I am closing this issue for now.

[2017-07-15 09:35] #168 closed

[2017-07-15 11:58] LeoNatan commented on #168
Reproduced on Xcode 9. Investigating, but looks like an Apple bug.

[2017-07-15 12:19] #164 closed

[2017-07-15 12:41] LeoNatan commented on #161
I implemented this. I will soon release a new version.

[2017-07-15 12:42] #161 closed

[2017-07-15 12:52] LeoNatan commented on #162
Fixed all known issues. Investigation of new features will come as a new issue later.

[2017-07-15 12:52] #162 closed

[2017-07-15 12:53] LeoNatan commented on #143
@dunqi I don’t think the two are compatible.

[2017-07-15 12:55] LeoNatan commented on #157
This issue has been resolved in master. I will have a new release soon.

[2017-07-15 12:55] #157 closed

[2017-07-15 15:37] user3587412 commented on #157
Thank you!

[2017-07-15 18:00] LeoNatan commented on #157
Thank you for using my framework!

[2017-07-17 12:04] SolfaMode opened #169 "dismissPopupBarAnimated:completion does not work anymore"
#### Description
In LNPopupController:
dismissPopupBarAnimated:completion sets dismissalOverride before calling _transitionToState
Since commit 01ba62c _dismissalOverride == YES blocks all _transitionToState effects.

[2017-07-17 12:05] LeoNatan commented on #169
Oh no. Thanks, will look.

[2017-07-17 20:53] #169 closed

[2017-07-18 10:23] antiraum commented on #161
works great. thx!

[2017-07-18 13:33] antiraum opened #170 "function of custom popupInteractionGestureRecognizer delegate is not called"
Using version 2.3.1, iOS 10, Xcode 8.

I'm assigning a custom delegate to the `popupInteractionGestureRecognizer` like this:

[code]

My implementation of `gestureRecognizer(_ gestureRecognizer: UIGestureRecognizer, shouldReceive touch: UITouch)` is not called:

[code]

[2017-07-19 07:29] tommi commented on #152
While I appreciate all the work that @LeoNatan you have done, shouldn't the use of non-public APIs be clearly disclosed in the README.md?

[2017-07-19 12:41] LeoNatan commented on #152
@tommi I understand what you are saying. My worry is that people will not even try to understand how this API is used and masked. I don’t know, this has been a sore point for me, as seen by the existence of `LNPopupControllerEnforceStrictClean` in there. My issue is that without the non-public API, the framework cannot achieve many of its goals. Perhaps with iOS 11 now, it will be possible, but I

[2017-07-27 11:29] atulkhatri commented on #144
I'm a proud user of this repository as well. We have integrated this in our app [VuLiv Player](https://itunes.apple.com/in/app/vuliv/id1042979561). You may include it in your list.

[2017-07-31 17:48] wytemusic commented on #94
@glennposadas have you ported it to Swift? I'm currently trying to to the same (porting it to Swift) and I am somewhat stuck and don't know where to begin.

[2017-07-31 17:51] glennposadas commented on #94
@wytemusic Everything written in Objective-C can be used in your Swift project easily by using `Bridging Header`. Thus you should be able to use this library without re-writing anything. Search for that and you shall be enlightened. It's pretty easy.

Also, author says:

[2017-07-31 18:14] LeoNatan commented on #94
BTW, @glennposadas, it is now possible to provide custom bars with custom heights. (Not sure if you are up to date with the updates of the framework.)

[2017-07-31 20:35] wytemusic commented on #94
@LeoNatan My project is always crashing because of an unrecognised selector being sent to an instance. May I send you my project (it is extremely small and only for testing purposes of the controller intended) for you to review it? A second pair of eyes is always useful. Thank you in advance!

[2017-08-01 09:39] wytemusic commented on #94
@glennposadas what is the procedure? How should my bridging header look like? I'm fairly new into programming for iOS and have never really worked with obj c code. Thus I would really appreciate your help! :)

[2017-08-01 11:12] LeoNatan commented on #94
Please open a dedicated issue, and paste the relevant portions of your code that is crashing.

[2017-08-01 11:12] LeoNatan commented on #94
But please note that this is not a support forum. There are many, many resources to help you set up a bridging header, including guides by Apple. Please read those.

[2017-08-01 11:51] wytemusic commented on #94
@LeoNatan the code is not crashing because of a bug. I have just trouble setting it up.
Regarding your example project: I essentially want to copy the music player into another project. I tried to copy the swift files regarding the music player and the storyboard (Music.storyboard) content and importing the framework via Carthage. That doesn't work properly. It doesn't crash but for example clicki

[2017-08-01 11:55] LeoNatan commented on #94
`previewingViewControllerForPopupBar:` (and the Swift equivalent) is a delegate method for 3D touch support (force–press on the bar on devices that support that). It is not required.

`_presentBar:` and `_dismissBar:` are internal example logic that present and dismiss the popup. Instead of copying them, try to understand the logic there (the music app is very simple), and try to implement it on y

[2017-08-01 12:31] wytemusic commented on #94
Thank you for your help!

[2017-08-01 21:41] wytemusic opened #171 "Title and Buttons are misaligned in the bar"
#### Description
While implementing LNPopupController into my Swift project I came across one "bug". At this point I'm not entirely sure if it is based on the framework itself or my implementation of it. Though I believe it is the latter.
After having the bar appeared the labels (title, subtitle) and the buttons (left and right) are misaligned. They are shifted quite far to the left of the screen.